{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.address.title") %}

{% block form %}
  {% call fieldset({
    legend: {
      html: appHeading({
        classes: "nhsuk-fieldset__legend--l",
        caption: vaccination.patient.fullName,
        title: title
      })
    }
  }) %}
    {{ input({
      label: { text: __("location.name.label") },
      decorate: "vaccination.locationName"
    }) }}

    {{ input({
      label: { text: __("location.addressLine1.label") + " (optional)" },
      autocomplete: "address-line1",
      decorate: "vaccination.addressLine1"
    }) }}

    {{ input({
      label: { text: __("location.addressLine2.label") + " (optional)" },
      autocomplete: "address-line2",
      decorate: "vaccination.addressLine2"
    }) }}

    {{ input({
      classes: "nhsuk-u-width-two-thirds",
      label: { text: __("location.addressLevel1.label") },
      autocomplete: "address-level1",
      decorate: "vaccination.addressLevel1"
    }) }}

    {{ radios({
      fieldset: {
        legend: {
          text: __("vaccination.country.title")
        }
      },
      items: [
        {
          text: __("vaccination.country.england")
        },
        {
          text: __("vaccination.country.scotland")
        },
        {
          text: __("vaccination.country.wales")
        },
        {
          text: __("vaccination.country.ni")
        },
        {
          text: __("vaccination.country.other"),
          conditional: {
            html: select({
              label: { text: __("vaccination.countryOther.title") },
              items: otherCountryItems(Country, vaccination.countryOther),
              decorate: "vaccination.countryOther",
              attributes: {
                "data-module": "app-autocomplete"
              }
            })
          }
        }
      ],
      decorate: "vaccination.country"
    }) }}
  {% endcall %}
{% endblock %}
