{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.administer.title") %}

{% block form %}
  {{ heading({
    caption: record.fullName,
    title: title
  }) if campaign.vaccine.method == VaccineMethod.Injection }}

  {{ input({
    type: "hidden",
    value: "full",
    decorate: "vaccination.dosage"
  }) if campaign.vaccine.method == VaccineMethod.Injection else radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: record.fullName,
          title: __("vaccination.dosage.title")
        })
      }
    },
    items: [{
      text: __("vaccination.dosage.full"),
      value: "full"
    }, {
      text: __("vaccination.dosage.half"),
      value: "half"
    }],
    decorate: "vaccination.dosage"
  }) }}

  {{ input({
    type: "hidden",
    value: VaccinationSequence.P1,
    decorate: "vaccination.sequence"
  }) if campaign.vaccine.sequenceLimit }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("vaccination.method.label")
      }
    },
    items: injectionMethodItems,
    decorate: "vaccination.injectionMethod"
  }) if campaign.vaccine.method == VaccineMethod.Injection }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("vaccination.site.label")
      }
    },
    items: injectionSiteItems,
    decorate: "vaccination.injectionSite"
  }) if campaign.vaccine.method == VaccineMethod.Injection }}
{% endblock %}
