{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.batch.title") %}

{% block form %}
  {{ heading({
    caption: vaccination.patient.fullName,
    title: title
  }) }}

  {{ input ({
    classes: "nhsuk-input--width-10 app-u-monospace",
    label: { text: __("batch.id.label") },
    decorate: "vaccination.batch_id"
  }) }}

  {{ dateInput({
    fieldset: {
      legend: { text: __("batch.expiry.label") }
    },
    hint: { text: __("batch.expiry.hint") },
    decorate: "vaccination.batch_expiry_"
  }) }}
{% endblock %}
