{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.batch_id.title", { vaccination: vaccination }) if type == "new" else __("vaccination.batch_id.label") %}

{% block form %}
  {% set batches = [] %}
  {% for batch in batchItems | sort(false, false, "id") %}
    {% set batches = batches | push({
      html: batch.formattedId + " (" + batch.vaccine.brand + ")",
      value: batch.id,
      hint: {
        text: "Expires " + batch.formattedExpiry
      },
      conditional: {
        html: checkboxes({
          items: [{
            text: __("defaultBatch.id.title"),
            value: batch.id
          }],
          decorate: "defaultBatchId"
        })
      } if type == "new"
    }) %}
  {% endfor %}

  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    items: batches,
    decorate: "vaccination.batch_id"
  }) }}
{% endblock %}
