{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("vaccination.new.check-answers.title") %}

{% block form %}
  {{ heading({
    caption: vaccination.patient.fullName,
    title: title
  }) }}

  {{ card({
    heading: __("vaccination.new.check-answers.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(vaccination, {
        vaccine_gtin: {},
        method: {
          href: vaccination.uri + "/new/administer" if vaccination.vaccine.method == VaccineMethod.Injection
        },
        site: {
          href: vaccination.uri + "/new/administer" if vaccination.vaccine.method == VaccineMethod.Injection
        },
        dose: {
          href: vaccination.uri + "/new/administer" if vaccination.vaccine.method == VaccineMethod.Nasal else vaccination.uri + "/new/dose"
        },
        sequence: {
          href: vaccination.uri + "/new/sequence"
        },
        batch_id: {
          href: vaccination.uri + "/new/batch-id"
        },
        createdAt: {
          href: vaccination.uri + "/new/created-at"
        },
        createdBy: {
          href: vaccination.uri + "/new/created-by"
        },
        location: {
          href: vaccination.uri + "/new/location"
        },
        protocol: {}
      })
    })
  }) if vaccination.outcome == "Vaccinated" or vaccination.outcome == "Partially vaccinated" else warningCallout({
    heading: __("vaccination.new.check-answers.callout"),
    HTML: summaryList({
      rows: summaryRows(vaccination, {
        vaccine_gtin: {},
        outcome: {
          href: vaccination.uri + "/new/decline"
        },
        createdAt: {
          href: vaccination.uri + "/new/created-at"
        },
        location: {}
      })
    })
  }) }}

  {{ card({
    headingHtml: " ",
    descriptionHtml: textarea({
      label: {
        classes: "nhsuk-label--m nhsuk-u-margin-bottom-2",
        text: __("vaccination.note.label")
      },
      hint: { text: __("vaccination.note.hint") },
      decorate: "vaccination.note"
    })
  }) }}
{% endblock %}
