{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.created_user_uid.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    items: userItems,
    decorate: "vaccination.created_user_uid"
  }) }}
{% endblock %}
