{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.locationType.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    items: [
      {
        text: LocationType.Home
      },
      {
        text: LocationType.Clinic,
        conditional: {
          html: select({
            label: { text: __("vaccination.clinic_id.title") },
            items: locationItems(data.clinics, vaccination.clinic_id),
            decorate: "vaccination.clinic_id",
            attributes: {
              "data-module": "app-autocomplete"
            }
          })
        }
      },
      {
        text: LocationType.School,
        conditional: {
          html: select({
            label: { text: __("vaccination.school_id.title") },
            items: locationItems(data.schools, vaccination.school_id),
            decorate: "vaccination.school_id",
            attributes: {
              "data-module": "app-autocomplete"
            }
          })
        }
      },
      {
        divider: "or"
      },
      {
        text: LocationType.Other,
        hint: { text: __("vaccination.locationOther.hint") }
      }
    ],
    decorate: "vaccination.locationType"
  }) }}
{% endblock %}
