{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.location.title") %}

{% block form %}
  {{ input({
    label: {
      html: heading({
        classes: "nhsuk-fieldset__legend--l",
        caption: record.fullName,
        title: title
      })
    },
    hint: {
      text: __("vaccination.location.hint")
    },
    decorate: "vaccination.location"
  }) }}
{% endblock %}
