{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.sequence.title." + programme.type) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    items: sequenceItems,
    decorate: "vaccination.sequence"
  }) }}
{% endblock %}
