{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.vaccine_gtin.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: record.fullName,
          title: title
        })
      }
    },
    items: vaccineItems,
    decorate: "vaccination.vaccine_gtin"
  }) }}
{% endblock %}
