{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.vaccine_snomed.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    items: vaccineItems,
    decorate: "vaccination.vaccine_snomed"
  }) }}
{% endblock %}
