{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("invite.edit.confirm") %}
{% set title = __("invite.edit.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        html: heading({
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: sessionIdItems,
    decorate: "patient.session_id"
  }) }}
{% endblock %}
