{% extends "_layouts/form.njk" %}

{% set title = __("organisation.sessionOpenDelay.title") %}

{% block form %}
  {{ input({
    classes: "nhsuk-input--width-2",
    label: {
      html: heading({
        caption: organisation.name,
        title: title
      })
    },
    hint: { text: __("organisation.sessionOpenDelay.hint") },
    suffix: "weeks",
    decorate: "organisation.sessionOpenDelay"
  }) }}
{% endblock %}
