{% extends "_layouts/form.njk" %}

{% set title = __("organisation.password.title") %}

{% block form %}
  {{ govukPasswordInput({
    label: {
      classes: "nhsuk-label--l",
      html: appHeading({
        caption: organisation.name,
        title: title
      })
    },
    hint: { text: __("organisation.password.hint") },
    id: "organisation-password",
    name: "[organisation][password]",
    value: organisation.password
  }) }}
{% endblock %}
