{% extends "_layouts/form.njk" %}

{% set title = __("organisation.password.title") %}

{% block form %}
  {{ govukPasswordInput({
    label: {
      classes: "nhsuk-label--l",
      html: heading({
        caption: organisation.name,
        title: title
      })
    },
    hint: { text: __("organisation.password.hint") },
    id: "organisation-password",
    name: "[organisation][password]",
    value: organisation.password
  }) | replace("govuk-button", "nhsuk-button") | replace("govuk-form", "nhsuk-form") | replace("govuk-hint", "nhsuk-hint") | replace("govuk-input", "nhsuk-input") | replace("govuk-label", "nhsuk-label") }}
{% endblock %}
