{% extends "_layouts/form.njk" %}

{% set title = __("organisation.reminders.title") %}

{% block form %}
  {{ heading({
    caption: organisation.name,
    title: title
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-6"
    },
    classes: "nhsuk-input--width-2",
    label: {
      classes: "nhsuk-label--m",
      text: __("organisation.sessionReminderDelay.title")
    },
    hint: { text: __("organisation.sessionReminderDelay.hint") },
    suffix: "days",
    decorate: "organisation.sessionReminderDelay"
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-6"
    },
    classes: "nhsuk-input--width-2",
    label: {
      classes: "nhsuk-label--m",
      text: __("organisation.sessionReminderInt.title")
    },
    hint: { text: __("organisation.sessionReminderInt.hint") },
    suffix: "days",
    decorate: "organisation.sessionReminderInt"
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-6"
    },
    classes: "nhsuk-input--width-2",
    label: {
      classes: "nhsuk-label--m",
      text: __("organisation.sessionReminderMax.title")
    },
    hint: { text: __("organisation.sessionReminderMax.hint") },
    decorate: "organisation.sessionReminderMax"
  }) }}

  {{ radios({
    classes: "nhsuk-radios--inline",
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("organisation.sessionReminderMethod.title")
      }
    },
    hint: { text: __("organisation.sessionReminderMethod.hint") },
    items: booleanItems,
    decorate: "organisation.sessionReminderMethod"
  }) }}
{% endblock %}
