{% extends "_layouts/form.njk" %}

{% set title = __("organisation.sessions.title") %}

{% block form %}
  {{ heading({
    caption: organisation.name,
    title: title
  }) }}

  {{ insetText({
    html: __("organisation.sessions.text") | nhsukMarkdown
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    classes: "nhsuk-input--width-2",
    label: {
      classes: "nhsuk-label--m",
      text: __("organisation.sessionOpenWeeks.title")
    },
    hint: { text: __("organisation.sessionOpenWeeks.hint") },
    suffix: "weeks",
    decorate: "organisation.sessionOpenWeeks"
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    classes: "nhsuk-input--width-2",
    label: {
      classes: "nhsuk-label--m",
      text: __("organisation.sessionReminderWeeks.title")
    },
    hint: { text: __("organisation.sessionReminderWeeks.hint") },
    suffix: "weeks",
    decorate: "organisation.sessionReminderWeeks"
  }) }}

  {{ radios({
    classes: "nhsuk-radios--inline",
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("organisation.sessionRegistration.title")
      }
    },
    items: booleanItems,
    decorate: "organisation.sessionRegistration"
  }) }}
{% endblock %}
