{% extends "_layouts/form.njk" %}

{% set title = __("review.archived.title") %}
{% set confirmButtonText = __("review.archived.confirm") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          caption: patient.fullName,
          title: title
        })
      }
    },
    hint: {
      text: __("review.archived.hint", ArchiveRecordReason.Error)
    },
    items: [{
      text: __("review.decision.restore.label"),
      value: "restore"
    }, {
      text: __("review.decision.ignore.label"),
      value: "ignore"
    }],
    decorate: "decision"
  }) }}
{% endblock %}
