{% from "upload/_navigation.njk" import uploadNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = __("upload.reviews.title") + " – " + __("upload.list.title") %}

{% block content %}
  {{ super() }}

  {{ uploadNavigation({
    view: "reviews"
  }) }}

  {% if pendingReviews %}
    {% set reviewRows = [] %}
    {% for id, pendingPatients in pendingReviews %}
      {% for patient in pendingPatients %}
        {% set reviewRows = reviewRows | push([
          {
            header: __("patient.fullName.label"),
            html: patient.fullName or "Not provided"
          },
          {
            header: __("upload.issue.label"),
            html: __("upload.issue.text")
          },
          {
            header: __("actions.label"),
            html: actionList({
              items: [{
                text: __("actions.review"),
                href: "/uploads/reviews/" + id + "/" + patient.nhsn + "?referrer=/uploads/reviews/"
              }]
            })
          }
        ]) %}
      {% endfor %}
    {% endfor %}

    {{ table({
      id: "reviews",
      heading: __n("upload.reviews.count", reviews.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("patient.label") },
        { text: __("upload.issue.label") },
        { text: __("actions.label") }
      ],
      rows: reviewRows
    }) }}
  {% else %}
    {{ __n("upload.reviews.count", 0) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
