{% from "upload/_navigation.njk" import uploadNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = __("upload.reviews.title") + " – " + __("upload.list.title") %}

{% block content %}
  {{ super() }}

  {{ uploadNavigation({
    view: "reviews"
  }) }}

  {% if reviews.length %}
    {% for upload in reviews %}
      {% set reviewRows = [] %}
      {% set type = "vaccination" if upload.type == UploadType.Report else "child" %}
      {% for patient in upload.duplicates %}
        {% set reviewRows = reviewRows | push([
          {
            header: __("patient.fullName.label"),
            html: patient.fullName
          },
          {
            header: __("review.label"),
            html: __("review.duplicate.description", type)
          },
          {
            header: __("actions.label"),
            html: appActionList({
              items: [{
                text: __("actions.review"),
                href: "/uploads/reviews/" + upload.id + "/" + patient.nhsn
              }]
            })
          }
        ]) %}
      {% endfor %}

      {% set cardDescriptionHtml %}
        {{ summaryList({
          rows: summaryRows(upload, {
            createdBy: {},
            fileName: {},
            type: {},
            school: {}
          })
        }) }}

        {{ table({
          heading: upload.formatted.createdAt,
          caption: __mf("review.count", { count: reviewRows.length }),
          responsive: true,
          head: [
            {
              text: __("patient.label"),
              attributes: {
                width: "30%"
              }
            },
            {
              text: __("review.label"),
              attributes: {
                width: "60%"
              } },
            {
              text: __("actions.label"),
              attributes: {
                width: "10%"
              }
            }
          ],
          rows: reviewRows
        }) }}
      {% endset %}

      {{ card({
        id: upload.id,
        heading: upload.formatted.createdAt,
        feature: true,
        descriptionHtml: cardDescriptionHtml
      }) }}
    {% endfor %}
  {% else %}
    {{ __mf("review.count", { count: 0 }) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
