{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set title = __("upload.review.title") %}
{% set confirmButtonText = __("upload.review.confirm") %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ warningCallout({
    heading: __("upload.issue.title"),
    headingLevel: 2,
    text: __("upload.issue.text")
  }) }}

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {% set descriptionHtml %}
        {{ summaryList({
          rows: summaryRows(duplicatePatient, {
            nhsn: {},
            fullName: {},
            dob: {
              value: duplicatePatient.formatted.dob | highlightDifference(patient.formatted.dob)
            },
            gender: {},
            postalCode: {},
            school: {}
          })
        }) }}

        {% if duplicatePatient.vaccinations[0] %}
          <h3 class="nhsuk-heading-s">{{ __("upload.review.duplicate.vaccination") }}</h3>
          {{ summaryList({
            rows: summaryRows(duplicatePatient.vaccinations[0], {
              outcome: {},
              vaccine_snomed: {},
              method: {},
              site: {},
              dose: {},
              sequence: {},
              batch: {},
              location: {},
              createdAt: {
                value: duplicateVaccination.formatted.createdAt | highlightDifference(vaccination.formatted.createdAt)
              },
              createdBy: {},
              updatedAt: {},
              protocol: {}
            })
          }) }}
        {% endif %}
      {% endset %}

      {{ card({
        feature: true,
        heading: __("upload.review.duplicate.label"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: descriptionHtml
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {% set descriptionHtml %}
        {{ summaryList({
          rows: summaryRows(patient, {
            nhsn: {},
            fullName: {},
            dob: {},
            gender: {},
            postalCode: {},
            school: {}
          })
        }) }}

        {% if patient.vaccinations[0] %}
          <h3 class="nhsuk-heading-s">{{ __("upload.review.original.vaccination") }}</h3>
          {{ summaryList({
            rows: summaryRows(patient.vaccinations[0], {
              outcome: {},
              vaccine_snomed: {},
              method: {},
              site: {},
              dose: {},
              sequence: {},
              batch: {},
              location: {},
              createdAt: {},
              createdBy: {},
              updatedAt: {},
              protocol: {}
            })
          }) }}
        {% endif %}
      {% endset %}

      {{ card({
        feature: true,
        heading: __("upload.review.original.label"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: descriptionHtml
      }) }}
    </div>
  </div>

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-width-one-half"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("upload.review.decision.label")
      }
    },
    items: [{
      text: __("upload.review.decision.duplicate.label"),
      hint: { text: __("upload.review.decision.duplicate.hint") },
      value: "duplicate"
    }, {
      text: __("upload.review.decision.original.label"),
      hint: { text: __("upload.review.decision.original.hint") },
      value: "original"
    }],
    decorate: "decision"
  }) }}
{% endblock %}
