{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("vaccination.edit.title") %}

{% block form %}
  {{ super() }}

  {{ heading({
    caption: record.fullName,
    title: title
  }) }}

  {{ card({
    heading: __("vaccination.edit.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(vaccination, {
        vaccine_gtin: {
          href: "edit/vaccine"
        },
        outcome: {
          href: "edit/outcome"
        },
        method: {
          href: "edit/injection" if vaccination.vaccine.method == VaccineMethod.Injection
        },
        site: {
          href: "edit/injection" if vaccination.vaccine.method == VaccineMethod.Injection
        },
        dose: {
          href: "edit/dose"
        },
        sequence: {
          href: "edit/sequence"
        },
        batch_id: {
          href: "edit/batch"
        },
        batch_expiry: {
          href: "edit/batch"
        },
        location: {
          href: "edit/location"
        },
        created: {
          href: "edit/created"
        },
        created_user_uid: {
          value: users[vaccination.created_user_uid].fullName,
          href: "edit/created-user-uid"
        },
        protocol: {},
        note: {
          href: "edit/note"
        }
      })
    })
  }) }}
{% endblock %}
