{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("vaccination.edit.title") %}

{% block form %}
  {{ super() }}

  {{ heading({
    caption: vaccination.patient.fullName,
    title: title
  }) }}

  {{ card({
    heading: __("vaccination.edit.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(vaccination, {
        vaccine_snomed: {
          href: "edit/vaccine"
        },
        outcome: {
          href: "edit/outcome"
        },
        method: {
          href: "edit/injection" if vaccination.vaccine.method == VaccineMethod.Injection
        },
        site: {
          href: "edit/injection" if vaccination.vaccine.method == VaccineMethod.Injection
        },
        dose: {
          href: "edit/dose"
        },
        sequence: {
          href: "edit/sequence"
        },
        batch: {
          href: "edit/batch"
        },
        location: {
          href: "edit/location"
        },
        createdAt: {
          href: "edit/created-at"
        },
        createdBy: {
          href: "edit/created-by"
        },
        protocol: {},
        note: {
          href: "edit/note"
        }
      })
    })
  }) }}
{% endblock %}
