{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set title = __("vaccination.review.title") %}
{% set confirmButtonText = __("vaccination.review.confirm") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("programme.list.title"),
      href: "/programmes"
    }, {
      text: data.programmes[vaccination.programme_pid].type,
      href: "/programmes/" + vaccination.programme_pid
    }],
    text: __("programme.reviews.title"),
    href: "/programmes/" + vaccination.programme_pid + "/reviews"
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ heading({
    caption: record.fullName,
    title: title
  }) }}

  {{ warningCallout({
    heading: __("vaccination.review.issue.title"),
    HTML: __("vaccination.review.issue.text") | nhsukMarkdown
  }) }}

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {% set descriptionHtml %}
        <h3 class="nhsuk-heading-s">{{ __("vaccination.review.duplicate.record") }}</h3>

        {{ summaryList({
          rows: summaryRows(duplicateRecord, {
            nhsn: {},
            fullName: {},
            dob: {
              value: duplicateRecord.formatted.dob | highlightDifference(record.formatted.dob)
            },
            sex: {},
            postalCode: {},
            urn: {}
          })
        }) }}

        <h3 class="nhsuk-heading-s">{{ __("vaccination.review.duplicate.vaccination") }}</h3>
        {{ summaryList({
          rows: summaryRows(duplicateVaccination, {
            outcome: {},
            vaccine_gtin: {},
            method: {},
            site: {},
            dose: {},
            sequence: {},
            batch_id: {},
            batch_expires: {},
            location: {},
            created: {},
            created: {
              value: duplicateVaccination.formatted.created | highlightDifference(vaccination.formatted.created)
            },
            updated: {},
            created_user_uid: {
              value: users[vaccination.created_user_uid].fullName
            },
            protocol: {}
          })
        }) }}
      {% endset %}

      {{ card({
        feature: true,
        heading: __("vaccination.review.duplicate.label"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: descriptionHtml
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {% set descriptionHtml %}
        <h3 class="nhsuk-heading-s">{{ __("vaccination.review.original.record") }}</h3>

        {{ summaryList({
          rows: summaryRows(record, {
            nhsn: {},
            fullName: {},
            dob: {},
            sex: {},
            postalCode: {},
            urn: {}
          })
        }) }}

        <h3 class="nhsuk-heading-s">{{ __("vaccination.review.original.vaccination") }}</h3>
        {{ summaryList({
          rows: summaryRows(vaccination, {
            outcome: {},
            vaccine_gtin: {},
            method: {},
            site: {},
            dose: {},
            sequence: {},
            batch_id: {},
            batch_expires: {},
            location: {},
            created: {},
            updated: {},
            created_user_uid: {
              value: users[vaccination.created_user_uid].fullName
            },
            protocol: {}
          })
        }) }}
      {% endset %}

      {{ card({
        feature: true,
        heading: __("vaccination.review.original.label"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: descriptionHtml
      }) }}
    </div>
  </div>

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-width-one-half"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("vaccination.review.decision.label")
      }
    },
    items: [{
      text: __("vaccination.review.decision.duplicate.label"),
      hint: { text: __("vaccination.review.decision.duplicate.hint") },
      value: "duplicate"
    }, {
      text: __("vaccination.review.decision.original.label"),
      hint: { text: __("vaccination.review.decision.original.hint") },
      value: "original"
    }],
    decorate: "decision"
  }) }}
{% endblock %}
