{% extends "_layouts/default.njk" %}

{% set title = record.fullName %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }, {
      text: data.programmes[vaccination.programme_pid].type,
      href: "/programmes/" + vaccination.programme_pid
    }],
    text: __("programme.vaccinations.title"),
    href: "/programmes/" + vaccination.programme_pid + "/vaccinations"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      title: title
    }) }}

    {{ card({
      heading: __("record.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(record, {
          nhsn: {
            changeLabel: "the child’s NHS number",
            href: vaccination.uri + "/patient/" + record.nhsn + "/edit/nhsn" if record.missingNhsNumber
          },
          fullName: {},
          dobWithAge: {},
          sex: {},
          postalCode: {},
          urn: {},
          parents: {}
        })
      })
    }) }}

    {{ card({
      heading: __("vaccination.show.summary"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(vaccination, {
          outcome: {},
          vaccine_gtin: {},
          method: {},
          site: {},
          dose: {},
          sequence: {},
          batch_id: {},
          batch_expires: {},
          location: {},
          created: {},
          updated: {},
          created_user_uid: {
            value: users[vaccination.created_user_uid].fullName
          },
          protocol: {}
        })
      }) + button({
        classes: "app-button--secondary nhsuk-u-margin-0",
        text: __("vaccination.edit.title"),
        href: vaccination.uri + "/edit"
      })
    }) }}
  </div>
{% endblock %}
