{% extends "_layouts/default.njk" %}

{% set title = vaccination.patient.fullName %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }, {
      text: vaccination.patientSession.programme.name,
      href: "/programmes/" + vaccination.patientSession.programme_id
    }, {
      text: __("programme.patientSessions.title"),
      href: "/programmes/" + vaccination.patientSession.programme_id + "/patients"
    }, {
      text: vaccination.patientSession.patient.fullName,
      href: vaccination.patientSession.uri
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ appHeading({
      title: title
    }) }}

    {% set recordDescriptionHtml %}
      {{ summaryList({
        rows: summaryRows(vaccination.patient, {
          nhsn: {
            changeLabel: "the child’s NHS number",
            href: vaccination.uri + "/patients/" + vaccination.patient.nhsn + "/edit/nhsn" if vaccination.patient.hasMissingNhsNumber
          },
          fullName: {},
          dobWithAge: {},
          gender: {},
          postalCode: {},
          school: {},
          parents: {}
        })
      }) }}
      <p class="nhsuk-body">
        {{ button({
          classes: "nhsuk-button--secondary nhsuk-u-margin-0",
          text: __("patient.edit.title"),
          href: vaccination.patient.uri + "/edit?referrer=" + vaccination.uri
        }) }}
      </p>
    {% endset %}

    {{ card({
      heading: __("patient.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: recordDescriptionHtml
    }) }}

    {% set vaccinationDescriptionHtml %}
      {{ summaryList({
        rows: summaryRows(vaccination, {
          programme: {},
          outcome: {},
          vaccine_snomed: {},
          method: {},
          site: {},
          dose: {},
          sequence: {},
          batch: {},
          identifiedBy: {},
          suppliedBy: {},
          createdBy: {},
          createdAt: {},
          updatedAt: {},
          location: {},
          protocol: {},
          note: {},
          syncStatus: {}
        })
      }) }}
      <p class="nhsuk-body">
        {{ button({
          classes: "nhsuk-button--secondary nhsuk-u-margin-0",
          text: __("vaccination.edit.title"),
          href: vaccination.uri + "/edit"
        }) }}
      </p>
    {% endset %}

    {{ card({
      heading: __("vaccination.show.summary"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: vaccinationDescriptionHtml
    }) }}
  </div>
{% endblock %}
