{% extends "_layouts/default.njk" %}

{% set title = __("move.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  <div class="nhsuk-u-reading-width">
    {{ __("move.list.introduction") | nhsukMarkdown }}

    {{ button({
      classes: "nhsuk-button--secondary",
      text: __("move.download.label"),
      href: "#"
    }) }}
  </div>

  {% set resultRows = [] %}
  {% for move in results.page %}
    {% set resultRows = resultRows | push([
      {
        header: __("move.createdAt.label"),
        text: move.formatted.createdAt
      },
      {
        header: __("child.label"),
        html: move.patient.fullName
      },
      {
        header: __("move.movement.label"),
        html: move.movement
      },
      {
        header: __("actions.label"),
        html: actionList({
          items: [{
            text: __("actions.review"),
            href: move.uri
          }]
        })
      }
    ]) %}
  {% endfor %}

  {% if moves.length %}
    {{ actionTable({
      id: "moves",
      sort: "name",
      heading: __n("move.count", moves.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("move.createdAt.label") },
        { text: __("child.label") },
        {
          text: __("move.movement.label"),
          attributes: { "no-sort": "no-sort" }
        },
        {
          text: __("actions.label"),
          attributes: { "no-sort": "no-sort" }
        }
      ],
      rows: resultRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __mf("move.results", {
      from: results.from,
      to: results.to,
      count: results.count
    }) | nhsukMarkdown }}
  {% else %}
    {{ __n("move.count", 0) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
