{% extends "_layouts/form.njk" %}

{% set title = __("consent.child.adjustments.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        isPageHeading: true,
        text: title,
        size: "l"
      }
    },
    items: [{
      text: __("consent.child.adjustments.guideDog.label"),
      value: Adjustment.GuideDog
    }, {
      text: __("consent.child.adjustments.distraction.label"),
      value: Adjustment.Distraction
    }, {
      text: __("consent.child.adjustments.extendedAppointment.label"),
      value: Adjustment.ExtendedAppointment
    }, {
      text: __("consent.child.adjustments.firstAppointment.label"),
      value: Adjustment.FirstAppointment
    }, {
      text: __("consent.child.adjustments.lastAppointment.label"),
      value: Adjustment.LastAppointment
    }, {
      text: __("consent.child.adjustments.privacy.label"),
      value: Adjustment.Privacy,
      hint: {
        text: __("consent.child.adjustments.privacy.hint")
      }
    }, {
      text: __("consent.child.adjustments.homeVisit.label"),
      value: Adjustment.HomeVisit
    }, {
      text: __("consent.child.adjustments.other.label"),
      value: Adjustment.Other,
      conditional: {
        html: input({
          label: { text: __("consent.child.adjustmentsOther.title") },
          decorate: "consent.child.adjustmentsOther"
        })
      }
    }],
    decorate: "consent.child.adjustments"
  }) }}
{% endblock %}
