{% extends "_layouts/form.njk" %}

{% set title = __("consent.alternative.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    hint: { text: __("consent.alternative.hint") },
    items: booleanItems,
    decorate: "consent.alternative"
  }) }}
{% endblock %}
