{% extends "_layouts/form.njk" %}

{% set programme_id = "flu" if "Flu" in session.presetNames else "mmr" %}
{% set title = __("consent.alternative." + programme_id + ".title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    hint: {
      text: __("consent.alternative." + programme_id + ".hint")
    },
    items: [{
      text: __("consent.alternative." + programme_id + ".yes.label"),
      value: true
    }, {
      text: __("consent.alternative." + programme_id + ".no.label"),
      value: false
    }],
    decorate: "consent.alternative"
  }) }}
{% endblock %}
