{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("consent.new.check-answers.confirm") %}
{% set title = __("consent.new.check-answers.title") %}
{% set gridColumns = "three-quarters" %}
{% set programme_id = "flu" if "Flu" in session.presetNames else "mmr" %}
{% set refusalReasonHasDetails = consent.refusalReason != RefusalReason.PersonalChoice or consent.refusalReason != RefusalReason.Other %}
{% macro editPath(view) -%}
  {{- view }}?referrer={{ session.consentUrl }}/{{ consent.uuid}}/new/check-answers
{%- endmacro %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {% if consent.decision == ReplyDecision.OnlyMenACWY %}
    {{ summaryList({
      card: {
        heading: "Consent for the MenACWY vaccination",
        headingSize: "m"
      },
      rows: summaryRows(consent, {
        decision: {
          value: ReplyDecision.Given,
          href: editPath("decision")
        }
      })
    }) }}

    {{ summaryList({
      card: {
        heading: "Consent for the Td/IPV vaccination",
        headingSize: "m"
      },
      rows: summaryRows(consent, {
        decision: {
          value: ReplyDecision.Refused,
          href: editPath("decision")
        },
        refusalReason: {
          href: editPath("refusal-reason")
        },
        refusalReasonDetails: {
          href: editPath("refusal-reason-details")
        }
      })
    }) }}
  {% elif consent.decision == ReplyDecision.OnlyTdIPV %}
    {{ summaryList({
      card: {
        heading: "Consent for the MenACWY vaccination",
        headingSize: "m"
      },
      rows: summaryRows(consent, {
        decision: {
          value: ReplyDecision.Refused,
          href: editPath("decision")
        },
        refusalReason: {
          href: editPath("refusal-reason")
        },
        refusalReasonDetails: {
          href: editPath("refusal-reason-details")
        }
      })
    }) }}

    {{ summaryList({
      card: {
        heading: "Consent for the Td/IPV vaccination",
        headingSize: "m"
      },
      rows: summaryRows(consent, {
        decision: {
          value: ReplyDecision.Given,
          href: editPath("decision")
        }
      })
    }) }}
  {% else %}
    {{ summaryList({
      card: {
        heading: __("consent.decision.summary", { session: session }) | safe,
        headingSize: "m"
      },
      rows: summaryRows(consent, {
        decision: {
          href: editPath("decision")
        },
        alternative: {
          label: __("consent.alternative." + programme_id + ".label"),
          href: editPath("alternative")
        } if session.offersAlternativeVaccine,
        refusalReason: {
          href: editPath("refusal-reason")
        },
        refusalReasonDetails: {
          href: editPath("refusal-reason-details")
        },
        consultation: {
          href: editPath("consultation")
        }
      })
    }) }}
  {% endif %}

  {{ summaryList({
    card: {
      heading: __("consent.child.summary"),
      headingSize: "m"
    },
    rows: summaryRows(consent.child, {
      fullName: {
        href: editPath("child")
      },
      preferredName: {
        href: editPath("child")
      },
      dob: {
        href: editPath("dob")
      },
      address: {
        href: editPath("address")
      } if consent.given,
      school: {
        value: consent.child.formatted.school or session.location.name,
        href: editPath("school")
      } if session.type === SessionType.School,
      impairments: {
        href: editPath("impairments")
      },
      adjustments: {
        href: editPath("adjustments")
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("consent.parent.summary"),
      headingSize: "m"
    },
    rows: summaryRows(consent.parent, {
      fullName: {
        href: editPath("parent")
      },
      relationship: {
        href: editPath("parent")
      },
      hasParentalResponsibility: {
        href: editPath("parent")
      },
      email: {
        href: editPath("parent")
      },
      tel: {
        href: editPath("parent")
      },
      sms: {
        href: editPath("parent")
      },
      contactPreference: {
        href: editPath("contact-preference")
      }
    })
  }) }}

  {{ summaryList({
    classes: "app-summary-list--full-width",
    card: {
      heading: __("consent.healthAnswers.label"),
      headingSize: "m"
    },
    rows: healthAnswerRows(
      consent.healthAnswers,
      editPath("health-question-{{key}}"),
      true
    )
  }) if consent.given }}

  {{ summaryList({
    card: {
      heading: __("consent.firstDose.label"),
      headingSize: "m"
    },
    rows: summaryRows(consent, {
      createdAt: {
        label: __("consent.previousDose.createdAt.label"),
        value: consent.firstDose.formatted.createdAt,
        href: editPath("first-dose")
      },
      location: {
        label: __("consent.previousDose.location.label"),
        value: consent.firstDose.location,
        href: editPath("first-dose")
      },
      country: {
        label: __("consent.previousDose.country.label"),
        value: consent.firstDose.formatted.country,
        href: editPath("first-dose")
      }
    })
  }) if consent.decision == ReplyDecision.AlreadyVaccinated }}

  {{ summaryList({
    card: {
      heading: __("consent.secondDose.label"),
      headingSize: "m"
    },
    rows: summaryRows(consent, {
      createdAt: {
        label: __("consent.previousDose.createdAt.label"),
        value: consent.secondDose.formatted.createdAt,
        href: editPath("second-dose")
      },
      location: {
        label: __("consent.previousDose.location.label"),
        value: consent.secondDose.location,
        href: editPath("second-dose")
      },
      country: {
        label: __("consent.previousDose.country.label"),
        value: consent.secondDose.formatted.country,
        href: editPath("second-dose")
      }
    })
  }) if consent.decision == ReplyDecision.AlreadyVaccinated }}
{% endblock %}
