{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("consent.new.check-answers.confirm") %}
{% set title = __("consent.new.check-answers.title") %}
{% set gridColumns = "three-quarters" %}
{% set refusalReasonHasDetails = consent.refusalReason != RefusalReason.PersonalChoice or consent.refusalReason != RefusalReason.Other %}
{% macro editPath(view) -%}
  {{- view }}?referrer={{ session.consentUrl }}/{{ consent.uuid}}/new/check-answers
{%- endmacro %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {% if consent.decision == ReplyDecision.OnlyMenACWY %}
    {{ card({
      heading: "Consent for the MenACWY vaccination",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(consent, {
          decision: {
            value: ReplyDecision.Given,
            href: editPath("decision")
          }
        })
      })
    }) }}

    {{ card({
      heading: "Consent for the Td/IPV vaccination",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(consent, {
          decision: {
            value: ReplyDecision.Refused,
            href: editPath("decision")
          },
          refusalReason: {
            href: editPath("refusal-reason")
          },
          refusalReasonDetails: {
            href: editPath("refusal-reason-details")
          }
        })
      })
    }) }}
  {% elif consent.decision == ReplyDecision.OnlyTdIPV %}
    {{ card({
      heading: "Consent for the MenACWY vaccination",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(consent, {
          decision: {
            value: ReplyDecision.Refused,
            href: editPath("decision")
          },
          refusalReason: {
            href: editPath("refusal-reason")
          },
          refusalReasonDetails: {
            href: editPath("refusal-reason-details")
          }
        })
      })
    }) }}

    {{ card({
      heading: "Consent for the Td/IPV vaccination",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(consent, {
          decision: {
            value: ReplyDecision.Given,
            href: editPath("decision")
          }
        })
      })
    }) }}
  {% else %}
    {{ card({
      heading: __("consent.decision.summary", { session: session }) | safe,
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(consent, {
          decision: {
            href: editPath("decision")
          },
          alternative: {
            href: editPath("alternative")
          },
          refusalReason: {
            href: editPath("refusal-reason")
          },
          refusalReasonDetails: {
            href: editPath("refusal-reason-details")
          }
        })
      })
    }) }}
  {% endif %}

  {{ card({
    heading: __("consent.child.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(consent.child, {
        fullName: {
          href: editPath("child")
        },
        preferredName: {
          href: editPath("child")
        },
        dob: {
          href: editPath("dob")
        },
        address: {
          href: editPath("address")
        } if consent.given,
        school: {
          value: consent.child.formatted.school or session.location.name,
          href: editPath("school")
        } if session.type === SessionType.School
      })
    })
  }) }}

  {{ card({
    heading: __("consent.parent.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(consent.parent, {
        fullName: {
          href: editPath("parent")
        },
        relationship: {
          href: editPath("parent")
        },
        hasParentalResponsibility: {
          href: editPath("parent")
        },
        email: {
          href: editPath("parent")
        },
        tel: {
          href: editPath("parent")
        },
        sms: {
          href: editPath("parent")
        },
        contactPreference: {
          href: editPath("contact-preference")
        }
      })
    })
  }) }}

  {{ card({
    heading: __("consent.healthAnswers.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      classes: "app-summary-list--full-width",
      rows: healthAnswerRows(
        consent.healthAnswers,
        editPath("health-question-{{key}}")
      )
    })
  }) if consent.given }}
{% endblock %}
