{% extends "_layouts/default.njk" %}

{% set paths = { back: false } %}
{% set title = __("consent.confirmation.title." + consent.decision) %}
{% if consent.answersNeedsTriage %}
  {% set text = __("consent.confirmation.triage", {
    consent: consent
  }) %}
{% else %}
  {% set text = __("consent.confirmation.text." + consent.decision, {
    consent: consent,
    session: session
  }) %}
{% endif %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ panel({
        titleText: title,
        text: text | safe
      }) }}

      {{ __("consent.confirmation.description", {
        consent: consent
      }) | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}
