{% extends "_layouts/form.njk" %}

{% set title = __n("consent.consultation.title", session.programmes.length) %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ __("consent.consultation.description") | nhsukMarkdown }}

  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--s",
          title: __("consent.consultation.legend")
        })
      }
    },
    items: [{
      text: __("consent.consultation.yes"),
      value: ReplyDecision.Consult
    },
    {
      text: __("consent.consultation.no"),
      value: ReplyDecision.Refused
    }],
    decorate: "consent.decision"
  }) }}
{% endblock %}
