{% extends "_layouts/form.njk" %}

{% set title = __("consent.parent.contactPreference.title") %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ __("consent.parent.contactPreference.description") | nhsukMarkdown }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("consent.parent.contactPreference.label")
      }
    },
    items: [{
      text: __("consent.parent.contactPreference.yes"),
      conditional: {
        html: textarea({
          label: { text: __("consent.parent.contactPreferenceDetails.label") },
          decorate: "consent.parent.contactPreferenceDetails"
        })
      }
    }, {
      text: __("consent.parent.contactPreference.no")
    }],
    decorate: "consent.parent.contactPreference"
  }) }}
{% endblock %}
