{% extends "_layouts/form.njk" %}

{% set title = __("consent.decision.title", { session: session }) %}

{% block form %}
  {% set programmeRadiosHtml = radios({
    fieldset: {
      legend: {
        text: "Which vaccinations do you give consent for?"
      }
    },
    items: programmeItems,
    decorate: "decision"
  }) %}

  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    items: injectConditionalHtml(decisionItems, "_one", programmeRadiosHtml) if programmeItems else decisionItems,
    decorate: "consent.decision"
  }) }}
{% endblock %}
