{% extends "_layouts/form.njk" %}

{% set title = __("healthQuestions." + key + ".label") %}
{% set hint = __("healthQuestions." + key + ".hint") %}
{% set detailsHint = __("healthQuestions." + key + ".detailsHint") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title | replace('the child', 'your child')
        })
      }
    },
    hint: { text: hint } if hint,
    items: [{
      text: __("consent.healthAnswers.yes"),
      conditional: {
        html: textarea({
          label: { text: __("consent.healthAnswers.details") },
          hint: { text: detailsHint } if detailsHint,
          decorate: ["consent", "healthAnswers", key, "details"]
        })
      } if not hasSubQuestions
    },
    {
      text: __("consent.healthAnswers.no")
    }],
    decorate: ["consent", "healthAnswers", key, "answer"]
  }) }}
{% endblock %}
