{% extends "_layouts/form.njk" %}

{% set title = __("consent." + key + ".title") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ __("consent." + key + ".description") | nhsukMarkdown }}

  {{ input({
    type: "hidden",
    value: VaccinationOutcome.AlreadyVaccinated,
    decorate: ["consent", key, "outcome"]
  }) }}

  {{ input({
    type: "hidden",
    value: "1P" if key == "firstDose" else "2P",
    decorate: ["consent", key, "sequence"]
  }) }}

  {{ dateInput({
    fieldset: {
      legend: {
        text: __("consent.previousDose.createdAt.title"),
        size: "m"
      }
    },
    hint: { text: __("consent.previousDose.createdAt.hint") },
    decorate: ["consent", key, "createdAt_"]
  }) }}

  {{ input({
    label: {
      text: __("consent.previousDose.location.title"),
      size: "m"
    },
    hint: { text: __("consent.previousDose.location.hint") },
    decorate: ["consent", key, "location"]
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("consent.previousDose.country.title"),
        size: "m"
      }
    },
    items: [
      {
        text: __("consent.previousDose.country.england")
      },
      {
        text: __("consent.previousDose.country.scotland")
      },
      {
        text: __("consent.previousDose.country.wales")
      },
      {
        text: __("consent.previousDose.country.ni")
      },
      {
        divider: "or"
      },
      {
        text: __("consent.previousDose.country.other"),
        conditional: {
          html: select({
            label: { text: __("consent.previousDose.countryOther.title") },
            items: otherCountryItems(Country, consent.previousDose.countryOther),
            decorate: ["consent", key, "countryOther"],
            attributes: {
              "data-module": "app-autocomplete"
            }
          })
        }
      }
    ],
    decorate: ["consent", key, "country"]
  }) }}
{% endblock %}
