{% extends "_layouts/form.njk" %}

{% if consent.decision == ReplyDecision.OnlyMenACWY %}
  {% set title = __("consent.refusalReason.title", "Td/IPV") %}
{% elif consent.decision == ReplyDecision.OnlyTdIPV %}
  {% set title = __("consent.refusalReason.title", "MenACWY") %}
{% else %}
  {% set title = __("consent.refusalReason.title", programme.name) %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    items: [
      { text: ReplyRefusal.Gelatine } if programmeIsFlu,
      { text: ReplyRefusal.AlreadyGiven },
      { text: ReplyRefusal.GettingElsewhere },
      { text: ReplyRefusal.Medical },
      { text: ReplyRefusal.Personal },
      { divider: "or" },
      {
        text: ReplyRefusal.Other,
        conditional: {
          html: input({
            label: { text: __("consent.refusalReason.label") },
            decorate: "consent.refusalReasonOther"
          })
        }
      }
    ],
    decorate: "consent.refusalReason"
  }) }}
{% endblock %}
