{% extends "_layouts/form.njk" %}

{% set title = __("consent.refusalReasonDetails.title." + consent.refusalReason) %}

{% block form %}
  {{ textarea({
    label: {
      html: appHeading({
        classes: "nhsuk-label--l",
        title: title
      })
    },
    hint: {
      text: __("consent.refusalReasonDetails.MMR.hint")
     } if session.programmePreset == "MMR" and consent.refusalReason == ReplyRefusal.AlreadyGiven,
    decorate: "consent.refusalReasonDetails"
  }) }}
{% endblock %}
