{% extends "_layouts/form.njk" %}

{% set title = __("consent.child.school.title") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ __("consent.child.school.description", {
    team: data.team
  }) | nhsukMarkdown }}

  {{ select({
    label: { text: __("consent.child.school.label") },
    items: schoolItems(data.schools, consent.child.school_urn),
    decorate: "consent.child.school_urn",
    attributes: {
      "data-module": "app-autocomplete"
    }
  }) }}
{% endblock %}
