{% from "nhsuk/components/button/macro.njk" import button %}
{% from "_macros/count.njk" import appCount %}
{% from "_macros/heading.njk" import appHeading %}
{% from "_macros/secondary-navigation.njk" import appSecondaryNavigation %}

{% macro uploadNavigation(params) %}
  {{ appHeading({
    size: "xl",
    title: __("upload.list.title")
  }) }}

  {{ button({
    classes: "nhsuk-button--secondary",
    text: __("upload.new.label"),
    href: "/uploads/new"
  }) }}

  {{ appSecondaryNavigation({
    items: [{
      text: __("upload.recent.label"),
      href: "/uploads",
      current: params.view == "list"
    }, {
      text: (__("upload.reviews.label") + appCount(reviews.length)) | safe,
      href: "/uploads/reviews",
      current: params.view == "reviews"
    }, {
      text: (__("upload.notices.label") + appCount(notices.length)) | safe,
      href: "/uploads/notices",
      current: params.view == "notices"
    } if data.token.role == UserRole.Nurse]
  }) }}

  <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
    {{ __("upload." + params.view + ".title") }}
  </h2>
{% endmacro %}
