{%- from "nhsuk/components/details/macro.njk" import details -%}
{%- from "nhsuk/components/tables/macro.njk" import table -%}
{%- from "_macros/heading.njk" import appHeading -%}

{% macro patientRecords(params) %}
  {% if params.patients.length %}
    {% set patientRows = [] %}
    {% for patient in params.patients %}
      {% set patientRows = patientRows | push([
        {
          header: __("patient.fullName.label"),
          html: patient.vaccination.link.fullNameAndNhsn if upload.type == UploadType.Report else patient.formatted.fullNameAndNhsn,
          attributes: {
            width: "30%"
          }
        },
        {
          header: __("patient.dob.label"),
          html: patient.formatted.dob
        },
        {
          header: __("patient.postalCode.label"),
          text: patient.postalCode
        },
        {
          header: __("patient.yearGroup.label"),
          text: patient.formatted.yearGroup
        } if upload.type == UploadType.School,
        {
          header: __("vaccination.createdAt.label"),
          text: patient.vaccination.formatted.createdAt_dateShort
        } if upload.type == UploadType.Report
      ]) %}
    {% endfor %}

    {{ appHeading({
      title: __("upload.show." + params.key + ".title"),
      level: 2,
      size: "m",
      summary: __mf("upload.show." + params.key + ".summary", {
        count: patientRows.length
      }) if params.key != "imported"
    }) }}

    {{ details({
      classes: "nhsuk-expander",
      summaryText: __mf("upload.show." + params.key + ".count", {
        count: patientRows.length
      }),
      html: table({
        id: "new",
        headingLevel: 2,
        responsive: true,
        head: [
          { text: __("patient.fullNameAndNhsn.label") },
          { text: __("patient.dob.label") },
          { text: __("patient.postalCode.label") },
          { text: __("patient.yearGroup.label") } if upload.type == UploadType.School,
          { text: __("vaccination.createdAt.label") } if upload.type == UploadType.Report
        ],
        rows: patientRows
      })
    }) | replace('class="nhsuk-details__summary"', 'class="nhsuk-details__summary" data-module="app-sticky"') }}
  {% endif %}
{% endmacro %}
