{% set moveRows = [] %}
{% for move in upload.moves %}
  {% set moveRows = moveRows | push([
    {
      header: __("patient.fullNameAndNhsn.label"),
      html: move.patient.formatted.fullNameAndNhsn
    },
    {
      header: __("move.label"),
      html: move.movementForImport
    },
    {
      header: __("upload.show.moves.decision.label"),
      html: radios({
        classes: "nhsuk-radios--small",
        formGroup: {
          classes: "nhsuk-u-margin-bottom-2"
        },
        fieldset: {
          legend: {
            classes: "nhsuk-u-visually-hidden",
            text: __("upload.show.moves.decision.title", { patient: patient })
          }
        },
        items: [{
          text: __("upload.show.moves.decision.accept.label"),
          value: "restore"
        }, {
          text: __("upload.show.moves.decision.ignore.label"),
          value: "ignore"
        }],
        decorate: "school-move-" + loop.index0
      })
    }
  ]) %}
{% endfor %}

{{ appHeading({
  title: __("upload.show.moves.title." + upload.status),
  level: 2,
  size: "m",
  summary: __mf("upload.show.moves.summary." + upload.status, {
    count: upload.moves.length
  })
}) }}

{{ table({
  classes: "app-table--review",
  id: "moves",
  responsive: true,
  card: {
    heading: __mf("upload.show.moves.count", { count: moveRows.length }),
    headingLevel: 3,
    headingSize: "s"
  },
  head: [
    { text: __("patient.fullNameAndNhsn.label") },
    { text: __("move.label") },
    { html: __("upload.show.moves.decision.label") }
  ],
  rows: moveRows
}) }}
