{% from "upload/_navigation.njk" import uploadNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = __("upload.list.title") %}

{% block content %}
  {{ super() }}

  {{ uploadNavigation({
    view: "recent"
  }) }}

  {% if uploads.length %}
    {% set uploadRows = [] %}
    {% for upload in uploads %}
      {% set progressHtml -%}
        <progress class="app-progress" value="{{ upload.progress }}" max="100"></progress><br>
        <span class="nhsuk-u-secondary-text-colour nhsuk-u-font-size-16">Processing: {{ upload.progress }}% complete</span>
      {%- endset %}

      {% set uploadRows = uploadRows | push([
        {
          header: __("upload.summary.label"),
          html: upload.link.summary
        },
        {
          header: __("upload.type.label"),
          html: upload.summary.type or "None"
        },
        {
          header: __("upload.status.label"),
          html: progressHtml if upload.status == UploadStatus.Processing else upload.formatted.status
        },
        {
          header: __("upload.patients.label"),
          html: "…" if upload.status == UploadStatus.Processing else upload.patients.length | string,
          format: "numeric"
        }
      ]) %}
    {% endfor %}

    {{ table({
      id: "uploads",
      heading: __mf("upload.recent.count", { count: uploads.length }) ,
      panel: true,
      responsive: true,
      head: [
        { text: __("upload.summary.label") },
        { text: __("upload.type.label") },
        { text: __("upload.status.label") },
        {
          text: __("upload.patients.label"),
          format: "numeric"
        }
      ],
      rows: uploadRows
    }) }}
  {% endif %}
{% endblock %}
