{% from "upload/_navigation.njk" import uploadNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = __("upload.list.title") %}

{% block content %}
  {{ super() }}

  {{ uploadNavigation({
    view: "list"
  }) }}

  {% if uploads.length %}
    {% set uploadRows = [] %}
    {% for upload in uploads %}
      {% set uploadRows = uploadRows | push([
        {
          header: __("upload.createdAt.label"),
          html: link(upload.uri, upload.formatted.createdAt),
          attributes: {
            "data-col": "createdAt",
            "data-sort": upload.createdAt
          }
        },
        {
          header: __("upload.createdBy.label"),
          html: upload.formatted.createdBy or "Not provided"
        },
        {
          header: __("upload.type.label"),
          html: upload.summary.type or "None"
        },
        {
          header: __("upload.status.label"),
          html: tag(statusTag(upload.uploadStatus)) + ("<br><span class=\"nhsuk-u-secondary-text-color nhsuk-u-font-size-16\">5 hours 13 minutes remaining</span>" if upload.status == UploadStatus.Processing)
        },
        {
          header: __("upload.records.label"),
          html: "…" if upload.status == UploadStatus.Processing else upload.records.length | string,
          format: "numeric"
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      id: "uploads",
      sort: "createdAt",
      heading: __n("upload.count", uploads.length) ,
      panel: true,
      responsive: true,
      head: [
        { text: __("upload.createdAt.label") },
        { text: __("upload.createdBy.label") },
        { text: __("upload.type.label") },
        { text: __("upload.status.label") },
        {
          text: __("upload.records.label"),
          format: "numeric",
          attributes: {
            "no-sort": "no-sort"
          }
        }
      ],
      rows: uploadRows
    }) }}
  {% endif %}
{% endblock %}
