{% from "upload/_navigation.njk" import uploadNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = __("notice.list.title") + " – " + __("upload.list.title") %}

{% block content %}
  {{ super() }}

  {{ uploadNavigation({
    view: "notices"
  }) }}

  {% if notices.length %}
    {% set noticeRows = [] %}
    {% for notice in notices | sort(false, false, "createdAt") %}
      {% set noticeRows = noticeRows | push([
        {
          header: __("patient.label"),
          html: notice.patient.link.fullName
        },
        {
          header: __("notice.createdAt.label"),
          html: notice.formatted.createdAt,
          attributes: {
            "data-sort": notice.createdAt
          }
        },
        {
          header: __("notice.label"),
          html: notice.patient.notice.name or "Not provided"
        },
        {
          header: __("actions.label"),
          html: actionList({
            items: [{
              text: __("actions.archive"),
              href: notice.uri + "/archive"
            }]
          }) if notice.type == NoticeType.Hidden else " "
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      id: "notices",
      sort: "date",
      heading: __n("notice.count", notices.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("record.label") },
        { text: __("notice.createdAt.label") },
        { text: __("notice.label") },
        {
          text: __("actions.label"),
          attributes: { "no-sort": "no-sort" }
        }
      ],
      rows: noticeRows
    }) }}
  {% else %}
    {{ __n("notice.count", 0) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
