{% extends "_layouts/default.njk" %}

{% set programme = data.programmes[upload.programme_id] %}
{% set title = __("upload.show.title", { upload: upload }) %}

{% set templateFormat %}
  {% if upload.type == UploadType.Cohort %}
    {% include "upload/_template-format-cohort.njk" %}
  {% elif upload.type == UploadType.School %}
    {% include "upload/_template-format-school.njk" %}
  {% elif upload.type == UploadType.Report %}
    {% include "upload/_template-format-report.njk" %}
  {% endif %}
{% endset %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }],
    text: __("upload.list.title"),
    href: "/uploads"
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: title
  }) }}

  <p class="nhsuk-body">
    {{ tag(statusTag(upload.uploadStatus)) -}}

    {%- if upload.status == UploadStatus.Processing -%}
      <span class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16 nhsuk-u-margin-left-2">5 hours 13 minutes remaining</span>
    {%- endif %}
  </p>

  {% set cardDescriptionHtml %}
    {{ summaryList({
      rows: summaryRows(upload, {
        createdAt: {},
        createdBy: {},
        type: {},
        school: {},
        yearGroups: {},
        invalid: {},
        devoid: {},
        duplicates: {}
      })
    }) }}

    {{ link(upload.uri + "/bulk-remove-relationships", __("upload.removeRelationships.label")) | nhsukMarkdown }}
  {% endset %}

  {{ card({
    heading: __("upload.show.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: cardDescriptionHtml
  }) }}

  {% set duplicateRecordRows = [] %}
  {% for record in upload.duplicates %}
    {% set duplicateRecordRows = duplicateRecordRows | push([
      {
        header: __("record.fullName.label"),
        html: record.fullName
      },
      {
        header: __("upload.issue.label"),
        html: __("upload.issue.text")
      },
      {
        header: __("actions.label"),
        html: actionList({
          items: [{
            text: __("actions.review"),
            href: "/uploads/reviews/" + upload.id + "/" + record.nhsn
          }]
        })
      }
    ]) %}
  {% endfor %}

  {{ table({
    id: "duplicate-records",
    panel: true,
    heading: upload.formatted.duplicates,
    headingLevel: 2,
    responsive: true,
    head: [
      { text: __("record.label") },
      { text: __("upload.issue.label") },
      { text: __("actions.label") }
    ],
    rows: duplicateRecordRows
  }) if upload.duplicates.length }}

  {% set recordRows = [] %}
  {% for record in upload.records %}
    {% set recordRows = recordRows | push([
      {
        header: __("record.fullName.label"),
        html: record.vaccination.link.fullNameAndNhsn if upload.type == UploadType.Report else record.formatted.fullNameAndNhsn
      },
      {
        header: __("record.dob.label"),
        html: record.formatted.dob
      },
      {
        header: __("record.postalCode.label"),
        text: record.postalCode
      }, {
        header: __("record.yearGroup.label"),
        text: record.formatted.yearGroup
      } if upload.type == UploadType.School, {
        header: __("vaccination.createdAt.label"),
        text: record.vaccination.formatted.createdAt_date
      } if upload.type == UploadType.Report
    ]) %}
  {% endfor %}

  {{ table({
    id: "records",
    panel: true,
    heading: __n("upload.records.count", upload.records.length),
    headingLevel: 2,
    responsive: true,
    head: [
      { text: __("patient.fullNameAndNhsn.label") },
      { text: __("record.dob.label") },
      { text: __("record.postalCode.label") },
      { text: __("record.yearGroup.label") } if upload.type == UploadType.School,
      { text: __("vaccination.createdAt.label") } if upload.type == UploadType.Report
    ],
    rows: recordRows
  }) if upload.records.length }}

  {{ card({
    heading: __n("upload.records.count", upload.records.length),
    headingClasses: "nhsuk-heading-m",
    headingLevel: 2,
    feature: true,
    description: __("upload.devoid.description")
  }) if upload.records.length == 0 and upload.status == UploadStatus.Complete }}

  {% if upload.validations | length %}
    {% set cardDescriptionHtml %}
      <p class="nhsuk-body nhsuk-u-reading-width">
        {{ __("upload.errors.description") }}
      </p>

      {{ details({
        text: __("upload.file.format", { type: upload.type | lower }),
        html: templateFormat
      }) }}

      {% for row, validations in upload.validations %}
        <h3 class="nhsuk-heading-s">Row {{ row }}</h3>
        <ul>
        {% for key, message in validations %}
          <li><code>{{ key }}</code> {{ message }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endset %}

    {{ card({
      classes: "app-card--red",
      heading: __("upload.errors.title"),
      headingClasses: "nhsuk-heading-m",
      headingLevel: 2,
      descriptionHtml: cardDescriptionHtml,
      feature: true
    }) }}
  {% endif %}
{% endblock %}
