{% extends "_layouts/default.njk" %}

{% set programme = data.programmes[upload.programme_id] %}
{% set title = __("upload.show.title", { upload: upload }) %}

{% set templateFormat %}
  {% if upload.type == UploadType.Cohort %}
    {% include "upload/_template-format-cohort.njk" %}
  {% elif upload.type == UploadType.School %}
    {% include "upload/_template-format-school.njk" %}
  {% elif upload.type == UploadType.Report %}
    {% include "upload/_template-format-report.njk" %}
  {% endif %}
{% endset %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }],
    text: __("upload.list.title"),
    href: "/uploads"
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  <p class="nhsuk-body">
    {{ tag(statusTag(upload.uploadStatus)) -}}

    {%- if upload.status == UploadStatus.Processing -%}
      <span class="nhsuk-u-secondary-text-colour nhsuk-u-font-size-16 nhsuk-u-margin-left-2">5 hours 13 minutes remaining</span>
    {%- endif %}
  </p>

  {% set cardDescriptionHtml %}
    {{ summaryList({
      rows: summaryRows(upload, {
        createdAt: {},
        createdBy: {},
        fileName: {},
        type: {},
        school: {},
        yearGroups: {},
        invalid: {},
        devoid: {},
        duplicates: {}
      })
    }) }}
    {{ link(upload.uri + "/bulk-remove-relationships", __("upload.removeRelationships.label")) | nhsukMarkdown if upload.status == UploadStatus.Complete }}
  {% endset %}

  {{ card({
    heading: __("upload.show.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: cardDescriptionHtml
  }) }}

  {% set reviewRows = [] %}
  {% for patient in upload.duplicates %}
    {% set type = "vaccination" if upload.type == UploadType.Report else "child" %}
    {% set reviewRows = reviewRows | push([
      {
        header: __("patient.fullName.label"),
        html: patient.fullName
      },
      {
        header: __("review.label"),
        html: __("review.duplicate.description", type)
      },
      {
        header: __("actions.label"),
        html: appActionList({
          items: [{
            text: __("actions.review"),
            href: "/uploads/reviews/" + upload.id + "/" + patient.nhsn
          }]
        })
      }
    ]) %}

    {# Add an example of an archived record needing review #}
    {% set reviewRows = reviewRows | push([
      {
        header: __("patient.label"),
        html: "ABBOTT, Hector"
      },
      {
        header: __("review.label"),
        text: __("review.archived.description", type)
      },
      {
        header: __("actions.label"),
        html: appActionList({
          items: [{
            text: __("actions.review"),
            href: "/uploads/reviews/" + upload.id + "/" + patient.nhsn + "/archived"
          }]
        })
      }
    ]) %}
  {% endfor %}

  {{ table({
    id: "reviews",
    panel: true,
    heading: __mf("review.count", { count: reviewRows.length }),
    headingLevel: 2,
    responsive: true,
    head: [
      {
        text: __("patient.label"),
        attributes: {
          width: "30%"
        }
      },
      {
        text: __("review.label"),
        attributes: {
          width: "60%"
        } },
      {
        text: __("actions.label"),
        attributes: {
          width: "10%"
        }
      }
    ],
    rows: reviewRows
  }) if reviewRows.length }}

  {% set patientRows = [] %}
  {% for patient in upload.patients %}
    {% set patientRows = patientRows | push([
      {
        header: __("patient.fullName.label"),
        html: patient.vaccination.link.fullNameAndNhsn if upload.type == UploadType.Report else patient.formatted.fullNameAndNhsn,
        attributes: {
          width: "30%"
        }
      },
      {
        header: __("patient.dob.label"),
        html: patient.formatted.dob
      },
      {
        header: __("patient.postalCode.label"),
        text: patient.postalCode
      }, {
        header: __("patient.yearGroup.label"),
        text: patient.formatted.yearGroup
      } if upload.type == UploadType.School, {
        header: __("vaccination.createdAt.label"),
        text: patient.vaccination.formatted.createdAt_date
      } if upload.type == UploadType.Report
    ]) %}
  {% endfor %}

  {{ table({
    id: "patients",
    panel: true,
    heading: __mf("patient.count", { count: upload.patients.length }),
    headingLevel: 2,
    responsive: true,
    head: [
      { text: __("patient.fullNameAndNhsn.label") },
      { text: __("patient.dob.label") },
      { text: __("patient.postalCode.label") },
      { text: __("patient.yearGroup.label") } if upload.type == UploadType.School,
      { text: __("vaccination.createdAt.label") } if upload.type == UploadType.Report
    ],
    rows: patientRows
  }) if upload.patients.length }}

  {{ card({
    heading: __mf("patient.count", { count: upload.patients.length }),
    headingClasses: "nhsuk-heading-m",
    headingLevel: 2,
    feature: true,
    description: __("upload.devoid.description")
  }) if upload.patients.length == 0 and upload.status == UploadStatus.Complete }}

  {% if upload.validations | length %}
    {% set cardDescriptionHtml %}
      <p class="nhsuk-body nhsuk-u-reading-width">
        {{ __("upload.errors.description") }}
      </p>

      {{ details({
        summaryText: __("upload.file.format", { type: upload.type | lower }),
        html: templateFormat
      }) }}

      {% for row, validations in upload.validations %}
        <h3 class="nhsuk-heading-s">Row {{ row }}</h3>
        <ul>
        {% for key, message in validations %}
          <li><code>{{ key }}</code> {{ message }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endset %}

    {{ card({
      classes: "app-card--red",
      heading: __("upload.errors.title"),
      headingClasses: "nhsuk-heading-m",
      headingLevel: 2,
      descriptionHtml: cardDescriptionHtml,
      feature: true
    }) }}
  {% endif %}
{% endblock %}
