{% extends "_layouts/form.njk" %}

{% set title = __("consent.add.title") %}
{% set confirmButtonText = __("consent.add.confirm") %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    caption: __("consent.add.caption", { parent: consent.parent } ),
    title: title
  }) }}

  {{ card({
    heading: __("patient.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(consent.child, {
        nhsn: {},
        fullName: {},
        preferredNames: {},
        dob: {},
        gender: {},
        address: {},
        school: {},
        gpSurgery: {}
      })
    })
  }) }}

  {{ card({
    heading: __("consent.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(consent, {
        decision: {},
        refusalReason: {},
        refusalReasonDetails: {}
      })
    })
  }) }}

  {{ card({
    heading: __("consent.healthAnswers.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      classes: "app-summary-list--full-width",
      rows: healthAnswerRows(consent.healthAnswers)
    })
  }) if consent.given }}
{% endblock %}
