{% extends "_layouts/default.njk" %}

{% set title = __("consent.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {% set consentRows = [] %}
  {% for consent in results.page %}
    {% set consentRows = consentRows | push([
      {
        header: __("consent.summary.label"),
        html: consent.link.summary
      },
      {
        header: __("consent.createdAt.label"),
        text: consent.formatted.createdAt_date
      },
      {
        header: __("actions.label"),
        html: actionList({
          items: [{
            text: __("consent.match.label"),
            href: "/consents/" + consent.uuid + "/match"
          }, {
            text: __("consent.invalidate.label"),
            href: "/consents/" + consent.uuid + "/invalidate"
          }, {
            text: __("consent.add.label"),
            href: "/consents/" + consent.uuid + "/add"
          }]
        })
      }
    ]) %}
  {% endfor %}

  {% if consents.length %}
    {{ actionTable({
      id: "consents",
      sort: "createdAt",
      heading: __n("consent.count", consents.length),
      panel: true,
      responsive: true,
      head: [
        {
          text: __("consent.summary.label") or "Not provided"
        },
        {
          text: __("consent.createdAt.label") or "Not provided"
        },
        {
          text: __("actions.label")
        }
      ],
      rows: consentRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __("consent.results", { results: results }) | nhsukMarkdown }}
  {% else %}
    <div class="app-patients">
      <p class="app-patients__no-results nhsuk-caption-m">
        {{ __n("consent.count", consents.length) }}
      </p>
    </div>
  {% endif %}
{% endblock %}
