{% extends "_layouts/default.njk" %}

{% set title = __("consent.list.title") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("session.list.title"),
      href: "/sessions"
    }, {
      text: session.location.name,
      href: "/sessions/" + session.id
    }]
  }) if session }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "l" if session else "xl",
    title: title
  }) }}

  {% set consentRows = [] %}
  {% for consent in results.page %}
    {% set consentRows = consentRows | push([
      {
        header: __("consent.summary.label"),
        html: consent.link.summary | replace("/consents", consentsPath)
      },
      {
        header: __("consent.createdAt.label"),
        text: consent.formatted.createdAt_date
      },
      {
        header: __("consent.decision.label"),
        text: consent.decision
      },
      {
        header: __("actions.label"),
        html: actionList({
          items: [{
            text: __("consent.match.label"),
            href: consentsPath + "/" + consent.uuid + "/match?referrer=" + consentsPath
          }, {
            text: __("consent.invalidate.label"),
            href: consentsPath + "/" + consent.uuid + "/invalidate?referrer=" + consentsPath
          }]
        })
      }
    ]) %}
  {% endfor %}

  {% if consents.length %}
    {{ actionTable({
      id: "consents",
      sort: "createdAt",
      heading: __n("consent.count", consents.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("consent.summary.label") },
        { text: __("consent.createdAt.label") },
        { text: __("consent.decision.label") },
        { text: __("actions.label") }
      ],
      rows: consentRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __mf("consent.results", {
      from: results.from,
      to: results.to,
      count: results.count
    }) | nhsukMarkdown }}
  {% else %}
    {{ __n("consent.count", 0) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
