{% from "_macros/patient-search.njk" import patientSearch with context %}

{% extends "_layouts/form.njk" %}

{% set dateOfBirth = true %}
{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = __("consent.match.title", { child: consent.child }) %}

{% block form %}
  {{ super() }}

  {{ heading({
    caption: __("consent.match.caption", { parent: consent.parent } ),
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third app-grid-column--sticky">
      {% set consentChildHtml %}
        {{ summaryList({
          classes: "nhsuk-u-margin-bottom-4 nhsuk-summary-list--no-border app-summary-list--full-width",
          rows: summaryRows(consent.child, {
            fullName: {},
            dob: {},
            postalCode: {},
            school: {}
          })
        }) }}

        {{ link(consentPath + "?referrer=" + consentPath + "/match", "View full consent response") | nhsukMarkdown }}

        {{ button({
          href: consentPath + "/add",
          classes: "nhsuk-button--secondary",
          text: __("consent.add.label")
        }) }}
      {% endset %}

      {{ card({
        feature: true,
        heading: __("consent.label"),
        headingLevel: 3,
        descriptionHtml: consentChildHtml
      }) }}
    </div>
    <div class="nhsuk-grid-column-two-thirds">
      {{ patientSearch({
        clear: "/consents/" + consent.uuid + "/match"
      }) }}

      {{ heading({
        level: 3,
        size: "m",
        title: __("search.results"),
        summary: __mf("patient.results", {
          from: results.from,
          to: results.to,
          count: results.count
        }) | safe
      }) }}

      {% for patient in results.page %}
        {{ card({
          classes: "app-card--patient",
          heading: patient.fullName | highlightQuery(data.q),
          headingLevel: 4,
          clickable: true,
          href: consentPath + "/link?nhsn=" + patient.nhsn,
          descriptionHtml: summaryList({
            rows: summaryRows(patient, {
              dob: {},
              postalCode: {
                value: patient.postalCode | highlightQuery(data.q)
              },
              school: {
                value: patient.school.name | highlightQuery(data.q)
              },
              parents: {
                value: patient.formatted.parents | highlightQuery(data.q)
              }
            })
          })
        }) }}
      {% endfor %}

      {{ govukPagination(pages) }}
    </div>
  </div>
{% endblock %}
