{% extends "_layouts/texts.njk" %}

{% if session.programmes.length == 1 %}
  {% set caption = __("consent.start.title.single", session.vaccination) %}
{% else %}
  {% set caption = __("consent.start.title.multiple", session.vaccination) %}
{% endif %}

{% set placeholders = {
  programme: programme,
  consent: consent,
  organisation: data.organisation,
  reason: "they were absent from the session",
  session: session
} %}

{% set defaultTemplate = "invite" %}
{% set dir = "consent" %}
{% set templates = {
  "Invite": [
    "invite",
    "invite-reminder",
    "invite-clinic",
    "invite-clinic-reminder",
    "invite-clinic-consent"
  ],
  "Consent": [
    "consent-given",
    "consent-given-child",
    "consent-refused"
  ],
  "Vaccination": [
    "capture-reminder",
    "capture-reminder-child",
    "capture-vaccinated",
    "capture-could-not-vaccinate"
  ]
} %}
