{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("batch." + type + ".confirm") %}
{% set title = __("batch." + type + ".title", { batch: batch }) %}

{% block form %}
  {{ appHeading({
    caption: batch.vaccine.brand,
    title: title
  }) }}

  {{ input({
    classes: "nhsuk-input--width-10 app-u-monospace",
    label: { text: __("batch.id.label") },
    decorate: "batch.id"
  }) }}

  {{ dateInput({
    fieldset: {
      legend: { text: __("batch.expiry.label") }
    },
    hint: { text: __("batch.expiry.hint") },
    decorate: "batch.expiry_"
  }) }}
{% endblock %}
