{% extends "_layouts/default.njk" %}

{% set title = __("vaccine.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {% for vaccine in vaccines %}
    {% set descriptionHtml %}
      <p class="nhsuk-body">
        {{ vaccine.manufacturer }}, GTIN: <span class="app-u-monospace">{{ vaccine.gtin }}</span>
      </p>

      {{ button({
        classes: "app-button--secondary",
        text: __("batch.new.label"),
        href: vaccine.uri + "/new"
      }) }}

      {% set batchRows = [] %}
      {% for batch in vaccine.batches | sort(false, false, "id") %}
        {% set batchRows = batchRows | push([
          {
            header: __("batch.id.label"),
            html: batch.formatted.id
          },
          {
            header: __("batch.created.label"),
            html: batch.formatted.created or "Not provided",
            attributes: {
              "data-sort": batch.created
            }
          },
          {
            header: __("batch.expires.label"),
            html: batch.formatted.expires or "Not provided",
            attributes: {
              "data-sort": batch.expires
            }
          },
          {
            header: __("vaccine.actions.label"),
            html: actionList({
              items: [{
                text: "Change",
                href: batch.uri + "/edit"
              }, {
                text: "Archive",
                href: batch.uri + "/archive"
              }]
            })
          }
        ]) %}
      {% endfor %}

      {{ actionTable({
        id: "vaccines",
        sort: "batch",
        responsive: true,
        head: [
          { text: __("batch.id.label") },
          { text: __("batch.created.label") },
          { text: __("batch.expires.label") },
          { text: __("vaccine.actions.label") }
        ],
        rows: batchRows
      }) if batchRows.length }}
    {% endset %}

    {{ card({
      heading: vaccine.brandWithType,
      feature: true,
      headingClasses: "nhsuk-heading-m nhsuk-u-margin-bottom-1",
      href: vaccine.uri,
      descriptionHtml: descriptionHtml
    }) }}
  {% endfor %}
{% endblock %}
