{% extends "_layouts/default.njk" %}

{% set title = vaccine.brandWithName %}
{% set paths = { back: "/vaccines" } %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      title: title
    }) }}

    {{ card({
      heading: vaccine.brand,
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(vaccine, {
          manufacturer: {},
          snomed: {},
          type: {},
          method: {},
          dose: {},
          healthQuestions: {},
          preScreenQuestions: {}
        })
      })
    }) }}

    <p>
      <a href="{{ vaccine.uri }}/delete">{{ __("vaccine.show.delete") }}</a>
    </p>
  </div>
{% endblock %}
