@use "../vendor/nhsuk-frontend" as *;

.prototype-email {
  font-family: Helvetica, Arial, sans-serif;

  &__header {
    border-bottom: 1px solid $nhsuk-border-color;
    margin-bottom: nhsuk-spacing(4);
    padding-bottom: nhsuk-spacing(3);

    @include nhsuk-font($size: 16);
  }

  .nhsuk-logo {
    color: $color_nhsuk-blue;
    margin-bottom: nhsuk-spacing(4);
  }

  .nhsuk-heading-l {
    @include nhsuk-font($size: 26, $weight: bold);
  }

  .nhsuk-inset-text {
    border-color: $nhsuk-border-color;
    margin-top: 0;

    @include nhsuk-responsive-padding(2, bottom);
    @include nhsuk-responsive-padding(2, top);
    @include nhsuk-responsive-margin(4, bottom);
  }
}
