@use "../vendor/nhsuk-frontend" as *;

.prototype-email {
  font-family: Helvetica, Arial, sans-serif;

  &__header {
    margin-bottom: nhsuk-spacing(4);
    padding-bottom: nhsuk-spacing(3);
    border-bottom: 1px solid $nhsuk-border-colour;

    @include nhsuk-font($size: 16);
  }

  .nhsuk-logo {
    margin-bottom: nhsuk-spacing(4);
    color: nhsuk-colour("blue");
  }

  .nhsuk-heading-l {
    @include nhsuk-font($size: 26, $weight: bold);
  }

  .nhsuk-inset-text {
    margin-top: 0;
    border-color: $nhsuk-border-colour;

    @include nhsuk-responsive-padding(2, bottom);
    @include nhsuk-responsive-padding(2, top);
    @include nhsuk-responsive-margin(4, bottom);
  }
}
