{% extends "_layouts/form.njk" %}

{% set title = __("team.contact.title") %}

{% block form %}
  {{ appHeading({
    caption: team.name,
    title: title
  }) }}

  {{ input({
    label: { text: __("team.email.label") },
    decorate: "team.email"
  }) }}

  {{ input({
    label: { text: __("team.tel.label") },
    decorate: "team.tel",
    type: "tel"
  }) }}

  {{ input({
    label: { text: __("team.privacyPolicyUrl.label") },
    hint: { text: __("team.privacyPolicyUrl.hint") },
    decorate: "team.privacyPolicyUrl",
    type: "url"
  }) }}
{% endblock %}
