{% extends "_layouts/form.njk" %}

{% set title = __("team.password.title") %}

{% block form %}
  {{ input({
    label: {
      classes: "nhsuk-label--l",
      html: appHeading({
        caption: team.name,
        title: title
      })
    },
    hint: { text: __("team.password.hint") },
    id: "team-password",
    name: "[team][password]",
    value: team.password
  }) }}
{% endblock %}
