{% extends "_layouts/form.njk" %}

{% set title = __("team.sessions.title") %}

{% block form %}
  {{ appHeading({
    caption: team.name,
    title: title
  }) }}

  {{ insetText({
    text: __("team.sessions.text")
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    classes: "nhsuk-input--width-2",
    label: {
      classes: "nhsuk-label--m",
      text: __("team.sessionOpenWeeks.title")
    },
    hint: { text: __("team.sessionOpenWeeks.hint") },
    suffix: "weeks",
    decorate: "team.sessionOpenWeeks"
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    classes: "nhsuk-input--width-2",
    label: {
      classes: "nhsuk-label--m",
      text: __("team.sessionReminderWeeks.title")
    },
    hint: { text: __("team.sessionReminderWeeks.hint") },
    suffix: "weeks",
    decorate: "team.sessionReminderWeeks"
  }) }}

  {{ radios({
    classes: "nhsuk-radios--inline",
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("team.sessionRegistration.title")
      }
    },
    items: booleanItems,
    decorate: "team.sessionRegistration"
  }) }}
{% endblock %}
