{% extends "_layouts/unbranded.njk" %}

{% set title = __("user.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    caption: __("user.list.caption"),
    size: "xl",
    title: title
  }) }}

  {% for admin, users in users | groupby("admin") %}
    {% set userRows = [] %}
    {% for user in users | sort(false, false, "fullName") %}
      {% set userRows = userRows | push([
        {
          header: __("user.uid.label"),
          html: link(user.uri, user.uid) or "Not provided"
        },
        {
          header: __("user.fullName.label"),
          html: user.fullName or "Not provided"
        },
        {
          header: __("user.email.label"),
          html: user.email or "Not provided"
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      classes: "nhsuk-u-margin-bottom-6",
      id: "users",
      sort: "name",
      caption: "Admins" if admin == "true" else "Team members",
      captionClasses: "nhsuk-u-font-size-32",
      responsive: true,
      head: [
        { text: __("user.uid.label") },
        { text: __("user.fullName.label") },
        { text: __("user.email.label") }
      ],
      rows: userRows
    }) }}
  {% endfor %}
{% endblock %}
