{% extends "_layouts/meta.njk" %}

{% set title = __("record.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    caption: __("record.list.caption"),
    size: "xl",
    title: title
  }) }}

  {% set resultRows = [] %}
  {% for record in results.page %}
    {% set resultRows = resultRows | push([
      {
        header: __("record.fullName.label"),
        html: link(record.uri, record.fullName) or "Not provided"
      },
      {
        header: __("record.nhsn.label"),
        html: record.formatted.nhsn or "Not provided"
      },
      {
        header: __("record.dob.label"),
        html: record.formatted.dob or "Not provided"
      },
      {
        header: __("record.gender.label"),
        html: record.gender or "Not provided"
      }
    ]) %}
  {% endfor %}

  {{ table({
    classes: "nhsuk-u-margin-bottom-6",
    id: "records",
    caption: __n("record.count", records.length),
    responsive: true,
    head: [
      { text: __("record.fullName.label") },
      { text: __("record.nhsn.label") },
      { text: __("record.dob.label") },
      { text: __("record.gender.label") }
    ],
    rows: resultRows
  }) }}

  {{ govukPagination(pages) }}

  {{ __mf("record.results", {
    from: results.from,
    to: results.to,
    count: results.count
  }) | nhsukMarkdown }}
{% endblock %}
