{% extends "_layouts/default.njk" %}

{% set title = __("organisation.show.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    caption: organisation.name,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ xGovukSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {% set cardDescriptionHtml %}
        {% set clinicRows = [] %}
        {% for clinic in organisation.clinics | sort(false, false, "name") %}
          {% set clinicRows = clinicRows | push([
            {
              header: __("clinic.name.label"),
              html: clinic.formatted.location or "Not provided",
              attributes: {
                "data-sort": clinic.name
              }
            }
          ]) %}
        {% endfor %}

        {{ button({
          classes: "app-button--secondary",
          text: __("organisation.clinics.new.title"),
          href: "#"
        }) }}

        {{ actionTable({
          id: "clinics",
          sort: "name",
          responsive: true,
          head: [
            { text: __("clinic.name.label") }
          ],
          rows: clinicRows
        }) }}
      {% endset %}

      {{ card({
        heading: __("organisation.clinics.summary"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: cardDescriptionHtml
      }) }}
    <div>
  </div>
{% endblock %}
