{% extends "_layouts/default.njk" %}

{% set title = __("organisation.show.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    caption: organisation.name,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ xGovukSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {% set cardDescriptionHtml %}
        {% set clinicRows = [] %}
        {% for clinic in organisation.clinics | sort(false, false, "name") %}
          {% set clinicRows = clinicRows | push([
            {
              header: __("clinic.name.label"),
              html: clinic.formatted.nameAndAddress or "Not provided",
              attributes: {
                "data-sort": clinic.name
              }
            }, {
              header: __("actions.label"),
              html: actionList({
                items: [{
                  text: __("clinic.edit.label"),
                  href: organisation.uri + "/clinics/" + clinic.id + "/edit"
                }, {
                  text: __("clinic.delete.label"),
                  href: organisation.uri + "/clinics/" + clinic.id + "/delete"
                }]
              })
            }
          ]) %}
        {% endfor %}

        {{ button({
          classes: "app-button--secondary",
          text: __("organisation.clinics.new.title"),
          href: organisation.uri + "/clinics/new"
        }) }}

        {% if organisation.clinics.length %}
          {{ actionTable({
            id: "clinics",
            sort: "name",
            responsive: true,
            head: [
              { text: __("clinic.name.label") },
              { text: __("actions.label") }
            ],
            rows: clinicRows
          }) }}
        {% else %}
          {{ __n("clinic.count", 0) | nhsukMarkdown }}
        {% endif %}
      {% endset %}

      {{ card({
        heading: __("organisation.clinics.summary"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: cardDescriptionHtml
      }) }}
    <div>
  </div>
{% endblock %}
