{% extends "_layouts/default.njk" %}

{% set title = __("organisation.show.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    caption: organisation.name,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ appSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {{ card({
        heading: __("organisation.contact.summary"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: summaryList({
          rows: organisation.getSummaryRows({
            email: {
              href: organisation.uri + "/edit/contact"
            },
            tel: {
              href: organisation.uri + "/edit/contact"
            },
            privacyPolicyUrl: {
              href: organisation.uri + "/edit/contact"
            }
          })
        })
      }) }}
    <div>
  </div>
{% endblock %}
