{% extends "_layouts/default.njk" %}

{% set title = __("organisation.show.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    caption: organisation.name,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ appSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {{ card({
        heading: __("organisation.sessions.defaults"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: summaryList({
          rows: summaryRows(organisation, {
            sessionOpenWeeks: {
              href: organisation.uri + "/edit/sessions"
            },
            sessionReminderWeeks: {
              href: organisation.uri + "/edit/sessions"
            },
            sessionRegistration: {
              href: organisation.uri + "/edit/sessions"
            }
          })
        })
      }) }}

      {{ card({
        heading: __("organisation.sessions.password"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: summaryList({
          rows: summaryRows(organisation, {
            password: {
              href: organisation.uri + "/edit/password"
            }
          })
        })
      }) }}
    <div>
  </div>
{% endblock %}
