{% extends "_layouts/form.njk" %}

{% set title = __("defaultBatch.edit.title") %}

{% block form %}
  {{ appHeading({
    caption: session.location.name,
    title: title
  }) }}

  {% set batches = [] %}
  {% for batch in batchItems %}
    {% set batches = batches | push({
      html: batch.name,
      value: batch.id
    }) %}
  {% endfor %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: vaccine.brandWithType
      }
    },
    items: batches,
    decorate: "defaultBatch.id"
  }) }}
{% endblock %}
