{% from "_macros/action-list.njk" import actionList %}
{% from "_macros/heading.njk" import heading %}
{% from "_macros/secondary-navigation.njk" import secondaryNavigation %}

{% macro patientNavigation(params) %}
  {{ heading({
    title: params.patient.fullName
  }) }}

  {{ actionList({
    items: [{
      tag: {
        text: __("patient.archived.label"),
        classes: "nhsuk-tag--grey"
      }
    }]
  }) if patient.archived }}

  {{ secondaryNavigation({
    items: secondaryNavigationItems
  }) }}

  <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
    {{ __("patient." + params.view + ".title") }}
  </h2>
{% endmacro %}
