{% from "_macros/heading.njk" import heading %}
{% from "_macros/secondary-navigation.njk" import secondaryNavigation %}

{% macro patientNavigation(params) %}
  {{ heading({
    title: params.patient.fullName
  }) }}

  {{ secondaryNavigation({
    items: [{
      text: __("patient.show.title"),
      href: params.patient.uri,
      current: params.view == "show"
    }, {
      text: __("patient.events.title"),
      href: params.patient.uri + "/events",
      current: params.view == "events"
    }]
  }) }}

  <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
    {{ __("patient." + params.view + ".title") }}
  </h2>
{% endmacro %}
