{{ xGovukSecondaryNavigation({
  items: [{
    text: __("patient.show.title"),
    href: patient.uri,
    current: view == "show"
  }, {
    text: __("patient.events.title"),
    href: patient.uri + "/events",
    current: view == "events"
  }]
}) }}
