{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set gridColumns = "full-width" %}
{% set title = __("patient.edit.title") %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ card({
    heading: __("patient.edit.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: [{
        key: {
          text: __("patient.nhsn.label")
        },
        value: {
          html: patient.formatted.nhsn
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/nhsn",
            visuallyHiddenText: "the child’s NHS number"
          }]
        }
      }, {
        key: {
          text: __("patient.fullName.label")
        },
        value: {
          text: patient.fullName
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/name"
          }]
        }
      }, {
        key: {
          text: __("patient.dob.label")
        },
        value: {
          text: patient.formatted.dob
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/dob"
          }]
        }
      }, {
        key: {
          text: __("patient.gender.label")
        },
        value: {
          text: patient.gender
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/gender",
            visuallyHiddenText: __("patient.gender")
          }]
        }
      }, {
        key: {
          text: __("patient.address.label")
        },
        value: {
          html: patient.formatted.address
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/address"
          }]
        }
      }, {
        key: {
          text: __("patient.school.label")
        },
        value: {
          text: patient.formatted.school
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/school"
          }]
        }
      }, {
        key: {
          text: __("patient.gpSurgery.label")
        },
        value: {
          html: patient.gpSurgery if patient.gpSurgery else '<a href="edit/gp-surgery">Add ' + __("patient.gpSurgery.label") + "</a>"
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/gp-surgery"
          }] if patient.gpSurgery
        }
      }, {
        key: {
          text: __("patient.parent1.label")
        },
        value: {
          html: patient.formatted.parent1
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/parent-1"
          }, {
            text: __("actions.remove"),
            href: "#"
          }]
        }
      }, {
        key: {
          text: __("patient.parent2.label")
        },
        value: {
          html: patient.formatted.parent2
        },
        actions: {
          items: [{
            text: __("actions.change"),
            href: "edit/parent-2"
          }, {
            text: __("actions.remove"),
            href: "#"
          }]
        }
      }]
    })
  }) }}
{% endblock %}
