{% extends "_layouts/default.njk" %}

{% set title = patient.record.fullName + " – " + __("patient.events.title") %}
{% set view = "events" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("session.list.title"),
      href: "/sessions"
    }, {
      text: session.location.name,
      href: "/sessions/" + session.id
    }, {
      text: __("session.activity." + activity + ".title"),
      href: "/sessions/" + session.id + "/" + activity
    }] if patient.session_id else [{
      text: __("campaign.list.title"),
      href: "/campaigns"
    }, {
      text: data.campaigns[campaign.uid].type,
      href: "/campaigns/" + campaign.uid
    }, {
      text: __("campaign.cohorts.title"),
      href: "/campaigns/" + campaign.uid + "/cohorts"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      caption: session.location.name if patient.session_id,
      title: patient.record.fullName
    }) }}

    {% include "patient/_secondary-navigation.njk" %}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("patient.events.title") }}
    </h2>

    {% for group, items in patient.groupedEvents %}
      <h3 class="nhsuk-heading-xs nhsuk-u-secondary-text-color nhsuk-u-font-weight-normal">{{ group }}</h3>

      {% for item in items %}
        {{ card({
          heading: item.name,
          headingClasses: "nhsuk-heading-s",
          descriptionHtml: event(item, users),
          attributes: {
            id: item.uuid
          }
        }) }}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
