{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("patient.invite.confirm") %}
{% set paths = { back: reply.uri } %}
{% set title = __("patient.invite.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        html: heading({
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: sessionIdItems,
    decorate: "patient.session_id"
  }) }}
{% endblock %}
