{% from "patient/_search.njk" import patientSearch with context %}

{% extends "_layouts/default.njk" %}

{% set title = __("patient.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {{ patientSearch() }}

  {% set patientRows = [] %}
  {% for patient in results.page %}
    {% set patientRows = patientRows | push([
      {
        header: __("patient.fullName.label"),
        html: patient.link.fullName | highlightQuery(data.q)
      },
      {
        header: __("patient.postalCode.label"),
        html: patient.postalCode | highlightQuery(data.q) or "Not provided"
      },
      {
        header: __("patient.school.label"),
        html: patient.formatted.school | highlightQuery(data.q) or "Not provided"
      },
      {
        header: __("patient.dob.label"),
        html: patient.formatted.dob or "Not provided"
      }
    ]) %}
  {% endfor %}

  {% if patients.length %}
    {% if data.q %}
      {% set heading = __n("patient.count", patients.length) + " matching ‘" + data.q + "’" %}
    {% else %}
      {% set heading = __n("patient.count", patients.length) %}
    {% endif %}

    {{ table({
      id: "patients",
      heading: heading,
      panel: true,
      responsive: true,
      head: [
        { text: __("patient.fullName.label") },
        { text: __("patient.postalCode.label") },
        { text: __("patient.school.label") },
        { text: __("patient.dob.label") }
      ],
      rows: patientRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __("patient.results", { results: results }) | nhsukMarkdown }}
  {% else %}
    {{ card({
      heading: __n("patient.count", patients.length),
      headingClasses: "nhsuk-heading-s",
      feature: true,
      description: __("patient.search.empty")
    }) }}
  {% endif %}
{% endblock %}
