{% extends "_layouts/default.njk" %}

{% set title = __("patient.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {% set detailsHtml %}
    <form role="search" method="post">
      {{ input({
        label: { text: __("patient.filter.name") },
        decorate: "q"
      }) }}

      {{ checkboxes({
        fieldset: {
          legend: {
            classes: "nhsuk-u-visually-hidden",
            text: __("patient.filter.options")
          }
        },
        items: [
          {
            value: "true",
            text: __("patient.filter.hasMissingNhsNumber")
          }
        ],
        decorate: "hasMissingNhsNumber"
      }) }}

      <div class="app-button-group nhsuk-u-margin-bottom-0">
        {{ button({
          text: __("patient.filter.confirm")
        }) }}

        {{ button({
          classes: "nhsuk-button--secondary",
          text: __("patient.filter.clear"),
          href: "/patients"
        }) if data.q or data.hasMissingNhsNumber }}
      </div>
    </form>
  {% endset %}

  {{ details({
    classes: "nhsuk-expander",
    text: __("patient.filter.label"),
    HTML: detailsHtml,
    open: true if data.q or data.hasMissingNhsNumber
  }) }}

  {% set patientRows = [] %}
  {% for patient in results.page | sort(false, false, "record.lastName") %}
    {% set patientRows = patientRows | push([
      {
        header: __("record.fullName.label"),
        html: patient.link.fullName
      },
      {
        header: __("record.postalCode.label"),
        html: patient.record.postalCode
      },
      {
        header: __("record.school.label"),
        html: patient.record.formatted.school
      },
      {
        header: __("record.dob.label"),
        html: patient.record.formatted.dob or "Not provided"
      }
    ]) %}
  {% endfor %}

  {% if patients.length %}
    {% if data.q %}
      {% set heading = __n("patient.count", patients.length) + " matching ‘" + data.q + "’" %}
    {% else %}
      {% set heading = __n("patient.count", patients.length) %}
    {% endif %}

    {{ table({
      id: "patients",
      heading: heading,
      panel: true,
      responsive: true,
      head: [
        { text: __("record.fullName.label") },
        { text: __("record.postalCode.label") },
        { text: __("record.school.label") },
        { text: __("record.dob.label") }
      ],
      rows: patientRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __("patient.results", { results: results }) | nhsukMarkdown }}
  {% else %}
    <div class="app-patients">
      <p class="app-patients__no-results nhsuk-caption-m">{{ __n("patient.count", patients.length) }}</p>
    </div>
  {% endif %}
{% endblock %}
