{% from "patient/_navigation.njk" import patientNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = patient.fullName + " – " + patient.programmes[programme.slug].name %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("patient.list.title"),
      href: "/patients"
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ patientNavigation({
    patient: patient
  }) }}

  {% call card({
    heading: __mf("patientProgramme.vaccinationsGiven.count", {
      count: patientProgramme.vaccinationsGiven.length
    }),
    headingLevel: 3
  }) %}
    {{ patientProgramme.formatted.statusWithNotes | nhsukMarkdown }}

    {% if patientProgramme.vaccinationsGiven.length %}
      {% for vaccination in patientProgramme.vaccinationsGiven %}
        {{ summaryList({
          card: {
            classes: "app-card--compact app-card--offset",
            heading: vaccination.formatted.vaccine_snomed,
            headingLevel: 4,
            href: vaccination.uri,
            clickable: true
          },
          rows: summaryRows(vaccination, {
            outcome: {},
            vaccine_snomed: {},
            method: {},
            site: {},
            dose: {},
            sequence: {},
            batch: {},
            location: {},
            identifiedBy: {},
            suppliedBy: {},
            createdBy: {},
            createdAt: {},
            reportedAt: {},
            protocol: {},
            note: {},
            syncStatus: {}
          })
        }) }}
      {% endfor %}
    {% endif %}

    {{ button({
      classes: "nhsuk-button--secondary nhsuk-u-margin-0",
      text: __("vaccination.new.alreadyVaccinated.dose", patientProgramme.formatted.doseDue) if patientProgramme.doseDue else __("vaccination.new.alreadyVaccinated.title"),
      href: patientProgramme.uri + "/new/vaccination"
    }) if patientProgramme.status != PatientStatus.Vaccinated and patientProgramme.eligible }}
  {% endcall %}

  {% if patientProgramme.patientSessions.length %}
    {% set patientSessionRows = [] %}
    {% for patientSession in patientProgramme.patientSessions %}
      {% set patientSessionRows = patientSessionRows | push([
        {
          header: __("session.location.label"),
          html: link(patientSession.uri, patientSession.session.location.name)
        },
        {
          header: __("session.date.label"),
          html: patientSession.session.formatted.date if patientSession.session.date else patientSession.session.status
        },
        {
          header: __("patientSession.outcome.label"),
          html: patientSession.formatted.outcome or "No outcome"
        }
      ]) %}
    {% endfor %}

    {{ table({
      id: "patient-sessions",
      sort: "name",
      responsive: true,
      card: {
        heading: __("patientProgramme.patientSessions.label"),
        headingLevel: 3
      },
      head: [
        {
          text: __("session.location.label"),
          attributes: {
            style: "width: 33%"
          }
        },
        { text: __("session.date.label") },
        { text: __("patientSession.outcome.label") }
      ],
      rows: patientSessionRows
    }) }}
  {% endif %}

  {{ card({
    heading: __("patientProgramme.auditEvents.label"),
    headingLevel: 3,
    descriptionHtml: appTimeline({
      items: timelineItems(patientProgramme.auditEvents)
    })
  }) if patientProgramme.auditEvents.length }}
{% endblock %}
