{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set title = __("patient.review.title") %}
{% set confirmButtonText = __("patient.review.confirm") %}

{% block form %}
  {{ super() }}

  {{ heading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ warningCallout({
    heading: __("patient.review.issue.title"),
    HTML: __("patient.review.issue.text") | nhsukMarkdown
  }) }}

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {{ card({
        feature: true,
        heading: __("patient.review.duplicate.label"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: summaryList({
          rows: summaryRows(duplicateRecord, {
            nhsn: {},
            fullName: {},
            dob: {
              value: duplicateRecord.formatted.dob | highlightDifference(patient.record.formatted.dob)
            },
            sex: {},
            postalCode: {},
            urn: {}
          })
        })
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      {{ card({
        feature: true,
        heading: __("patient.review.original.label"),
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: summaryList({
          rows: summaryRows(patient.record, {
            nhsn: {},
            fullName: {},
            dob: {},
            sex: {},
            postalCode: {},
            urn: {}
          })
        })
      }) }}
    </div>
  </div>

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-width-one-half"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("patient.review.decision.label")
      }
    },
    items: [{
      text: __("patient.review.decision.duplicate.label"),
      hint: { text: __("patient.review.decision.duplicate.hint") },
      value: "duplicate"
    }, {
      text: __("patient.review.decision.original.label"),
      hint: { text: __("patient.review.decision.original.hint") },
      value: "original"
    }],
    decorate: "decision"
  }) }}
{% endblock %}
