{% extends "_layouts/default.njk" %}

{% set title = patient.record.fullName %}
{% set view = "show" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("patient.list.title"),
      href: "/sessions"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      title: title
    }) }}

    {% include "patient/_secondary-navigation.njk" %}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("patient.show.title") }}
    </h2>

    {% set recordDescriptionHtml %}
      {{ summaryList({
        rows: summaryRows(patient.record, {
          nhsn: {
            changeLabel: "the child’s NHS number",
            href: patient.uri + "/edit/nhsn" if patient.record.hasMissingNhsNumber
          },
          fullName: {},
          preferredNames: { value: patient.preferredNames },
          dob: { value: patient.record.dobWithYearGroup },
          dod: {},
          gender: {},
          address: {},
          urn: {},
          gpSurgery: {},
          parents: {}
        })
      }) }}

      <p class="nhsuk-body">
        {{ button({
          classes: "app-button--secondary nhsuk-u-margin-0",
          text: __("record.edit.title"),
          href: patient.uri + "/edit"
        }) }}
      </p>
    {% endset %}

    {{ card({
      heading: __("record.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: recordDescriptionHtml
    }) }}

    {% set cohortsDescriptionHtml %}
      {% macro unselectButtonHtml(uid) %}
        <form class="app-button-group app-button-group--table" action="{{ patient.uri }}/unselect" method="post">
          {{ button({
            classes: "app-button--secondary-warning app-button--small",
            text: __("cohort.unselect.confirm"),
            decorate: "uid",
            value: uid
          }) }}
        </form>
      {% endmacro %}

      {% if cohorts.length %}
        {% set cohortRows = [] %}
        {% for cohort in cohorts | sort(false, false, "created") %}
          {% set cohortRows = cohortRows | push([
            {
              header: __("cohort.name.label"),
              html: cohort.link.name
            },
            {
              header: __("cohort.action.label"),
              html: unselectButtonHtml(cohort.uid)
            }
          ]) %}
        {% endfor %}

        {{ actionTable({
          id: "cohorts",
          classes: "nhsuk-u-margin-bottom-4",
          sort: "name",
          responsive: true,
          head: [
            { text: __("cohort.name.label") },
            { text: __("cohort.action.label") }
          ],
          rows: cohortRows
        }) }}
      {% else %}
        {{ __n("cohort.count", 0) | nhsukMarkdown }}
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("cohort.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: cohortsDescriptionHtml
    }) }}

    {% set vaccinationsDescriptionHtml %}
      {% if vaccinations.length %}
        {% set vaccinationRows = [] %}
        {% for vaccination in vaccinations | sort(false, false, "created") %}
          {% set vaccinationRows = vaccinationRows | push([
            {
              header: __("vaccination.vaccine_gtin.label"),
              html: vaccination.link.vaccine_gtin
            },
            {
              header: __("vaccination.created.label"),
              text: vaccination.formatted.created_date,
              attributes: {
                "data-col": "created",
                "data-sort": vaccination.created
              }
            },
            {
              header: __("vaccination.location.label"),
              text: vaccination.location
            }
          ]) %}
        {% endfor %}

        {{ actionTable({
          id: "vaccinations",
          classes: "nhsuk-u-margin-bottom-4",
          sort: "created",
          responsive: true,
          head: [
            { text: __("vaccination.vaccine_gtin.label") },
            { text: __("vaccination.created.label") },
            { text: __("vaccination.location.label") }
          ],
          rows: vaccinationRows
        }) }}
      {% else %}
        {{ __n("vaccination.count", 0) | nhsukMarkdown }}
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("record.vaccinations.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: vaccinationsDescriptionHtml
    }) }}
  </div>
{% endblock %}
