{% extends "_layouts/default.njk" %}

{% set title = patient.initials %}
{% set view = "show" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("patient.list.title"),
      href: "/sessions"
    }]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ heading({
      title: patient.fullName
    }) }}

    {% include "patient/_secondary-navigation.njk" %}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("patient.show.title") }}
    </h2>

    {% set recordDescriptionHtml %}
      {{ status({
        text: patient.notice.name,
        icon: "warning",
        colour: "blue"
      }) if patient.notice }}

      {{ summaryList({
        rows: summaryRows(patient, {
          nhsn: {
            changeLabel: "the child’s NHS number",
            href: patient.uri + "/edit/nhsn" if patient.hasMissingNhsNumber
          },
          fullName: {},
          preferredNames: { value: patient.preferredNames },
          dob: { value: patient.dobWithAge },
          dod: {},
          gender: {},
          address: {},
          school: {},
          yearGroupWithRegistration: {},
          gpSurgery: {},
          parents: {}
        })
      }) }}

      <p class="nhsuk-body">
        {{ button({
          classes: "app-button--secondary nhsuk-u-margin-0",
          text: __("patient.edit.title"),
          href: patient.uri + "/edit"
        }) }}
      </p>
    {% endset %}

    {{ card({
      heading: __("patient.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: recordDescriptionHtml
    }) }}

    {% set cohortsDescriptionHtml %}
      {% macro unselectButtonHtml(uid) %}
        <form class="app-button-group app-button-group--table" action="{{ patient.uri }}/unselect" method="post">
          {{ button({
            classes: "app-button--secondary-warning app-button--small",
            text: __("cohort.unselect.confirm"),
            decorate: "uid",
            value: uid
          }) }}
        </form>
      {% endmacro %}

      {% if patient.cohorts.length %}
        {% set cohortRows = [] %}
        {% for cohort in patient.cohorts | sort(false, false, "createdAt") %}
          {% set cohortRows = cohortRows | push([
            {
              header: __("cohort.name.label"),
              html: cohort.link.name
            },
            {
              header: __("actions.label"),
              html: unselectButtonHtml(cohort.uid)
            }
          ]) %}
        {% endfor %}

        {{ actionTable({
          id: "cohorts",
          sort: "name",
          responsive: true,
          head: [
            { text: __("cohort.name.label") },
            { text: __("actions.label") }
          ],
          rows: cohortRows
        }) }}
      {% else %}
        {{ __n("cohort.count", 0) | nhsukMarkdown }}
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("cohort.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: cohortsDescriptionHtml
    }) }}

    {% set sessionsDescriptionHtml %}
      {% if patient.sessions.length %}
        {% set sessionRows = [] %}
        {% for session in patient.sessions | sort(false, false, "createdAt") %}
          {% set sessionRows = sessionRows | push([
            {
              header: __("session.location.label"),
              html: link(session.uri + "/" + patient.nhsn, session.location.name)
            },
            {
              header: __("session.programmes.label"),
              html: session.formatted.programmes
            },
            {
              header: __("session.dates.label"),
              html: session.formatted.dates if session.dates.length else session.status
            }
          ]) %}
        {% endfor %}

        {{ actionTable({
          id: "sessions",
          sort: "name",
          responsive: true,
          head: [
            { text: __("session.location.label") },
            { text: __("session.programmes.label") },
            { text: __("session.dates.label") }
          ],
          rows: sessionRows
        }) }}
      {% else %}
        {{ __n("session.count", 0) | nhsukMarkdown }}
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("session.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: sessionsDescriptionHtml
    }) }}

    {% set vaccinationsDescriptionHtml %}
      {% if patient.vaccinations.length %}
        {% set vaccinationRows = [] %}
        {% for vaccination in patient.vaccinations | sort(false, false, "createdAt") %}
          {% set vaccinationRows = vaccinationRows | push([
            {
              header: __("vaccination.vaccine_gtin.label"),
              html: vaccination.link.vaccine_gtin
            },
            {
              header: __("vaccination.createdAt.label"),
              text: vaccination.formatted.createdAt_date,
              attributes: {
                "data-col": "createdAt",
                "data-sort": vaccination.createdAt
              }
            },
            {
              header: __("vaccination.location.label"),
              text: vaccination.location
            }
          ]) %}
        {% endfor %}

        {{ actionTable({
          id: "vaccinations",
          classes: "nhsuk-u-margin-bottom-4",
          sort: "createdAt",
          responsive: true,
          head: [
            { text: __("vaccination.vaccine_gtin.label") },
            { text: __("vaccination.createdAt.label") },
            { text: __("vaccination.location.label") }
          ],
          rows: vaccinationRows
        }) }}
      {% else %}
        {{ __n("vaccination.count", 0) | nhsukMarkdown }}
      {% endif %}
    {% endset %}

    {{ card({
      heading: __("patient.vaccinations.label"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: vaccinationsDescriptionHtml
    }) }}
  </div>
{% endblock %}
