{%- set markdown -%}
{%- filter nhsukMarkdown -%}
Make sure the CSV you upload uses the following columns:

| Column name | Notes |
| ----------- | ----- |
| `CHILD_FIRST_NAME` | **Required** |
| `CHILD_LAST_NAME` | **Required** |
| `CHILD_DATE_OF_BIRTH` | **Required** |
| `CHILD_SEX` | **Required**, must be one of: `Male` or `Female` |
| `CHILD_SCHOOL_URN` | **Required**, must be 6 digits and numeric. Use `888888` for school unknown and `999999` for homeschooled. |
| `CHILD_NHS_NUMBER` | Optional, must be 10 digits and numeric |
| `CHILD_ADDRESS_LINE_1` | Optional |
| `CHILD_ADDRESS_LINE_2` | Optional |
| `CHILD_TOWN` | Optional |
| `CHILD_POSTCODE` | Optional, must be formatted as a valid postcode. |
| `PARENT_1_FIRST_NAME` | Optional |
| `PARENT_1_LAST_NAME` | Optional |
| `PARENT_1_RELATIONSHIP` | Optional, must be one of: Mum, Dad, Guardian. |
| `PARENT_1_PHONE` | Optional, must be formatted as a valid phone number. |
| `PARENT_1_EMAIL` | Optional, must be formatted as a valid email address. |
| `PARENT_2_FIRST_NAME` | Optional |
| `PARENT_2_LAST_NAME` | Optional |
| `PARENT_2_RELATIONSHIP` | Optional, must be one of: Mum, Dad, Guardian. |
| `PARENT_2_PHONE` | Optional, must be formatted as a valid phone number. |
| `PARENT_2_EMAIL` | Optional, must be formatted as a valid email address. |
{%- endfilter -%}
{%- endset -%}

{{- markdown | replace("nhsuk-table", "nhsuk-table app-table--small") | safe }}
