{% extends "_layouts/default.njk" %}

{% set programme = data.programmes[import.programme_pid] %}
{% set title = __("import.show.title", { import: import }) %}

{% set templateFormat %}
  {% if import.type == ImportType.Cohort %}
    {% include "import/_template-format-cohort.njk" %}
  {% elif import.type == ImportType.School %}
    {% include "import/_template-format-school.njk" %}
  {% elif import.type == ImportType.Report %}
    {% if programme.type == ProgrammeType.HPV %}
      {% include "import/_template-format-report-hpv.njk" %}
    {% elif programme.type == ProgrammeType.Flu %}
      {% include "import/_template-format-report-flu.njk" %}
    {% endif %}
  {% endif %}
{% endset %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }, {
      text: programme.type,
      href: "/programmes/" + import.programme_pid
    }],
    text: __("programme.imports.title"),
    href: "/programmes/" + import.programme_pid + "/imports"
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: title
  }) }}

  <p class="nhsuk-body">
    {{ tag(import.statusTag) -}}

    {%- if import.status == ImportStatus.Processing -%}
      <span class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16 nhsuk-u-margin-left-2">5 hours 13 minutes remaining</span>
    {%- endif %}
  </p>

  {{ card({
    heading: __("import.show.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(import, {
        created: {},
        created_user: {},
        programme: {},
        type: {},
        invalid: {
          value: __n("import.invalid.count", import.invalid)
        } if import.status == ImportStatus.Complete and import.type == ImportType.Report,
        devoid: {
          value: __n("import.devoid.count", import.devoid)
        } if import.status == ImportStatus.Complete,
        duplicate: {
          value: __n("import.duplicate.count", import.duplicate)
        } if import.status == ImportStatus.Complete
      })
    })
  }) }}

  {% set duplicateRecordRows = [] %}
  {% for record in duplicates %}
    {% set duplicateRecordRows = duplicateRecordRows | push([
      {
        header: __("record.fullName.label"),
        html: record.fullName
      },
      {
        header: __("import.issue.label"),
        html: __("import.issue.text")
      },
      {
        header: __("actions.label"),
        html: actionList({
          items: [{
            text: __("actions.review"),
            href: import.uri + "/review/" + record.nhsn
          }]
        })
      }
    ]) %}
  {% endfor %}

  {{ actionTable({
    id: "duplicate-records",
    sort: "name",
    panel: true,
    heading: __n("import.duplicate.count", import.duplicate),
    responsive: true,
    head: [
      {
        text: __("record.label"),
        attributes: { "no-sort": "no-sort" }
      },
      {
        text: __("import.issue.label"),
        attributes: { "no-sort": "no-sort" }
      },
      {
        text: __("actions.label"),
        attributes: { "no-sort": "no-sort" }
      }
    ],
    rows: duplicateRecordRows
  }) if duplicates.length }}

  {% set recordRows = [] %}
  {% for record in import.records %}
    {% set recordRows = recordRows | push([
      {
        header: __("record.fullName.label"),
        html: link(record.vaccination.uri, record.fullName) if import.type == ImportType.Report else record.fullName
      },
      {
        header: __("record.nhsn.label"),
        html: record.formatted.nhsn or "Not provided"
      },
      {
        header: __("record.dob.label"),
        html: record.formatted.dob
      },
      {
        header: __("record.postalCode.label"),
        text: record.postalCode
      }, {
        header: __("record.school.label"),
        text: record.formatted.school
      } if import.type == ImportType.School, {
        header: __("vaccination.created.label"),
        text: record.vaccination.formatted.created_date
      } if import.type == ImportType.Report
    ]) %}
  {% endfor %}

  {{ actionTable({
    tableClasses: "app-table--small",
    id: "vaccinations",
    sort: "name",
    panel: true,
    heading: __n("import.records.count", import.records.length),
    responsive: true,
    head: [
      { text: __("record.fullName.label") },
      { text: __("record.nhsn.label") },
      { text: __("record.dob.label") },
      { text: __("record.postalCode.label") },
      { text: __("record.school.label") } if import.type == ImportType.School,
      { text: __("vaccination.created.label") } if import.type == ImportType.Report
    ],
    rows: recordRows
  }) if import.records.length }}

  {{ card({
    heading: __n("import.records.count", import.records.length),
    headingClasses: "nhsuk-heading-m",
    feature: true,
    description: __("import.devoid.description")
  }) if import.records.length == 0 and import.status == ImportStatus.Complete }}

  {% if import.validations | length %}
    {% set cardDescriptionHtml %}
      <p class="nhsuk-body nhsuk-u-reading-width">
        {{ __("import.errors.description") }}
      </p>

      {{ details({
        text: __("import.file.format", { type: import.type | lower }),
        HTML: templateFormat
      }) }}

      {% for row, validations in import.validations %}
        <h3 class="nhsuk-heading-s">Row {{ row }}</h3>
        <ul>
        {% for key, message in validations %}
          <li><code>{{ key }}</code> {{ message }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endset %}

    {{ card({
      classes: "app-card--red",
      heading: __("import.errors.title"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: cardDescriptionHtml,
      feature: true
    }) }}
  {% endif %}
{% endblock %}
