{% extends "_layouts/form.njk" %}

{% block form %}
  {{ heading({
    caption: notice.patient.fullName,
    title: __("notice.action.title", type)
  }) }}

  {{ insetText({
    html: "<p>Before archiving this notice, make sure you have asked the child’s GP and your CHIS team to hide the Gardasil 9 (HPV) vaccination from their parents.</p>"
  }) }}

  {{ __("notice.action.description") | nhsukMarkdown }}
{% endblock %}

{% block afterForm %}
  {{ buttonGroup({
    buttons: [{
      classes: "nhsuk-button--warning",
      text: __("notice.action.confirm", type),
      attributes: {
        formAction: notice.uri + "/" + type
      }
    }],
    links: [{
      text: __("notice.action.cancel"),
      href: "/uploads/notices"
    }]
  }) }}
{% endblock %}
