{%- from "nhsuk/components/tag/macro.njk" import tag -%}

{%- macro _action(params) -%}
{%- if params.href -%}
  {{- link(params.href, params.text, params.attributes) | safe -}}
{%- elif params.tag -%}
  {{- tag(params.tag) -}}
{%- else -%}
  {{- params.text -}}
{%- endif -%}
{%- endmacro -%}

{%- macro actionList(params) -%}
{%- if params.items.length == 1 %}
  <p class="app-action-list{% if params.classes %} {{ params.classes }}{% endif %}">
    {{ _action(params.items[0]) }}
  </p>
{%- else %}
  <ul class="app-action-list{% if params.classes %} {{ params.classes }}{% endif %}">
  {%- for item in params.items -%}
    {%- if item -%}
    <li class="app-action-list__item">
      {{ _action(item) }}
    </li>
    {%- endif -%}
  {%- endfor -%}
  </ul>
{%- endif %}
{%- endmacro %}
