{%- from "x-nhsuk/decorated/button/macro.njk" import button with context %}

{% macro appButtonGroup(params) -%}
{% if params.buttons | removeEmpty | length %}
<div class="nhsuk-button-group">
{% for item in params.buttons -%}
{{- button(item) if item -}}
{%- endfor -%}
{%- for item in params.links -%}
{{- link(item.href, item.text) | safe if item -}}
{%- endfor %}
</div>
{% endif %}
{% endmacro %}
