{%- from "nhsuk/macros/icon.njk" import nhsukIcon -%}
{% macro appChange(before, after) -%}
{{- before }}
{{ nhsukIcon("arrow-right", { title: "changed to" }) }}
{{ after | highlightDifference(before, after) -}}
{% endmacro %}
