{%- from "nhsuk/components/card/macro.njk" import card -%}

{% macro appDataCard(params) %}
{% set descriptionHtml %}
  <p class="nhsuk-card__description app-card__count">
    {{- params.data | default(0) -}}
  </p>
  {% if params.meta %}
    <p class="nhsuk-body-s">{{ params.meta }}</p>
  {% endif %}
{% endset %}
{% set classes = [] %}
{% if params.colour %}
  {% set classes = classes | push("app-card--" + params.colour) %}
{% endif%}
{% if params.compact %}
  {% set classes = classes | push("app-card--compact") %}
{% endif%}
{{ card({
  classes: classes | join(" "),
  clickable: true if params.href,
  href: params.href,
  heading: params.heading,
  headingClasses: "nhsuk-heading-xs",
  headingLevel: params.headingLevel | default(5),
  descriptionHtml: descriptionHtml
}) }}
{% endmacro %}
