{% macro event(auditEvent, showProgrammes = true) -%}
  {{ auditEvent.formatted.note | nhsukMarkdown }}
  <p class="nhsuk-body-s nhsuk-u-margin-0 nhsuk-u-secondary-text-color">
    {% if auditEvent.formatted.programmes and showProgrammes %}
      {{ auditEvent.formatted.programmes | safe }}&nbsp;
    {% endif %}
    {{ auditEvent.formatted.createdAtAndBy | safe }}
  </p>
{%- endmacro %}
