{% macro headerAccount(params) %}
<div class="app-header__account">
{% if params.user %}
  <span class="app-header__account-item {%- if item.classes %} {{ item.classes }}{% endif %}">
    <svg class="app-header__account-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M8 0c4.4 0 8 3.6 8 8s-3.6 8-8 8-8-3.6-8-8 3.6-8 8-8Zm0 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1Zm-1.5 9h3a2.5 2.5 0 0 1 2.5 2.5V14a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-1.5A2.5 2.5 0 0 1 6.5 10ZM8 9C6.368 9 5 7.684 5 6s1.316-3 3-3c1.632 0 3 1.316 3 3S9.632 9 8 9"/>
    </svg>
    {{- params.user.html | safe if params.user.html else params.user.text -}}
  </span>
{% endif %}
{% for item in params.items %}
  <span class="app-header__account-item {%- if item.classes %} {{ item.classes }}{% endif %}">
  {% if item.href %}
    <a class="app-header__account-link" href="{{ item.href }}">
      {{- item.label.html | safe if item.label.html else item.label.text -}}
    </a>
  {% else %}
    {{- item.label.html | safe if item.label.html else item.label.text -}}
  {% endif %}
  </span>
{% endfor %}
</div>
{% endmacro %}
