{%- from "nhsuk/macros/icon.njk" import nhsukIcon -%}
{%- from "x-nhsuk/decorated/button/macro.njk" import button with context %}
{%- from "x-nhsuk/decorated/input/macro.njk" import input with context %}

{% macro appSearchInput(params) %}
{{ input({
  label: {
    classes: "nhsuk-u-visually-hidden",
    text: params.label.text
  },
  type: "search",
  autocomplete: "off",
  attributes: params.attributes,
  decorate: params.decorate or "q",
  formGroup: {
    classes: "app-form-group--search-input",
    afterInput: {
      html: button({
        html: nhsukIcon("search", {
          title: "Search"
        })
      })
    }
  }
}) }}
{% endmacro %}
