{%- from "nhsuk/macros/attributes.njk" import nhsukAttributes -%}
{%- from "_macros/icon.njk" import appIcon -%}
{% macro appSecondaryNavigation(params) %}
<nav class="app-secondary-navigation {%- if params.classes %} {{ params.classes }}{% endif -%}" {% if params.labelledBy %}aria-labelledby="{{ params.labelledBy }}"{% else %}aria-label="{{ params.visuallyHiddenTitle or "Secondary menu" }}"{% endif %}
  {{- nhsukAttributes(params.attributes) }}>
  <ul class="app-secondary-navigation__list">
  {% for item in params.items %}
    {% if item %}
    <li class="app-secondary-navigation__list-item{% if item.classes %} {{ item.classes }}{% endif -%}">
      <a class="app-secondary-navigation__link" href="{{ item.href }}" {{ "aria-current=page" if item.current }}>
      {%- if item.active or item.current -%}
        <strong class="app-secondary-navigation__current">{{ item.text | safe }}</strong>
      {%- else -%}
        {{- item.text | safe -}}
      {%- endif -%}
        {{ appIcon(item.icon) if item.icon }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
{% endmacro %}
