{% extends "rig/default.njk" %}

{#- GOV.UK Frontend components -#}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{#- App macros -#}
{% from "_macros/action-list.njk" import actionList %}
{% from "_macros/add-another.njk" import addAnother %}
{% from "_macros/autocomplete.njk" import autocomplete with context %}
{% from "_macros/button-group.njk" import buttonGroup with context %}
{% from "_macros/count.njk" import count %}
{% from "_macros/environment.njk" import appEnvironment %}
{% from "_macros/event.njk" import event %}
{% from "_macros/heading.njk" import heading %}
{% from "_macros/icon.njk" import icon %}
{% from "_macros/search-input.njk" import searchInput with context %}
{% from "_macros/secondary-navigation.njk" import secondaryNavigation %}
{% from "_macros/status.njk" import status %}
{% from "_macros/sub-navigation.njk" import subNavigation %}

{% block head %}
  {# Prevent NHS numbers from being treated as phone numbers #}
  <meta name="format-detection" content="telephone=no">

  {% set assetsName = assetsName | default("application") %}
  <link rel="stylesheet" href="/assets/{{ assetsName }}.css" media="all">
  <script src="/assets/{{ assetsName }}.js" type="module"></script>
{% endblock %}

{% block bodyStart %}
  <script>document.body.className += 'noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '';</script>
{% endblock %}

{% block header %}
  {{ appEnvironment(environment) if environment }}
  {{ header(headerOptions if headerOptions else {
    service: {
      text: serviceName,
      href: "/home"
    },
    navigation: {
      items: [
        {
          href: "/programmes",
          text: __("programme.list.label"),
          active: navigation.activeSection == "programmes"
        },
        {
          href: "/sessions",
          text: __("session.list.label"),
          active: navigation.activeSection == "sessions"
        },
        {
          href: "/patients",
          text: __("patient.list.label"),
          active: navigation.activeSection == "patients"
        },
        {
          classes: "app-header__navigation-item--with-count",
          href: "/consents",
          html: __("consent.list.label") + count(data.counts.consents),
          active: navigation.activeSection == "consents"
        },
        {
          classes: "app-header__navigation-item--with-count",
          href: "/moves",
          html: __("move.list.label") + count(data.counts.moves),
          active: navigation.activeSection == "moves"
        },
        {
          href: "/vaccines",
          text: __("vaccine.list.label"),
          active: navigation.activeSection == "vaccines"
        },
        {
          classes: 'app-header__navigation-item--with-count',
          href: "/uploads",
          html: __("upload.list.label") + count(data.counts.uploads),
          active: navigation.activeSection == "uploads"
        },
        {
          href: organisation.uri,
          text: __("organisation.show.label"),
          active: navigation.activeSection == "organisations"
        }
      ]
    },
    account: {
      items: [
        {
          text: user.nameAndRole,
          icon: true
        },
        {
          href: "/account/change-role?referrer=" + navigation.referrer,
          text: __("account.change-role.label")
        },
        {
          href: "/account/sign-out",
          text: __("account.sign-out.title")
        }
      ] if data.token else [
        {
          text: __("account.sign-in.title"),
          href: "/"
        }
      ]
    }
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ backLink({ href: paths.back or back }) if paths.back or back }}
{% endblock %}

{% block content %}
  {{ govukNotificationBanner(success) if success }}
  {{ govukNotificationBanner(message) if message }}
{% endblock %}

{% set copyright %}
  © NHS England
  <span class="nhsuk-u-secondary-text-color nhsuk-u-margin-left-2">
    Today is {{ today -}}
  </span>
{% endset %}

{% block footer %}
  {{ footer({
    copyright: copyright | safe,
    links: [{
      label: "Homepage",
      URL: "/"
    }, {
      label: "Schools",
      URL: "/schools"
    }, {
      label: "CIS2 users",
      URL: "/users"
    }, {
      label: "Clear session data",
      URL: "/clear-session-data"
    } if useAutoStoreData, {
      label: "Feature flags",
      URL: "/feature-flags"
    }, {
      label: "Design history",
      URL: "https://design-history.prevention-services.nhs.uk/manage-vaccinations-in-schools/"
    }],
    linksColumn2: navigation.footerLinks[0],
    linksColumn3: navigation.footerLinks[1],
    metaLinks: navigation.footerLinks[2]
  }) }}
{% endblock %}
