{% extends "_layouts/meta.njk" %}

{% from "nhsuk/components/header/macro.njk" import header %}

{% set template = data.template or defaultTemplate %}
{% set title = title or "Email messages" %}

{% set navigationItems = [] %}
{% for theme, items in templates %}
  {% for item in items %}
    {% if item != "" %}
      {% set navigationItems = navigationItems | push({
        text: __("emails." + dir + "." + item + ".label"),
        href: "?template=" + item,
        current: template === item,
        theme: theme
      }) %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% set cardDescriptionHtml %}
  <article class="prototype-email">
    <footer class="prototype-email__header">
      From: <span class="nhsuk-u-secondary-text-color">{{ placeholders.from.name }} &lt;{{ placeholders.from.email }}&gt;</span><br>
      To: <span class="nhsuk-u-secondary-text-color">{{ placeholders.to.name }} &lt;{{ placeholders.to.email }}&gt;</span>
    </footer>
    {{ header({
      classes: "nhsuk-header--white"
    }) }}
    {% filter nhsukMarkdown %}
      {%- include "emails/" + dir + "/" + template + ".njk" %}
    {% endfilter %}
  </article>
{% endset %}

{% block content %}
  {{ appHeading({
    caption: caption,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ appSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {{ card({
        heading: __("emails." + dir + "." + template + ".name", placeholders) | safe,
        headingClasses: "nhsuk-heading-s",
        descriptionHtml: cardDescriptionHtml
      }) }}
    <div>
  </div>
{% endblock %}
