{% extends "_layouts/default.njk" %}

{% block main %}
  <div class="app-session-banner">
    <div class="nhsuk-width-container">
      {% block beforeContent %}{% endblock %}

      <div class="nhsuk-main-wrapper nhsuk-main-wrapper--s">
        {{ notificationBanner(success) if success }}
        {{ notificationBanner(message) if message }}

        <h1 class="nhsuk-heading-l{% if caption %} nhsuk-u-margin-bottom-2{% endif %}">
          {{ heading }}
        </h1>
        {% if caption %}
        <p class="nhsuk-caption-l nhsuk-caption--bottom">
          {{ caption }}
        </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="app-sticky-navigation app-sticky-navigation--reverse" data-module="app-sticky">
    <div class="nhsuk-width-container">
      {{ appSecondaryNavigation({
        classes: "app-secondary-navigation--reverse",
        items: navigationItems
      }) if navigationItems }}
    </div>
  </div>

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <form method="post" novalidate data-validate>
        {% block content %}
        {% endblock %}
      </form>
    </main>
  </div>
{% endblock %}
