{% extends "rig/default.njk" %}

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% from "_macros/action-table.njk" import actionTable %}
{% from "_macros/heading.njk" import heading %}

{% block head %}
  <link rel="stylesheet" href="/assets/application.css" media="all">
  <script src="/assets/application.js" defer></script>
{% endblock %}

{% set bodyClasses = "app-unbranded__body" %}

{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block headIcons %}{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title if title -}}
{% endblock %}

{% block beforeContent %}
  {{ backLink({ href: paths.back }) if paths.back }}
{% endblock %}
