{% extends "_layouts/meta.njk" %}

{% from "_macros/count.njk" import count %}

{% set title = school.name %}
{% set paths = { back: "/schools" } %}

{% block content %}
  {{ heading({
    title: title
  }) }}

  {{ card({
    heading: __("school.show.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(school, {
        urn: {},
        name: {},
        phase: {},
        address: {}
      })
    })
  }) }}

  {% for yearGroup, patients in school.patientsByYearGroup %}
    {% set patientRows = [] %}
    {% for patient in patients | sort(false, false, "firstName") %}
      {% set patientRows = patientRows | push([
        {
          header: __("patient.fullName.label"),
          text: patient.fullName,
          attributes: {
            "data-col": "name"
          }
        },
        {
          header: __("patient.dob.label"),
          text: patient.formatted.dob
        },
        {
          header: __("patient.postalCode.label"),
          text: patient.postalCode
        }
      ]) %}
    {% endfor %}

    {{ details({
      classes: "nhsuk-expander",
      summaryText: yearGroup | yearGroup + " (" + __n("school.patients.count", patients.length) + ")",
      html: table({
        tableClasses: "nhsuk-u-margin-0",
        id: "patients",
        head: [
          {
            text: __("patient.fullName.label"),
            attributes: {
              style: "width: 50%"
            }
          },
          { text: __("patient.dob.label") },
          { text: __("patient.postalCode.label") }
        ],
        rows: patientRows
      })
    }) }}
  {% endfor %}
{% endblock %}
