{% from "school/_navigation.njk" import schoolNavigation with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = school.name %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("school.list.title"),
      href: "/schools"
    }]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ schoolNavigation({
    school: school,
    view: "show"
  }) }}

  {% for programme in school.programmes %}
    {% set columnWidth = "quarter" if programme.alternativeVaccine or programme.type == ProgrammeType.MMR else "third" %}

    {{ appHeading({
      title: programme.name,
      summary: __mf("session.eligible.count", {
        count: school.tally(programme.id)
      }),
      level: 3,
      size: "m"
    }) }}

    <div class="nhsuk-grid-row nhsuk-card-group">
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: PatientStatus.Consent,
          headingLevel: 3,
          colour: "blue",
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Consent
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Consent + "&programme_id=" + programme.id
        }) }}
      </div>
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: PatientStatus.Triage,
          headingLevel: 3,
          colour: "blue",
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Triage
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Triage + "&programme_id=" + programme.id
        }) }}
      </div>
    {% if programme.standardVaccine.criteria == VaccineCriteria.Intranasal %}
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: __("session.tally.dueForVaccineCriteria.label", {
            vaccineCriteria: programme.standardVaccine.criteria | lower
          }),
          colour: "green",
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Due,
            vaccineCriteria: programme.standardVaccine.criteria
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Due + "&programme_id=" + programme.id + "&vaccineCriteria=" + programme.standardVaccine.criteria
        }) }}
      </div>
    {% else %}
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: PatientStatus.Due,
          headingLevel: 3,
          colour: "green",
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Due
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Due + "&programme_id=" + programme.id
        }) }}
      </div>
    {% endif %}
    {% if programme.alternativeVaccine %}
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: __("session.tally.dueForVaccineCriteria.label", {
            vaccineCriteria: programme.alternativeVaccine.criteria | lower
          }),
          colour: "green",
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Due,
            vaccineCriteria: programme.alternativeVaccine.criteria
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Due + "&programme_id=" + programme.id + "&vaccineCriteria=" + programme.alternativeVaccine.criteria
        }) }}
      </div>
    {% endif %}
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: PatientStatus.Refused,
          headingLevel: 3,
          colour: "dark-orange",
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Refused
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Refused + "&programme_id=" + programme.id
        }) }}
      </div>
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: PatientStatus.Deferred,
          headingLevel: 3,
          colour: "red",
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Deferred
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Deferred + "&programme_id=" + programme.id
        }) }}
      </div>
    {% if programme.type == ProgrammeType.MMR or programme.type == ProgrammeType.Flu %}
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: PatientStatus.PartiallyVaccinated,
          headingLevel: 3,
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.PartiallyVaccinated
          }),
          href: school.uri + "/patients?report=" + PatientStatus.PartiallyVaccinated + "&programme_id=" + programme.id
        }) }}
      </div>
    {% endif %}
      <div class="nhsuk-grid-column-one-{{ columnWidth }} nhsuk-card-group__item">
        {{ appDataCard({
          heading: PatientStatus.Vaccinated,
          headingLevel: 3,
          compact: true,
          data: school.tally(programme.id, {
            status: PatientStatus.Vaccinated
          }),
          href: school.uri + "/patients?report=" + PatientStatus.Vaccinated + "&programme_id=" + programme.id
        }) }}
      </div>
    </div>
  {% endfor %}
{% endblock %}
