{% from "school/_navigation.njk" import schoolNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = school.name %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }],
    text: __("school.list.title"),
    href: "/schools"
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ schoolNavigation({
    school: school,
    view: "show"
  }) }}

  {{ card({
    heading: __("school.show.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(school, {
        urn: {},
        name: {},
        phase: {},
        address: {}
      })
    })
  }) }}
{% endblock %}
