{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("consent.new.check-answers.confirm") %}
{% set title = __("consent.new.check-answers.title") %}
{% set refusalReasonHasDetails = consent.refusalReason != RefusalReason.PersonalChoice or consent.refusalReason != RefusalReason.Other %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ card({
    heading: __("consent.decision.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(consent, {
        decision: {
          href: consent.uri + "/edit/decision"
        },
        refusalReason: {
          href: consent.uri + "/edit/refusal-reason"
        },
        refusalReasonDetails: {
          href: consent.uri + "/edit/refusal-reason-details"
        }
      })
    })
  }) }}

  {{ session.urn }}

  {{ card({
    heading: __("consent.child.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(consent.child, {
        fullName: {
          href: consent.uri + "/edit/child"
        },
        preferredName: {
          href: consent.uri + "/edit/child"
        },
        dob: {
          href: consent.uri + "/edit/dob"
        },
        address: {
          href: consent.uri + "/edit/address"
        } if consent.given,
        gpSurgery: {
          changeLabel: "GP surgery",
          href: consent.uri + "/edit/gp-registered"
        } if consent.given,
        urn: {
          value: consent.child.formatted.urn or session.location.name,
          href: consent.uri + "/edit/urn"
        }
      })
    })
  }) }}

  {{ card({
    heading: __("consent.parent.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(consent.parent, {
        fullName: {
          href: consent.uri + "/edit/parent"
        },
        relationship: {
          href: consent.uri + "/edit/parent"
        },
        hasParentalResponsibility: {
          href: consent.uri + "/edit/parent"
        },
        email: {
          href: consent.uri + "/edit/parent"
        },
        tel: {
          href: consent.uri + "/edit/parent"
        },
        sms: {
          href: consent.uri + "/edit/parent"
        },
        contactPreference: {
          href: consent.uri + "/edit/contact-preference"
        }
      })
    })
  }) }}

  {{ card({
    heading: __("consent.healthAnswers.label"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      classes: "app-summary-list--full-width",
      rows: healthAnswerRows(
        consent.healthAnswers,
        consent.uri + "/edit/health-question-{{key}}"
      )
    })
  }) if consent.given }}
{% endblock %}
