{% extends "_layouts/form.njk" %}

{% set title = __("consent.child.school.title") %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ __("consent.child.school.description", {
    organisation: data.organisation
  }) | nhsukMarkdown }}

  {{ xGovukAutocomplete({
    id: "school-urn",
    name: "[consent][child][school_urn]",
    value: consent.child.school_urn,
    allowEmpty: false,
    label: { text: __("consent.child.school.label") },
    items: urnItems
  }) | replace("govuk-", "nhsuk-") }}
{% endblock %}
