{% extends "_layouts/default.njk" %}

{% set title = __("manual.show.title") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("manual.show.title"),
      href: "/manual"
    }]
  }) if view != "index" }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title if view == "index" else __("manual." + view + ".label")
  }) }}

  <div class="nhsuk-u-reading-width">
    {{ contentsList({
      items: navigationItems
    }) }}

    {{ content | nhsukMarkdown("xl") }}
  </div>
{% endblock %}
