{% extends "_layouts/default.njk" %}

{% set title = __("team.show.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    caption: team.name,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ appSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {% call card({
        heading: __("team.schools.summary"),
        headingClasses: "nhsuk-heading-m"
      }) %}
        {% set schoolRows = [] %}
        {% for school in team.schools %}
          {% set schoolRows = schoolRows | push([
            {
              header: __("school.name.label"),
              html: school.formatted.nameAndAddress or "Not provided"
            }, {
              header: __("actions.label"),
              html: appActionList({
                items: [{
                  text: __("school.edit.label"),
                  href: school.uri + "/edit"
                }, {
                  text: __("school.delete.label"),
                  href: school.uri + "/delete"
                }]
              })
            }
          ]) %}
        {% endfor %}

        {{ button({
          classes: "nhsuk-button--secondary",
          text: __("team.schools.new.title"),
          href: "#"
        }) }}

        {{ table({
          id: "schools",
          responsive: true,
          head: [
            { text: __("school.name.label") },
            { text: __("actions.label") }
          ],
          rows: schoolRows
        }) }}
      {% endcall %}
    <div>
  </div>
{% endblock %}
