{% extends "_layouts/default.njk" %}

{% set title = __("team.show.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    caption: team.name,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ appSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {% set schoolRows = [] %}
      {% for school in team.schools %}
        {% set schoolRows = schoolRows | push([
          {
            header: __("school.name.label"),
            html: school.formatted.nameAndAddress or "Not provided"
          }, {
            header: __("actions.label"),
            html: appActionList({
              items: [{
                text: __("school.edit.label"),
                href: school.uri + "/edit"
              }]
            })
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "schools",
        responsive: true,
        card: {
          heading: __("team.schools.summary"),
          headingSize: "m",
          actions: {
            items: [
              {
                text: __("school.new.label"),
                href: "/schools/new"
              }, {
                text: __("school.new-site.label"),
                href: "/schools/new-site"
              }
            ]
          }
        },
        head: [
          { text: __("school.name.label") },
          { text: __("actions.label") }
        ],
        rows: schoolRows
      }) }}
    <div>
  </div>
{% endblock %}
