{% extends "_layouts/default.njk" %}

{% set title = __("team.show.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    caption: team.name,
    title: title
  }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      {{ appSubNavigation({
        items: navigationItems
      }) }}
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      {{ summaryList({
        card: {
          heading: __("team.sessions.defaults"),
          headingSize: "m"
        },
        rows: summaryRows(team, {
          sessionOpenWeeks: {
            href: team.uri + "/edit/sessions"
          },
          sessionReminderWeeks: {
            href: team.uri + "/edit/sessions"
          },
          sessionRegistration: {
            href: team.uri + "/edit/sessions"
          }
        })
      }) }}

      {{ summaryList({
        card: {
          heading: __("team.sessions.password"),
          headingSize: "m"
        },
        rows: summaryRows(team, {
          password: {
            href: team.uri + "/edit/password"
          }
        })
      }) }}
    <div>
  </div>
{% endblock %}
