{% extends "_layouts/meta.njk" %}

{% set title = __("user.list.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    caption: __("user.list.caption"),
    size: "xl",
    title: title
  }) }}

  {% for role, users in users | groupby("role") %}
    {% set userRows = [] %}
    {% for user in users | sort(false, false, "fullName") %}
      {% set userRows = userRows | push([
        {
          header: __("user.fullName.label"),
          html: user.link.fullName or "Not provided"
        },
        {
          header: __("user.uid.label"),
          html: user.formatted.uid or "Not provided"
        },
        {
          header: __("user.email.label"),
          html: user.email or "Not provided"
        }
      ]) %}
    {% endfor %}

    {{ table({
      classes: "nhsuk-u-margin-bottom-6",
      id: "users",
      caption: role,
      captionClasses: "nhsuk-u-font-size-32",
      responsive: true,
      head: [
        { text: __("user.fullName.label") },
        { text: __("user.uid.label") },
        { text: __("user.email.label") }
      ],
      rows: userRows
    }) }}
  {% endfor %}
{% endblock %}
