{% extends "_layouts/meta.njk" %}

{% set title = user.fullName %}
{% set paths = { back: "/users" } %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ appHeading({
      caption: __("user.list.title"),
      title: title
    }) }}

    {{ summaryList({
      card: {
        heading: __("user.show.summary"),
        headingSize: "m"
      },
      rows: summaryRows(user, {
        uid: {},
        fullName: {},
        email: {},
        role: {}
      })
    }) }}
  </div>
{% endblock %}
