{% extends "_layouts/meta.njk" %}

{% set title = user.fullName %}
{% set paths = { back: "/users" } %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ appHeading({
      caption: __("user.list.title"),
      title: title
    }) }}

    {{ card({
      heading: __("user.show.summary"),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: summaryRows(user, {
          uid: {},
          fullName: {},
          email: {},
          role: {}
        })
      })
    }) }}
  </div>
{% endblock %}
