## How the vaccine is given

Most children are given the vaccine as a nasal spray. This is a quick and painless spray up the nose and offers the best protection against flu.

The nasal spray contains a small amount of gelatine derived from pigs (porcine gelatine). If your child does not use gelatine products, or cannot have the nasal spray for medical reasons, they could have an injection instead.

[Find out more about the use of gelatine in the flu vaccine (including the views of faith communities)](https://www.gov.uk/government/publications/vaccines-and-porcine-gelatine/vaccines-and-porcine-gelatine)
