## How to respond

> It’s important to let us know whether you do or do not want your child to have {% if session.programmes.length == 1 %}this vaccination{% else %}these vaccinations{% endif %}. It will take less than 5 minutes to respond using the link below.

[Respond to the consent request now]({{ session.consentUrl }}/start)
