## Talk to your child about what they want

We suggest you talk to your child about the {{ vaccine__n }} before you respond to us.

{% if consent.child.school.phase == SchoolPhase.Secondary %}
Young people have the right to refuse vaccinations. Those who show ‘[Gillick competence](https://www.nhs.uk/conditions/consent-to-treatment/children)’ have the right to consent to vaccinations themselves. Our team may assess Gillick competence during vaccination sessions.
{% endif %}
