Dear {{ consent.parent.fullName }},

You’ve given consent for {{ consent.child.fullAndPreferredNames }} to get their {{ session.vaccinationNames.sentenceCase }} at school. Please let them know what to expect. We’ll confirm once the vaccination has taken place.

If {{ consent.child.firstName }}’s health changes, or you arrange to have the vaccination elsewhere, please get in touch.

Speak to a member of our team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
