Dear {{ consent.parent.fullName }},

You have told us you do not want {{ consent.child.fullAndPreferredNames }} to have their flu vaccination at {{ session.location.name }} because the vaccine contains gelatine.

A nurse will be in touch to talk about the possibility of them having an injection instead.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
