Dear {{ consent.parent.fullName }},

You have told us you do not want {{ consent.child.fullAndPreferredNames }} to have their {{ programme.name | replace("Flu", "flu") }} vaccination at {{ session.location.name }}.

If you change your mind, please get in touch with us.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
