Dear {{ consent.parent.fullName }},

You’ve told us that {{ consent.child.firstName }} has had both doses of the MMR vaccine.

We’ll update our records so you no longer get consent requests for MMR catch-up vaccinations.

If you did not mean to send this response, or you think that {{ consent.child.firstName }} is not fully vaccinated against MMR, contact our team using the details below.

{{ data.team.name }}<br>
{{ data.team.email }}<br>
{{ data.team.tel }}
