You’ve given consent for {{ consent.child.fullAndPreferredNames }} to have their {{ session.vaccinationNames.sentenceCase }}.

We don’t currently have any sessions scheduled at your child’s school, but this might change. We’ll be in touch again to let you know if we’re returning to the school. If we’re not, we’ll give you a chance to book into a community clinic.

If {{ consent.child.firstName }}’s health changes in the meantime, or you arrange to have the vaccination elsewhere, please get in touch.

{{ data.team.name }}<br>
{{ data.team.email }}<br>
{{ data.team.tel }}
