Dear {{ consent.parent.fullName }},

You’ve given consent for {{ consent.child.fullAndPreferredNames }} to have their {{ session.vaccinationNames.sentenceCase }} in school on {{ session.formatted.nextDate }}.

However, {{ placeholders.refuser }} has refused to give consent for this vaccination.

By law, our nursing team cannot vaccinate a child if someone with parental responsibility refuses to give consent.

If {{ placeholders.refuser }} changes their mind, we’ll let you know.

## Get in touch with us

Speak to a member of our team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
