We wrote to you recently about a visit by a local health team to {{ session.location.name }} on {{ session.summary.dates }}.

If you want your child to get the {{ session.vaccination }}, you need to give consent by {{ session.formatted.closeAt }}.

If you’ve already responded to the consent request, you can ignore this message.

{% for programme in session.programmes %}
## About the {{ programme.name | replace("Flu", "flu") }} vaccine

{{ programme.information.description }}

{% if programme.type == ProgrammeType.Flu %}
The vaccination is a quick and painless spray up the nose. Even if your child had the vaccine last year, the type of flu can vary each winter, so we recommend they have it again this year.

The nasal spray contains gelatine. If your child does not use gelatine products, they could have an injection instead.
{% endif %}

[Find out more about the {{ programme.name | replace("Flu", "flu") }} vaccine on NHS.UK]({{ programme.information.url }})
{% endfor %}

## Please give or refuse consent

[Give or refuse consent for the {{ session.vaccination }}]({{ session.consentUrl }})

Responding will take less than 5 minutes. If you do not give consent, it’s still important for you to respond.

{% if programme.type != ProgrammeType.Flu %}
## Talk to your child about what they want

We suggest you talk to your child about the {{vaccine__n}} before you respond to us.

{% endif %}

## If you have trouble using the online form

If you have any trouble using the online form, you can respond over the phone using the contact details below.

## Contact the local health team

Speak to a member of the local health team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
