You recently booked {{ consent.child.fullAndPreferredNames }} into a clinic so they can get their {{ programme.name | replace("Flu", "flu") }} vaccination.

Please give consent for this vaccination ahead of your clinic appointment.

[Give consent for the {{ programme.name | replace("Flu", "flu") }} vaccination](/consents/{{ session.id }})

## Contact the local health team

Speak to a member of the local health team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
