Our team are coming back to {{ session.location.name }} on {{ session.summary.dates }} to give the {{ session.vaccinationNames.sentenceCase }}.

If you want your child to be vaccinated in school, you need to give your consent.

{% for programme in session.primaryProgrammes %}
## About the {{ programme.vaccineName.sentenceCase }}

{{ programme.information.description }}

[Find out more about the {{ programme.vaccineName.sentenceCase }} on NHS.UK]({{ programme.information.url }})
{% endfor %}

{% if programme.type == ProgrammeType.Flu %}
{% include "emails/consent/_about-the-nasal-spray.njk" %}
{% endif %}

{% include "emails/consent/_how-to-respond.njk" %}

{% if consent.child.school.phase == SchoolPhase.Secondary %}
{% include "emails/consent/_talk-to-your-child.njk" %}
{% endif %}

{% include "emails/consent/_trouble-using-online-form.njk" %}

{% include "emails/consent/_your-data.njk" %}

{% include "emails/consent/_get-in-touch.njk" %}
