Our records show your child has not had their HPV vaccination. Pupils usually have this when they’re in Year 8.

If you’d like your child to be vaccinated when our team visits {{ session.location.name }} on {{ session.summary.dates }}, you need to give your consent.

## What the vaccine is for

The HPV vaccine helps protect against cancers caused by HPV, including:

- cervical cancer
- some mouth and throat (head and neck) cancers
- some cancers of the anal and genital areas

The HPV vaccine works best if it’s given before young people become sexually active.

[Find out more about the HPV vaccine on NHS.UK](https://www.nhs.uk/conditions/vaccinations/hpv-human-papillomavirus-vaccine/)

## Please give or refuse consent

[Give or refuse consent for the HPV vaccination](/consents/{{ session.id }})

Responding will take less than 5 minutes.

## Talk to your child about what they want

We suggest you talk to your child about the vaccine before you respond to us.

## If you have trouble using the online form

If you have any trouble using the online form, you can respond over the phone using the contact details below.

## Contact the local health team

Speak to a member of the local health team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
