Our records show that {{ consent.child.fullAndPreferredNames }} has not had their {{ session.vaccination }} yet.

If you’d like them to have this at a clinic, you can book a slot by going to <https://www.swiftqueue.co.uk/userlogin.php>

Slots are normally for 10 minutes. If your child needs more time, please contact the office using the details below.

## How to use Swiftqueue

If you haven’t used Swiftqueue before, you’ll need to register for an account before you can make a booking.

Once you have an account, click on ‘Book an appointment’ and search for ‘CWP’.

You can then select:

- Jepson House for Nuneaton clinics
- Locke House for Rugby clinics
- Woodloes House for South Warwickshire clinic
- Alcester Clinic for Alcester clinics
- City of Coventry Health Centre or Central Library for Coventry clinics

Click on the green ‘School questionnaire tab’ and type in your child’s school. Once you’ve chosen ‘{{ programme.name }}’ as the vaccination type, select your preferred time and date.

If you have any questions or difficulties, feel free to contact us.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
