You recently booked {{ consent.child.fullAndPreferredNames }} into a clinic so they can get their {{ session.vaccination }}.

Please give consent for this vaccination ahead of your clinic appointment.

[Give consent for the {{ session.vaccination }}]({{ session.consentUrl }}/start)

## Get in touch with us

Speak to a member of our team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
