We wrote to you recently about a visit by our team to {{ session.location.name }} on {{ session.summary.dates }}.

If you want your child to get the {{ session.vaccinationNames.sentenceCase }}, you need to give consent by {{ session.formatted.closeAt }}.

If you’ve already responded to the consent request, you can ignore this message.

{% for programme in session.programmes %}
## About the {{ programme.vaccineName.sentenceCase }}

{{ programme.information.description }}

[Find out more about the {{ programme.vaccineName.sentenceCase }} on NHS.UK]({{ programme.information.url }})
{% endfor %}

{% if programme.type == ProgrammeType.Flu %}
{% include "emails/consent/_about-the-nasal-spray.njk" %}
{% endif %}

{% if consent.child.school.phase == SchoolPhase.Secondary %}
{% include "emails/consent/_talk-to-your-child.njk" %}
{% endif %}

{% include "emails/consent/_how-to-respond.njk" %}

{% include "emails/consent/_trouble-using-online-form.njk" %}

{% include "emails/consent/_your-data.njk" %}

{% include "emails/consent/_get-in-touch.njk" %}
