{% if session.programmes.length == 1 %}
We’re coming to {{ session.location.name }} on {{ session.summary.dates }} to offer the {{ session.programmes[0].title }} vaccine to your child.
{% else %}
We’re coming to {{ session.location.name }} on {{ session.summary.dates }} to offer the following vaccines to your child:

{% for programme in session.programmes %}
- {{ programme.title }}
{%- endfor %}
{% endif %}

We would like your consent to vaccinate {{ consent.child.fullName }}. You can give this by filling in our online form (the link is below).

{% for programme in session.programmes %}
## About the {{ programme.name | replace("Flu", "flu") }} vaccine

{{ programme.information.description }}

[Find out more about the {{ programme.name | replace("Flu", "flu") }} vaccine on NHS.UK]({{ programme.information.url }})

{% if programme.vaccine.leaflet %}
[Read the patient information leaflet for the {{ programme.name }} vaccine (PDF, {{ programme.vaccine.leaflet.size }})]({{ programme.vaccine.leaflet.url }})
{% endif %}
{% endfor %}

## How to respond

> It’s important to let us know whether you do or do not want your child to have {% if session.programmes.length == 1 %}this vaccination{% else %}these vaccinations{% endif %}. It will take less than 5 minutes to respond using the link below.

[Respond to the consent request]({{ session.consentUrl }}/start)

You need to respond by {{ session.formatted.firstDate }}.

{% if programme.type != ProgrammeType.Flu %}
## Talk to your child about what they want

We suggest you talk to your child about the {{ vaccine__n }} before you respond to us.

{% if programme.type != ProgrammeType.Flu %}
Young people have the right to refuse vaccinations. Those who show ‘[Gillick competence](https://www.nhs.uk/conditions/consent-to-treatment/children)’ have the right to consent to vaccinations themselves. Our team may assess Gillick competence during vaccination sessions.
{% endif %}

{% endif %}

## If you cannot use the online form

If you cannot use the online form, you can respond over the phone using the contact details below.

## Your data

By responding, you’re agreeing to your data being processed as set out in our [privacy notice]({{ data.organisation.privacyPolicyUrl }}).

{% if programme.type == ProgrammeType.Flu %}
## About the nasal spray

The nasal spray contains gelatine. If your child does not use gelatine products, or the nasal spray is not suitable for medical reasons, they could have an injection instead.

The nasal spray gives children the best protection against flu. However, the injected vaccine is a good alternative if the nasal spray vaccine cannot be used.

[Find out more about protecting your child against flu](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1165161/UKHSA-12652-protecting-your-child-against-flu-information-for-parents-and-carers.pdf)

[Find out more about the use of gelatine in the flu vaccine (including the views of faith communities)](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1107767/UKHSA-12462-vaccines-porcine-gelatine-English.pdf)
{% endif %}

## Get in touch with us

Speak to a member of our team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
