{% if session.programmes.length == 1 %}
Your local health team are coming to {{ session.location.name }} on {{ session.summary.dates }} to give the {{ session.programmes[0].information.title }} vaccine.
{% else %}
Your local health team are coming to {{ session.location.name }} on {{ session.summary.dates }} to give the following vaccines:

{% for programme in session.programmes %}
- {{ programme.information.title }}
{%- endfor %}
{% endif %}

## What the {{vaccine__n}} {{is__n}} for

{% for programme in session.programmes %}
{{ programme.information.description }}
{% endfor %}

## Please give or refuse consent

If you want your child to get {% if session.programmes.length == 1 %}this vaccine{% else %}these vaccines{% endif %} at school, you need to give consent by {{ session.formatted.firstDate }}.

[Give or refuse consent for the {{ session.vaccination }}](/consents/{{ session.id }})

Responding will take less than 5 minutes. If you do not give consent, it’s still important for you to let us know.

## Your data

By responding, you’re agreeing to your data being processed as set out in our [privacy notice]({{ data.organisation.privacyPolicyUrl }}).

{% for programme in session.programmes %}
## About the {{ programme.name | replace("Flu", "flu") }} vaccine

{{ programme.information.audience }}

[Find out more about the {{ programme.name | replace("Flu", "flu") }} vaccine on NHS.UK]({{ programme.information.url }})

{% if programme.information.leaflet %}
[Read the patient information leaflet]({{ programme.information.leaflet }})
{% endif %}

{% if programme.type == ProgrammeType.Flu %}
The nasal spray contains gelatine. If your child does not use gelatine products, or the nasal spray is not suitable for medical reasons, they could have an injection instead.

The nasal spray gives children the best protection against flu. However, the injected vaccine is a good alternative if the nasal spray vaccine cannot be used.

[Find out more about protecting your child against flu](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1165161/UKHSA-12652-protecting-your-child-against-flu-information-for-parents-and-carers.pdf)

[Find out more about the use of gelatine in the flu vaccine (including the views of faith communities)](https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1107767/UKHSA-12462-vaccines-porcine-gelatine-English.pdf)
{% endif %}
{% endfor %}

{% if programme.type != ProgrammeType.Flu %}
## Talk to your child about what they want

We suggest you talk to your child about the {{ vaccine__n }} before you respond to us.
{% endif %}

## If you have trouble using the online form

If you have any trouble using the online form, you can respond over the phone using the contact details below.

## Contact the local health team

Speak to a member of the local health team by calling {{ data.organisation.tel }}, or email {{ data.organisation.email }}.
