{% if programme.type == ProgrammeType.Flu %}
We’re coming to {{ session.location.name }} on {{ session.formatted.nextDate }} to give pupils their annual flu vaccination.
{% elif programme.type == ProgrammeType.MMR %}
We’re coming to {{ session.location.name }} on {{ session.formatted.nextDate }} to offer the MMR vaccination to children who have not yet had 2 doses of the vaccine.
{% elif session.programmes.length == 1 %}
We’re coming to {{ session.location.name }} on {{ session.formatted.nextDate }} to offer the {{ session.programmeNames.sentenceCase }} vaccine to your child.
{% else %}
We’re coming to {{ session.location.name }} on {{ session.formatted.nextDate }} to offer the following vaccines to your child:

{% for programme in session.programmes %}
- {{ programme.title }}
{%- endfor %}
{% endif %}

We’d like your consent to vaccinate {{ consent.child.firstName }}. You can respond by filling in our online form.

> Do not reply to this email to tell us your decision. The link to the online consent form is below.

{% if programme.type == ProgrammeType.MMR %}
If you’re sure your child has had 2 doses, please confirm this using the consent request form.
{% endif %}

{% if session.dates.length > 1 %}
We can’t say on which of the above dates your child will have the vaccination because of the number of pupils involved.
{% endif %}

{% for programme in session.programmes %}
## About the {{ programme.vaccineName.sentenceCase }}

{{ programme.information.description }}

[Find out more about the {{ programme.vaccineName.sentenceCase }} on NHS.UK]({{ programme.information.url }})

You can also find a range of [information about the {{ programme.vaccineName.sentenceCase }} on GOV.UK]({{ programme.guidance.url }}) {{ programme.guidance.hint }}.
{% endfor %}

{% if programme.type == ProgrammeType.Flu %}
{% include "emails/consent/_about-the-nasal-spray.njk" %}
{% endif %}

{% include "emails/consent/_talk-to-your-child.njk" %}

{% include "emails/consent/_how-to-respond.njk" %}

You need to respond by {{ session.formatted.nextDate }}.

If you do not respond, you’ll get automatic reminders. Responding will stop reminders.

{% include "emails/consent/_trouble-using-online-form.njk" %}

{% include "emails/consent/_your-data.njk" %}

{% include "emails/consent/_get-in-touch.njk" %}
