It’s not too late to book an {{ session.vaccinationNames.sentenceCase }} for {{ consent.child.fullAndPreferredNames }}.

If you’d like to book a clinic appointment, please contact us using the details below.

{{ data.team.name }}<br>
{{ data.team.email }}<br>
{{ data.team.tel }}
