Dear {{ consent.parent.fullName }},

{{ consent.child.fullAndPreferredNames }} had their {{ session.vaccinationNames.sentenceCase }} at {{ session.location.name }} today.{% if consent.child.school.phase == SchoolPhase.Primary %} They were very brave.{% endif %}

We suggest you record the following details {% if consent.child.school.phase == SchoolPhase.Primary %}in their red book (also known as their personal child health record){% else %}somewhere{% endif %}:

{% for programme in session.primaryProgrammes %}
> Vaccination: {{ programme.name }}<br>
> Vaccine: {{ programme.vaccines[0].brand }}<br>
> Date of vaccination: {{ session.formatted.firstDate }}<br>
> Batch number: AB1234
{% endfor %}

## Your child might have some side effects

Your child might have some of the following side effects:

{{ combinedSideEffects | safe }}

If you’re concerned about your child’s reaction to the vaccine, contact your GP in the usual way.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
