Dear {{ consent.parent.fullName }},

{{ consent.child.fullAndPreferredNames }} had their {{ programme.name }} vaccination at {{ session.location.name }} today.{% if consent.child.school.phase == SchoolPhase.Primary %} They were very brave.{% endif %}

We suggest you record the following details {% if consent.child.school.phase == SchoolPhase.Primary %}in their red book (also known as their personal child health record){% else %}somewhere{% endif %}:

> Vaccination: {{ programme.name }}<br>
> Vaccine: {{ programme.vaccines[0].brand }}<br>
{%- if programme.alternativeVaccine %}
> Method: {{ programme.vaccines[0].method }}<br>
{%- endif %}
> Date of vaccination: {{ session.formatted.firstDate }}<br>
> Batch number: AB1234

## Your child might have some side effects

Your child might have some of the following side effects:

{{ programme.vaccines[0].formatted.sideEffects | safe }}

If you’re concerned about your child’s reaction to the vaccine, contact your GP in the usual way.

{{ data.organisation.name }}<br>
{{ data.organisation.email }}<br>
{{ data.organisation.tel }}
