Dear {{ consent.parent.fullName }},

Thanks for answering the health questions about {{ consent.child.fullAndPreferredNames }}. Our nurses have confirmed it’s safe for Jamie to have the {{ session.vaccinationNames.sentenceCase }}.

This will take place at {{ session.location.name }} on {{ session.formatted.nextDate }}.

We’ll let you know once Jamie is vaccinated.

If Jamie’s health changes, or you arrange to have the vaccination elsewhere, please get in touch. You can email {{ data.organisation.email }} or call {{ data.organisation.tel }}.

The child health team
