{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("download.new.check-answers.confirm") %}
{% set title = __("download.new.check-answers.title") %}

{% block form %}
  {{ heading({
    caption: programme.name,
    title: title
  }) }}

  {{ card({
    heading: __("download.new.check-answers.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(download, {
        startAt: {
          href: "dates"
        },
        endAt: {
          href: "dates"
        },
        organisations: {
          href: "organisations"
        },
        format: {
          href: "format"
        },
        vaccinations: {}
      })
    })
  }) }}
{% endblock %}
