{% extends "_layouts/form.njk" %}

{% set title = __("download.dates.title") %}

{% block form %}
  {{ heading({
    caption: programme.name,
    title: title
  }) }}

  {{ dateInput({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-6"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.startAt.label") + " (optional)"
      }
    },
    hint: { text: __("download.startAt.hint") },
    decorate: "download.startAt_"
  }) }}

  {{ dateInput({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("download.endAt.label") + " (optional)"
      }
    },
    hint: { text: __("download.endAt.hint") },
    decorate: "download.endAt_"
  }) }}
{% endblock %}
