{% extends "_layouts/form.njk" %}

{% set title = __("download.organisations.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: programme.name,
          title: title
        })
      }
    },
    items: organisationItems,
    decorate: "download.organisation_codes"
  }) }}
{% endblock %}
