{% extends "_layouts/form.njk" %}

{% set title = __("download.providers.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: campaign.type,
          title: title
        })
      }
    },
    items: providerItems,
    decorate: "download.providers"
  }) }}
{% endblock %}
