{% extends "_layouts/emails.njk" %}

{% if session.programmes.length == 1 %}
  {% set caption = __("consent.start.title.single", session.vaccination) %}
  {% set vaccine__n = "vaccine" %}
  {% set is__n = "is" %}
{% else %}
  {% set caption = __("consent.start.title.multiple", session.vaccination) %}
  {% set vaccine__n = "vaccines" %}
  {% set is__n = "are" %}
{% endif %}

{% set programme = session.programmes[0] %}

{% set placeholders = {
  from: {
    name: data.organisation.name,
    email: data.organisation.email
  },
  to: {
    name: consent.parent.fullName,
    email: consent.parent.email
  },
  programme: programme,
  consent: consent,
  reason: "they were absent from the session",
  refuser: "James Smith",
  session: session
} %}

{% set defaultTemplate = "invite" %}
{% set dir = "consent" %}
{% set templates = {
  "Invite": [
    "invite",
    "invite-catch-up" if programme.type == ProgrammeType.HPV,
    "invite-reminder",
    "invite-subsequent-reminder",
    "invite-clinic",
    "invite-clinic-reminder",
    "invite-clinic-consent",
    "information-child" if programme.type == ProgrammeType.HPV
  ],
  "Consent": [
    "consent-given",
    "consent-given-changed-school",
    "consent-conflicts",
    "consent-refused",
    "consent-refused-injection" if programme.type == ProgrammeType.Flu,
    "consent-needs-triage"
  ],
  "Triage": [
    "triage-vaccinate",
    "triage-delay-vaccination",
    "triage-do-not-vaccinate"
  ],
  "Record": [
    "record-reminder",
    "record-vaccinated",
    "record-could-not-vaccinate"
  ]
} %}
