{% extends "_layouts/default.njk" %}

{% set title = false %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ appHeading({
        size: "xl",
        title: __("consent.start.title." + session.presetNames[0])
      }) }}

      {% for programme in session.programmes %}
        {% if session.programmes.length != 1 %}
          <h2 class="nhsuk-heading-m">{{ programme.title }}</h2>
        {% endif %}

        {{ programme.information.startPage | nhsukMarkdown }}

        {{ link(programme.information.url, __("consent.start.more", { programme: programme })) | nhsukMarkdown }}
      {% endfor %}

      <h2 class="nhsuk-heading-m">
        {{ __("consent.start.confirm.title") }}
      </h2>

      {{ button({
        text: __("consent.start.confirm.buttonText"),
        href: session.consentUrl + "/new"
      }) }}

      <h3 class="nhsuk-heading-s">
        {{ __("consent.start.otherMethods.title") }}
      </h3>

      {{ __("consent.start.otherMethods.description") | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}
