{% extends "_layouts/texts.njk" %}

{% set caption = __("consent.start.title." + session.presetNames[0]) | safe %}

{% set placeholders = {
  programme: programme,
  consent: consent,
  team: data.team,
  reason: "they were absent from the session",
  session: session
} %}

{% set defaultTemplate = "invite" %}
{% set dir = "consent" %}
{% set templates = {
  "Invite": [
    "invite",
    "invite-reminder",
    "invite-clinic",
    "invite-clinic-reminder",
    "invite-clinic-consent"
  ],
  "Consent": [
    "consent-already-vaccinated" if programme.type == ProgrammeType.MMR,
    "consent-given",
    "consent-given-child",
    "consent-refused"
  ],
  "Record": [
    "record-reminder",
    "record-reminder-child",
    "record-vaccinated",
    "record-could-not-vaccinate"
  ]
} %}
