{% extends "_layouts/form.njk" %}

{% set title = __("clinic." + form + ".title") %}
{% set confirmButtonText = __("clinic." + form + ".confirm") %}

{% block form %}
  {% call fieldset({
    legend: {
      html: heading({
        classes: "nhsuk-fieldset__legend--l",
        title: title
      })
    }
  }) %}
    {{ input({
      label: { text: __("clinic.name.label") },
      decorate: "clinic.name"
    }) }}

    {{ input({
      label: { text: __("clinic.addressLine1.label") },
      autocomplete: "address-line1",
      decorate: "clinic.addressLine1"
    }) }}

    {{ input({
      label: { text: __("clinic.addressLine2.label") + " (optional)" },
      autocomplete: "address-line2",
      decorate: "clinic.addressLine2"
    }) }}

    {{ input({
      classes: "nhsuk-u-width-two-thirds",
      label: { text: __("clinic.addressLevel1.label") },
      autocomplete: "addressLevel1",
      decorate: "clinic.addressLevel1"
    }) }}

    {{ input({
      classes: "nhsuk-input--width-10",
      label: { text: __("clinic.postalCode.label") },
      autocomplete: "postal-code",
      decorate: "clinic.postalCode"
    }) }}
  {% endcall %}
{% endblock %}
