{% extends "_layouts/default.njk" %}

{% set title = __("cohort.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {% set cohorts = cohorts | sort(false, false, "programme_id") %}
  {% for programme_id, cohorts in cohorts | groupby("programme_id") %}
    <h2>{{ data.programmes[programme_id].name }}</h2>
    <ul class="nhsuk-grid-row nhsuk-card-group">
    {% for cohort in cohorts | sort(false, false, "yearGroup") %}
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
        {{ card({
          clickable: true,
          heading: cohort.formatted.yearGroup,
          headingClasses: "nhsuk-heading-m",
          href: cohort.uri,
          descriptionHtml: __n("cohort.patients.count", cohort.patients.length)
        }) }}
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
