{% extends "_layouts/default.njk" %}

{% set title = cohort.formatted.yearGroup %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }, {
      text: data.programmes[cohort.programme_id].type,
      href: "/programmes/" + cohort.programme_id
    }],
    text: __("programme.cohorts.title"),
    href: "/programmes/" + cohort.programme_id + "/cohorts"
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: title
  }) }}

  {% if cohort.patients.length %}
    {% set patientRows = [] %}
    {% for patient in cohort.patients %}
      {% set patientRows = patientRows | push([
        {
          header: __("patient.fullNameAndNhsn.label"),
          html: patient.link.fullNameAndNhsn
        },
        {
          header: __("patient.dob.label"),
          text: patient.formatted.dob
        },
        {
          header: __("patient.postalCode.label"),
          text: patient.postalCode
        },
        {
          header: __("patient.school.label"),
          text: patient.formatted.school
        }
      ]) %}
    {% endfor %}

    {{ table({
      id: "cohort",
      heading: __n("cohort.patients.count", cohort.patients.length),
      headingLevel: 2,
      panel: true,
      responsive: true,
      head: [
        { text: __("patient.fullNameAndNhsn.label") },
        { text: __("patient.dob.label") },
        { text: __("patient.postalCode.label") },
        { text: __("patient.school.label") }
      ],
      rows: patientRows
    }) }}
  {% else %}
    {{ __n("cohort.patients.count", cohort.patients.length) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
