{% extends "_layouts/default.njk" %}

{% set title = cohort.formatted.yearGroup %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("cohort.list.title"),
      href: "/cohorts"
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: title,
    summary: cohort.cycle
  }) }}

  {% if records.length %}
    {% set recordRows = [] %}
    {% for patient in records %}
      {% set outcome = enumKeyAndValue(PatientOutcome, patient.outcome.value) %}
      {% set tagColor = __("outcome." + outcome.key + ".colour") %}
      {% set recordRows = recordRows | push([
        {
          header: __("record.fullName.label"),
          html: patient.link.fullName
        },
        {
          header: __("record.nhsn.label"),
          html: patient.record.formatted.nhsn or "Not provided"
        },
        {
          header: __("record.dob.label"),
          html: patient.record.formatted.dob
        },
        {
          header: __("outcome.label"),
          html: tag({
            classes: "nhsuk-tag--" + tagColor,
            text: patient.outcome.value
          })
        },
        {
          header: __("record.actions.label"),
          html: actionList({
            items: [{
              text: "Remove",
              href: "#"
            }]
          }) if not patient.session_id else " "
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      id: "cohort",
      heading: __n("cohort.records.count", records.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("record.fullName.label") },
        { text: __("record.nhsn.label") },
        { text: __("record.dob.label") },
        { text: __("outcome.label") },
        {
          text: __("record.actions.label"),
          attributes: { "no-sort": "no-sort" }
        }
      ],
      rows: recordRows
    }) }}
  {% else %}
    {{ __n("cohort.records.count", records.length) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
