@use "sass:color";
@use "../vendor/nhsuk-frontend" as *;
@use "../core" as app;

.app-card {
  &--aqua-green {
    background-color: nhsuk-tint($color_nhsuk-aqua-green, 80%);
    border-color: nhsuk-tint($color_nhsuk-aqua-green, 50%);
    color: nhsuk-shade($color_nhsuk-aqua-green, 50%);

    &.nhsuk-card__clickable:active {
      border-color: nhsuk-shade($color_nhsuk-aqua-green, 50%);
    }
  }

  &--green {
    background-color: nhsuk-tint($color_nhsuk-green, 80%);
    border-color: nhsuk-tint($color_nhsuk-green, 40%);
    color: nhsuk-shade($color_nhsuk-green, 40%);

    &.nhsuk-card__clickable:active {
      border-color: nhsuk-shade($color_nhsuk-green, 40%);
    }
  }

  &--grey {
    background-color: nhsuk-tint($color_nhsuk-grey-1, 80%);
    border-color: nhsuk-tint($color_nhsuk-grey-1, 30%);
    color: nhsuk-shade($color_nhsuk-grey-1, 30%);

    &.nhsuk-card__clickable:active {
      border-color: nhsuk-shade($color_nhsuk-grey-1, 30%);
    }
  }

  &--red {
    background-color: nhsuk-tint($color_nhsuk-red, 80%);
    border-color: nhsuk-tint($color_nhsuk-red, 50%);
    color: nhsuk-shade($color_nhsuk-red, 50%);

    &.nhsuk-card__clickable:active {
      border-color: nhsuk-shade($color_nhsuk-red, 50%);
    }
  }

  &--yellow {
    background-color: color.mix($color_nhsuk-white, $color_nhsuk-warm-yellow, 80%);
    border-color: $color_nhsuk-warm-yellow;

    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-warm-yellow;
      color: $nhsuk-text-color;
    }

    blockquote {
      border-color: $color_nhsuk-warm-yellow;
    }
  }

  &--green,
  &--grey,
  &--red,
  &--yellow {
    .nhsuk-card__link,
    .nhsuk-card__link:hover {
      color: inherit;
    }
  }

  &--offset {
    background-color: rgba($color_nhsuk-grey-5, 0.5);
  }
}

.app-card--compact {
  @include nhsuk-responsive-margin(3, "bottom");

  .nhsuk-button-group {
    margin-top: nhsuk-spacing(-4);
  }

  .nhsuk-card__heading {
    @include nhsuk-responsive-margin(1, "bottom");
  }

  .nhsuk-card__content {
    @include nhsuk-responsive-padding(4);
    @include nhsuk-responsive-padding(3, "bottom");
  }
}

// Align counts across cards
.nhsuk-card:has(> .nhsuk-card__content > .app-card__count) {
  display: flex;

  .nhsuk-card__heading {
    line-height: 1.2;
  }

  .nhsuk-card__content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
  }
}

.app-card__count {
  @include nhsuk-font-size(48);
  @include nhsuk-typography-weight-bold;
}

.app-card__heading {
  &--aqua-green {
    background-color: $color_nhsuk-aqua-green;
  }

  &--dark-orange {
    background-color: app.$color_dark-orange;
  }

  &--green {
    background-color: $color_nhsuk-green;
  }

  &--grey {
    background-color: $color_nhsuk-grey-1;
  }

  &--purple {
    background-color: $color_nhsuk-purple;
  }

  &--red {
    background-color: $color_nhsuk-red;
  }

  &--warm-yellow {
    background-color: $color_nhsuk-warm-yellow;
    color: $nhsuk-text-color;
  }
}
