@use "../vendor/nhsuk-frontend" as *;
@use "../core" as app;

.app-status {
  align-items: start;
  display: flex;
  font-weight: bold;
  gap: nhsuk-spacing(1);

  .nhsuk-icon {
    flex-shrink: 0;
    margin-left: nhsuk-px-to-rem(-4px);
    margin-top: nhsuk-px-to-rem(-2px);
  }

  &--blue {
    color: nhsuk-colour("blue");
  }

  &--dark-orange {
    color: app.$dark-orange-colour;
  }

  &--green {
    color: nhsuk-colour("green");
  }

  &--red {
    color: nhsuk-colour("red");
  }
}

.app-status--small {
  @include nhsuk-font(16, $weight: bold);

  .nhsuk-icon {
    height: 1.25em;
    margin-left: -2px;
    margin-top: 1px;
    width: 1.25em;
  }
}
