{% extends "_layouts/default.njk" %}

{% set title = __("import.devoid.title") %}
{% set paths = {
  back: programme.uri + "/imports/new"
} %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ heading({
      caption: programme.name,
      title: title
    }) }}

    {{ __("import.devoid.description") | nhsukMarkdown }}

    {{ button({
      classes: "app-button--secondary",
      text: __("import.file.title", { type: import.type | lower }),
      href: programme.uri + "/imports/new?type=" + import.type
    }) }}
  </div>
{% endblock %}
