{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("import.file.confirm") %}
{% set programme = data.programmes[import.programme_pid] %}
{% set title = __("import.file.title", { type: import.type | lower }) %}

{% set templateFormat %}
  {% if import.type == ImportType.Cohort %}
    {% include "import/_template-format-cohort.njk" %}
  {% elif import.type == ImportType.Report %}
    {% if programme.type == ProgrammeType.HPV %}
      {% include "import/_template-format-report-hpv.njk" %}
    {% elif programme.type == ProgrammeType.Flu %}
      {% include "import/_template-format-report-flu.njk" %}
    {% endif %}
  {% endif %}
{% endset %}

{% block form %}
  {{ errorSummary({
    titleText: __("error.title"),
    errorList: errorList(errors)
  }) if errors }}

  {% if import.type == ImportType.Report %}
    {% if programme.type == ProgrammeType.Flu %}
      {% set hintText = __("import.file.hint", {
        type: import.type | lower,
        prefix: "These will go to NHS England and GPs. "
      }) %}
    {% elif programme.type == ProgrammeType.HPV %}
      {% set hintText = __("import.file.hint", {
        type: import.type | lower,
        prefix: "These will go to NHS England. "
      }) %}
    {% else %}
      {% set hintText = __("import.file.hint", {
        type: import.type | lower
      }) %}
    {% endif %}
  {% else %}
    {% set hintText = __("import.file.hint", {
      type: import.type | lower
    }) %}
  {% endif %}

  {{ govukFileUpload({
    id: "import",
    name: "import",
    label: {
      classes: "nhsuk-label--m",
      html: heading({
        caption: programme.name,
        title: title
      })
    },
    hint: {
      text: hintText
    },
    errorMessage: {
      text: errors.import
    } if errors.import
  }) | replace("govuk-", "nhsuk-") }}

  {{ details({
    text: __("import.file.format", { type: import.type | lower }),
    HTML: templateFormat
  }) }}
{% endblock %}
