{% extends "_layouts/form.njk" %}

{% set title = __("import.type.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true,
        text: title
      }
    },
    items: typeItems,
    decorate: "_import.type"
  }) }}
{% endblock %}
