{% extends "_layouts/form.njk" %}

{% set title = __("account.change-role.title") %}
{% set headerOptions = {
  service: {
    text: serviceName
  }
} %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          caption: data.team.name,
          title: title
        })
      }
    },
    items: enumItems(UserRole),
    decorate: "role"
  }) }}
{% endblock %}
