{% extends "_layouts/form.njk" %}

{% set assetsName = "public" %}
{% set hideConfirmButton = true %}
{% set title = __("account.cis2.method.label") %}
{% set headerOptions = {
  service: {
    text: "CIS2 Authentication"
  }
} %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          title: title
        })
      }
    },
    name: "method",
    items: [
      { text: __("account.cis2.method.smartcard") },
      { text: __("account.cis2.method.hello") },
      { text: __("account.cis2.method.key") },
      { text: __("account.cis2.method.ipad") },
      { text: __("account.cis2.method.authenticator") },
      { text: __("account.cis2.method.nhsMail") },
      { text: __("account.cis2.method.passkey") }
    ]
  }) }}

  {{ appHeading({
    classes: "nhsuk-heading-xs nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-5",
    level: 2,
    title: __("account.cis2.terms.heading")
  }) }}

  {{ __("account.cis2.terms.description") | nhsukMarkdown }}

  {{ button({
    text: __("form.continue")
  }) }}

  {{ checkboxes({
    items: [{
      text: __("account.cis2.remember.label"),
      hint: { text: __("account.cis2.remember.hint") }
    }]
  }) }}
{% endblock %}
