{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("account.sign-in.confirm") %}
{% set public = true %}
{% set title = __("account.sign-in.title") %}

{% block form %}
  {{ heading({
    size: "xl",
    title: title
  }) }}

  {{ input({
    label: { text: __("account.email.label") },
    decorate: "email"
  }) }}

  {{ govukPasswordInput({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-2"
    },
    label: { text: __("account.password.label") },
    id: "password",
    name: "password"
  }) | replace("govuk-button", "nhsuk-button") | replace("govuk-form", "nhsuk-form") | replace("govuk-hint", "nhsuk-hint") | replace("govuk-input", "nhsuk-input") | replace("govuk-label", "nhsuk-label") }}

  {{ link("/account/reset-password", __("account.password.forgot")) | nhsukMarkdown }}
{% endblock %}
