{{ xGovukSecondaryNavigation({
  classes: "nhsuk-u-margin-bottom-6",
  items: [{
    text: __("campaign.show.title"),
    href: "/campaigns/" + campaign.uuid,
    current: view == "show"
  }, {
    text: __("campaign.sessions.title"),
    href: "/campaigns/" + campaign.uuid + "/sessions",
    current: view == "sessions"
  }]
}) }}
