{{ xGovukSecondaryNavigation({
  items: [{
    text: __("campaign.show.title"),
    href: campaign.uri,
    current: view == "show"
  }, {
    text: __("campaign.sessions.title"),
    href: campaign.uri + "/sessions",
    current: view == "sessions"
  }, {
    text: __("campaign.vaccinations.title"),
    href: campaign.uri + "/vaccinations",
    current: view == "vaccinations"
  }, {
    text: __("campaign.uploads.title"),
    href: campaign.uri + "/uploads",
    current: view == "uploads"
  } if data.features.uploads.on]
}) }}
