{% extends "_layouts/default.njk" %}

{% set paths = { back: "/home" } if data.token.role == UserRole.DataConsumer %}
{% set title = campaign.name + " – " + __("campaign.cohort.title") %}
{% set view = "cohort" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("campaign.list.title"),
      href: "/campaigns"
    }],
    text: campaign.name,
    href: campaign.uri
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: campaign.name,
    summary: campaign.year
  }) }}

  {% include "campaigns/_secondary-navigation.njk" %}

  <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
    {{ __("campaign.cohort.title") }}
  </h2>

  {{ actionList({
    items: [{
      href: campaign.uri + "/cohort/new",
      text: __("cohort.new.label")
    }]
  }) if data.token.role != UserRole.DataConsumer }}

  {% if cohort.length %}
    {% set cohortRows = [] %}
    {% for patient in cohort %}
      {% set outcome = enumKeyAndValue(PatientOutcome, patient.outcome.value) %}
      {% set tagColor = __("outcome." + outcome.key + ".colour") %}
      {% set cohortRows = cohortRows | push([
        {
          header: __("record.fullName.label"),
          html: patient.link.fullName
        },
        {
          header: __("record.nhsn.label"),
          html: patient.record.formatted.nhsn or "Not provided"
        },
        {
          header: __("record.dob.label"),
          html: patient.record.formatted.dob
        },
        {
          header: __("outcome.label"),
          html: tag({
            classes: "nhsuk-tag--" + tagColor,
            text: patient.outcome.value
          })
        },
        {
          header: __("record.actions.label"),
          html: actionList({
            items: [{
              text: "Remove",
              href: "#"
            }]
          }) if not patient.session_id else " "
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      id: "cohort",
      heading: __n("campaign.cohort.count", cohort.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("record.fullName.label") },
        { text: __("record.nhsn.label") },
        { text: __("record.dob.label") },
        { text: __("outcome.label") },
        {
          text: __("record.actions.label"),
          attributes: { "no-sort": "no-sort" }
        }
      ],
      rows: cohortRows
    }) }}
  {% else %}
    {{ __n("campaign.cohort.count", cohort.length) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
