{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("campaign.edit.confirm") %}
{% set paths = { back: campaign.uri } %}
{% set title = __("campaign.edit.title") %}

{% block form %}
  {{ super() }}

  {{ heading({
    title: title
  }) }}

  {{ card({
    heading: __("campaign.edit.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(campaign, {
        name: {
          href: campaign.uri + "/edit/details"
        },
        type: {
          href: campaign.uri + "/edit/details"
        },
        year: {
          href: campaign.uri + "/edit/details"
        },
        start: {
          href: campaign.uri + "/edit/period"
        },
        end: {
          href: campaign.uri + "/edit/period"
        },
        vaccines: {
          href: campaign.uri + "/edit/vaccines"
        }
      })
    })
  }) }}
{% endblock %}
