{% extends "_layouts/default.njk" %}

{% set title = __("campaign.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {% set campaignRows = [] %}
  {% for campaign in campaigns | sort(false, false, "name") %}
    {% set campaignRows = campaignRows | push([
      {
        header: __("campaign.type.label"),
        html: campaign.link.typeAndYear
      },
      {
        header: __("campaign.vaccines.label"),
        html: campaign.formatted.vaccines or "Not provided"
      }
    ]) %}
  {% endfor %}

  {{ actionTable({
    id: "campaigns",
    sort: "name",
    heading: __("campaign.list.active"),
    panel: true,
    responsive: true,
    head: [
      { text: __("campaign.type.label") },
      { text: __("campaign.vaccines.label") }
    ],
    rows: campaignRows
  }) }}
{% endblock %}
