{% extends "_layouts/default.njk" %}

{% set isDataConsumer = data.token.role == UserRole.DataConsumer %}
{% set paths = { back: "/home" } if isDataConsumer %}
{% set title = campaign.type + " – " + __("campaign.show.title") %}
{% set view = "show" %}

{% block beforeContent %}
  {{ breadcrumb({
    text: __("campaign.list.title"),
    href: "/campaigns"
  }) if data.token.role != UserRole.DataConsumer }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: campaign.type
  }) }}

  {% if isDataConsumer %}
    {{ actionList({
      items: [{
        href: campaign.uri + "/download/new",
        text: __("download.new.label")
      }]
    }) }}
  {% else %}
    {% include "campaigns/_secondary-navigation.njk" %}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("campaign.show.title") }}
    </h2>

    {{ actionList({
      items: [{
        href: campaign.uri + "/download/new",
        text: __("download.new.label")
      } if vaccinations.length,
      {
        text: __("campaign.edit.title"),
        href: campaign.uri + "/edit"
      }]
    }) }}
  {% endif %}

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        classes: "app-card--data app-card--reversed",
        clickable: true if not isDataConsumer,
        heading: __("campaign.cohorts.title"),
        headingClasses: "nhsuk-heading-xs",
        href: campaign.uri + "/cohorts" if not isDataConsumer,
        description: campaign.cohort.length or "0"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        classes: "app-card--data app-card--reversed",
        clickable: true if not isDataConsumer,
        heading: "Sessions completed",
        headingClasses: "nhsuk-heading-xs",
        href: campaign.uri + "/sessions" if not isDataConsumer,
        description: sessions | where("status", SessionStatus.Completed) | length or "0"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        classes: "app-card--data app-card--reversed",
        clickable: true if not isDataConsumer,
        heading: __("campaign.vaccinations.title"),
        headingClasses: "nhsuk-heading-xs",
        href: campaign.uri + "/vaccinations" if not isDataConsumer,
        description: vaccinations.length or "0"
      }) }}
    </div>

  {% if sessions.length %}
    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        classes: "app-card--data",
        heading: "Consent requests and reminders sent",
        headingClasses: "nhsuk-heading-xs",
        description: "1671"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        classes: "app-card--data",
        heading: "Consent given (versus refused or no response)",
        headingClasses: "nhsuk-heading-xs",
        description: "78%"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        classes: "app-card--data",
        heading: "Responses received and triaged",
        headingClasses: "nhsuk-heading-xs",
        description: "98%"
      }) }}
    </div>
  {% endif %}
  </div>

  {% if sessions.length %}
    {{ table({
      heading: "Reasons for refusal",
      panel: true,
      head: [
        { text: __("reply.refusalReason.label") },
        { text: "Frequency", format: "numeric" }
      ],
      rows: [
        [
          { text: ReplyRefusal.Gelatine },
          { text: "11.1%", format: "numeric" }
        ] if campaign.type == CampaignType.FLU,
        [
          { text: ReplyRefusal.AlreadyGiven },
          { text: "2.0%", format: "numeric" }
        ],
        [
          { text: ReplyRefusal.GettingElsewhere },
          { text: "3.6%", format: "numeric" }
        ],
        [
          { text: ReplyRefusal.Medical },
          { text: "1.0%", format: "numeric" }
        ],
        [
          { text: ReplyRefusal.Personal },
          { text: "5.1%", format: "numeric" }
        ],
        [
          { text: ReplyRefusal.Other },
          { text: "1.1%", format: "numeric" }
        ]
      ]
    }) }}

    {% set questionRows = [] %}
    {% for healthQuestion in campaign.vaccine.healthQuestions %}
      {% set questionRows = questionRows | push([
        {
          text: healthQuestion
        },
        {
          text: ["0.21","0.57","3.45","1.89"] | random + "%",
          format: "numeric"
        }
      ]) %}
    {% endfor %}

    {{ table({
      heading: "Consent journey",
      panel: true,
      head: [
        { text: "Question" },
        { html: "Dropout", format: "numeric" }
      ],
      rows: questionRows
    }) }}
  {% endif %}
{% endblock %}
