.app-header__navigation-item--divider {
  margin-left: auto;
}

.nhsuk-header__navigation-link[aria-current]:not(:focus):not(:active) {
  border-bottom: nhsuk-spacing(1) solid $nhsuk-border-color;
  text-decoration: none;

  .nhsuk-header__drop-down & {
    border-bottom-color: transparent;
  }
}
