.app-patients {
  align-items: start;
  display: flex;
  gap: nhsuk-spacing(4);
  flex-wrap: wrap;

  & .app-patients__filters {
    align-self: stretch;
    flex-basis: 16rem;
    flex-grow: 1;
  }

  & .app-patients__table {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 70%;
  }

  & .nhsuk-card--feature,
  & .nhsuk-table__panel-with-heading-tab {
    margin-bottom: nhsuk-spacing(2);
    margin-top: nhsuk-spacing(2);
  }

  & .nhsuk-card__content,
  & .nhsuk-table__panel-with-heading-tab {
    padding: nhsuk-spacing(4);
  }

  & .nhsuk-card__heading--feature {
    left: #{nhsuk-spacing(4) * -1 - 1px};
    padding-left: nhsuk-spacing(4);
  }

  & .nhsuk-table__heading-tab {
    margin-left: #{nhsuk-spacing(4) * -1 - 1px};
    padding-left: nhsuk-spacing(4);
  }
}
