.app-table--csv {
  i {
    color: shade($color_nhsuk-red, 50%);
    font-family: ui-monospace, monospace;
    font-style: normal;
    font-weight: 500;
    padding: 2px;
  }
}

.app-table--small {
  th,
  td {
    @include nhsuk-typography-responsive(16);
    @include nhsuk-responsive-padding(2, "bottom");
    @include nhsuk-responsive-padding(3, "right");
    @include nhsuk-responsive-padding(2, "top");
  }

  caption {
    @include nhsuk-font($size: 19, $weight: bold);
  }
}

.nhsuk-table__row:hover {
  background: none;
}

.nhsuk-table__cell .nhsuk-button {
  margin-bottom: 0;
  margin-top: -4px;

  &:active {
    margin-top: -3px;
  }
}

.app-table__cell--muted {
  background-color: $color_nhsuk-grey-5;
  color: $nhsuk-secondary-text-color;
}
