.app-table--csv {
  i {
    color: shade($color_nhsuk-red, 50%);
    font-family: ui-monospace, monospace;
    font-style: normal;
    font-weight: 500;
    padding: 2px;
  }
}

.app-table--small {
  th,
  td {
    @include nhsuk-typography-responsive(16);
    @include nhsuk-responsive-padding(2, "bottom");
    @include nhsuk-responsive-padding(3, "right");
    @include nhsuk-responsive-padding(2, "top");
  }

  caption {
    @include nhsuk-font($size: 19, $weight: bold);
  }
}

.nhsuk-table__row:hover {
  background: none;
}

.app-table--select-cohort {
  .nhsuk-form-group {
    margin-bottom: 0;
  }

  .nhsuk-table__cell,
  th {
    padding-bottom: nhsuk-spacing(1);
    padding-top: nhsuk-spacing(1);
    vertical-align: middle;
  }

  .nhsuk-checkboxes {
    padding: 0;
    transform: scale(0.75);
    transform-origin: center left;
  }

  .nhsuk-checkboxes__item {
    padding: 0;
  }
}
