{% call fieldset({
  legend: {
    classes: "nhsuk-fieldset__legend--s",
    text: "Filter results"
  }
}) %}
  {{ input({
    id: "name",
    name: "name",
    type: "search",
    label: { text: "Name" }
  }) }}

  {{ input({
    id: "dob",
    name: "dob",
    type: "search",
    label: { text: "Date of birth" },
    hint: {
      classes: "nhsuk-u-font-size-16",
      text: "e.g. 2005 or 01/03/2014"
    }
  }) }}

  {{ checkboxes({
    name: "yearGroup",
    fieldset: {
      legend: { text: "Year group" }
    },
    items: cohortItems
  }) }}

  {{ checkboxes({
    name: "status",
    fieldset: {
      legend: { text: "Status" }
    },
    items: [
      { value: "Ready for vaccinator", text: "Ready for vaccinator" },
      { value: "Do not vaccinate", text: "Do not vaccinate" },
      { value: "Request failed", text: "Request failed" },
      { value: "No response", text: "No response" },
      { value: "Conflicting consent", text: "Conflicting consent" },
      { value: "Needs triage", text: "Needs triage" }
    ]
  }) }}

  {{ button({
    classes: "nhsuk-button--secondary app-button--small nhsuk-u-margin-0",
    type: "reset",
    text: "Reset filters"
  }) }}
{% endcall %}
