{% from "components/button/macro.njk" import button %}
{% from "_macros/count.njk" import count %}
{% from "_macros/heading.njk" import heading %}
{% from "_macros/secondary-navigation.njk" import secondaryNavigation %}

{% macro programmeNavigation(params) %}
  {{ heading({
    summary: params.programme.year,
    title: params.programme.name
  }) }}

  {% if not params.isDataConsumer %}
    {{ secondaryNavigation({
      items: [{
        text: __("programme.show.label"),
        href: params.programme.uri,
        current: params.view == "show"
      }, {
        text: __("programme.cohorts.label"),
        href: params.programme.uri + "/cohorts",
        current: params.view == "cohorts"
      }, {
        text: __("programme.sessions.label"),
        href: params.programme.uri + "/sessions",
        current: params.view == "sessions"
      }, {
        text: __("programme.patientSessions.label"),
        href: params.programme.uri + "/patients",
        current: params.view == "patients"
      }, {
        text: __("programme.vaccinations.label"),
        href: params.programme.uri + "/vaccinations",
        current: params.view == "vaccinations"
      }]
    }) }}

    <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
      {{ __("programme." + params.view + ".title") }}
    </h2>
  {% endif %}
{% endmacro %}
