{{ xGovukSecondaryNavigation({
  items: [{
    text: __("programme.show.label"),
    href: programme.uri,
    current: view == "show"
  }, {
    text: __("programme.cohorts.label"),
    href: programme.uri + "/cohorts",
    current: view == "cohorts"
  }, {
    text: __("programme.sessions.label"),
    href: programme.uri + "/sessions",
    current: view == "sessions"
  }, {
    text: __("programme.patients.label"),
    href: programme.uri + "/patients",
    current: view == "patients"
  }, {
    text: __("programme.vaccinations.label"),
    href: programme.uri + "/vaccinations",
    current: view == "vaccinations"
  }, {
    text: __("programme.imports.label"),
    href: programme.uri + "/imports",
    current: view == "imports"
  }, {
    text: (__("programme.reviews.label") + " " + count(programme.reviews.length)) | safe,
    href: programme.uri + "/reviews",
    current: view == "reviews"
  } if programme.reviews.length]
}) }}
