{% from "programme/_navigation.njk" import programmeNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = programme.name + " – " + __("programme.cohorts.title") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }],
    text: programme.name,
    href: programme.uri
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ programmeNavigation({
    programme: programme,
    view: "cohorts"
  }) }}

  {{ button({
    classes: "nhsuk-button--secondary",
    text: __("cohort.upload.label"),
    href: programme.uri + "/uploads/new?type=" + UploadType.Cohort
  }) }}

  <ul class="nhsuk-grid-row nhsuk-card-group">
  {% for cohort in programme.cohorts | sort(false, false, "yearGroup") %}
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: cohort.formatted.yearGroup,
        headingLevel: 3,
        href: cohort.uri,
        descriptionHtml: __n("cohort.patients.count", cohort.patients.length)
      }) }}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
