{% extends "_layouts/default.njk" %}

{% set title = __("programme.list.title") %}

{% block content %}
  {{ super() }}

  {{ appHeading({
    size: "xl",
    title: title
  }) }}

  {% for year, programmes in programmes | reverse | groupby("year") %}
    {% set programmeRows = [] %}
    {% for programme in programmes | reverse | sort(false, false, "name") %}
      {% set programmeRows = programmeRows | push([
        {
          header: __("programme.name.label"),
          html: programme.link.name
        },
        {
          header: __("programme.patients.label"),
          text: programme.patientSessions.length or "0",
          format: "numeric"
        },
        {
          header: PatientOutcome.Vaccinated,
          text: programme.report(PatientOutcome.Vaccinated).length or "0",
          format: "numeric"
        },
        {
          header: PatientOutcome.CouldNotVaccinate,
          text: programme.report(PatientOutcome.CouldNotVaccinate).length or "0",
          format: "numeric"
        },
        {
          header: PatientOutcome.NoOutcomeYet,
          text: programme.report(PatientOutcome.NoOutcomeYet).length or "0",
          format: "numeric"
        }
      ]) %}
    {% endfor %}

    {{ table({
      id: "programmes",
      heading: year,
      headingLevel: 2,
      panel: true,
      responsive: true,
      head: [
        {
          text: __("programme.name.label"),
          attributes: {
            style: "width: 33%"
          }
        },
        {
          text: __("programme.patients.label"),
          format: "numeric"
        },
        {
          text: PatientOutcome.Vaccinated,
          format: "numeric"
        },
        {
          text: PatientOutcome.CouldNotVaccinate,
          format: "numeric"
        },
        {
          text: PatientOutcome.NoOutcomeYet,
          format: "numeric"
        }
      ],
      rows: programmeRows
    }) }}
  {% endfor %}
{% endblock %}
