{% extends "_layouts/default.njk" %}

{% set title = __("programme.list.title") %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {% for year, programmes in programmes | groupby("year") %}
    {% set programmeRows = [] %}
    {% for programme in programmes | sort(false, false, "name") %}
      {% set programmeRows = programmeRows | push([
        {
          header: __("programme.name.label"),
          html: programme.link.name
        },
        {
          header: __("programme.patients.label"),
          text: programme.patientSessions.length or "0",
          attributes: {
            width: "25%"
          }
        },
        {
          header: PatientOutcome.Vaccinated,
          text: programme.outcome(PatientOutcome.Vaccinated).length or "0",
          attributes: {
            width: "25%"
          }
        },
        {
          header: PatientOutcome.CouldNotVaccinate,
          text: programme.outcome(PatientOutcome.CouldNotVaccinate).length or "0",
          attributes: {
            width: "25%"
          }
        },
        {
          header: PatientOutcome.NoOutcomeYet,
          text: programme.outcome(PatientOutcome.NoOutcomeYet).length or "0",
          attributes: {
            width: "25%"
          }
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      id: "programmes",
      heading: year,
      panel: true,
      responsive: true,
      head: [
        {
          text: __("programme.name.label"),
          attributes: {
            style: "width: 40%"
          }
        },
        { text: __("programme.patients.label") },
        { text: PatientOutcome.Vaccinated },
        { text: PatientOutcome.CouldNotVaccinate },
        { text: PatientOutcome.NoOutcomeYet }
      ],
      rows: programmeRows
    }) }}
  {% endfor %}
{% endblock %}
