{% from "patient/_search.njk" import patientSearch with context %}
{% from "programme/_navigation.njk" import programmeNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = programme.name + " – " + __("programme.patientSessions.title") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }],
    text: programme.name,
    href: programme.uri
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ programmeNavigation({
    programme: programme,
    view: "patients"
  }) }}

  {{ button({
    classes: "app-button--secondary nhsuk-u-margin-0",
    text: __("cohort.upload.label"),
    href: programme.uri + "/uploads/new?type=" + UploadType.Cohort
  }) }}

  {{ patientSearch({
    clear: programme.uri + "/patients"
  }) }}

  {% if results.page.length %}
    {% set resultRows = [] %}
    {% for patientSession in results.page %}
      {% set resultRows = resultRows | push([
        {
          header: __("patient.fullName.label"),
          html: patientSession.link.fullName | highlightQuery(data.q),
          attributes: {
            "data-sort": patientSession.patient.fullName
          }
        },
        {
          header: __("patient.dob.label"),
          html: patientSession.patient.formatted.dob or "Not provided"
        },
        {
          header: __("patient.yearGroup.label"),
          html: patientSession.patient.formatted.yearGroupWithRegistration,
          attributes: {
            "data-sort": patientSession.patient.yearGroup
          }
        },
        {
          header: __("session.status.label"),
          text: patientStatus(patientSession).title
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      id: "programme-patients",
      sort: "name",
      heading: __n("patient.count", programme.patientSessions.length),
      responsive: true,
      panel: true,
      head: [
        { text: __("patient.fullName.label"),
          attributes: {
            "data-col": "name"
          }
        },
        { text: __("patient.dob.label") },
        {
          text: __("patient.yearGroup.label"),
          attributes: {
            "data-col": "yearGroup"
          }
        },
        { text: __("session.status.label") }
      ],
      rows: resultRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __("patient.results", { results: results }) | nhsukMarkdown }}
  {% else %}
    {{ card({
      heading: __n("patient.count", results.count),
      headingClasses: "nhsuk-heading-s",
      feature: true,
      description: __("patient.search.empty")
    }) }}
  {% endif %}
{% endblock %}
