{% from "_macros/patient-search.njk" import patientSearch with context %}
{% from "programme/_navigation.njk" import programmeNavigation with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = programme.name + " – " + __("programme.patientSessions.title") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }],
    text: programme.name,
    href: programme.uri
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ programmeNavigation({
    programme: programme,
    view: "patients"
  }) }}

  <div class="app-grid-row">
    <auto-submit class="app-grid-column-filters">
      {{ patientSearch({
        clear: programme.uri + "/patients",
        status: "report"
      }) }}
    </auto-submit>

    <div class="app-grid-column-results">
      {{ heading({
        level: 2,
        size: "m",
        title: __("search.results"),
        summary: __mf("patient.results", {
          from: results.from,
          to: results.to,
          count: results.count
        }) | safe
      }) }}

      {% for patientSession in results.page %}
        {{ card({
          classes: "app-card--patient",
          heading: patientSession.patient.fullAndPreferredNames | highlightQuery(data.q),
          headingClasses: "nhsuk-heading-s",
          href: patientSession.uri,
          descriptionHtml: summaryList({
            rows: summaryRows(patientSession.patient, {
              dob: {},
              yearGroup: {},
              nextActivity: {
                value: patientSession.nextActivity
              },
              status: {
                label: __("patientSession.report.label"),
                value: patientSession.formatted.status.report
              }
            })
          })
        }) }}
      {% endfor %}

      {{ govukPagination(pages) }}
    </div>
  </div>
{% endblock %}
