{% extends "_layouts/default.njk" %}

{% set title = programme.name + " – " + __("programme.reviews.title") %}
{% set view = "reviews" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }],
    text: programme.name,
    href: programme.uri
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: programme.name
  }) }}

  {% include "programme/_secondary-navigation.njk" %}

  <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
    {{ __("programme.reviews.title") }}
  </h2>

  {% if programme.reviews.length %}
    {% set reviewRows = [] %}
    {% for record in programme.reviews %}
      {% set reviewRows = reviewRows | push([
        {
          header: __("record.fullName.label"),
          html: record.fullName
        },
        {
          header: __("upload.issue.label"),
          html: __("upload.issue.text")
        },
        {
          header: __("actions.label"),
          html: actionList({
            items: [{
              text: __("actions.review"),
              href: "#"
            }]
          })
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      id: "reviews",
      sort: "name",
      heading: __n("programme.reviews.count", programme.reviews.length),
      panel: true,
      responsive: true,
      head: [
        {
          text: __("record.label"),
          attributes: { "no-sort": "no-sort" }
        },
        {
          text: __("upload.issue.label"),
          attributes: { "no-sort": "no-sort" }
        },
        {
          text: __("actions.label"),
          attributes: { "no-sort": "no-sort" }
        }
      ],
      rows: reviewRows
    }) }}
  {% else %}
    {{ __n("programme.reviews.count", 0) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
