{% extends "_layouts/default.njk" %}

{% set title = programme.name + " – " + __("programme.vaccinations.title") %}
{% set view = "vaccinations" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }],
    text: programme.name,
    href: programme.uri
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ heading({
    title: programme.name
  }) }}

  {% include "programme/_secondary-navigation.njk" %}

  <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
    {{ __("programme.vaccinations.title") }}
  </h2>

  {{ button({
    classes: "app-button--secondary nhsuk-u-margin-bottom-0",
    text: __("vaccination.import.label"),
    href: programme.uri + "/imports/new?type=" + ImportType.Report
  }) }}

  {% set hasMissingNhsNumber = programme.vaccinations | where("record.hasMissingNhsNumber", true) %}

  {{ insetText({
    classes: "nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4",
    html: __n("record.hasMissingNhsNumber.count", hasMissingNhsNumber | length) | nhsukMarkdown
  }) if hasMissingNhsNumber.length }}

  {% if programme.vaccinations.length %}
    {% set resultRows = [] %}
    {% for vaccination in results.page %}
      {% set resultRows = resultRows | push([
        {
          header: __("record.fullName.label"),
          html: link(vaccination.uri, vaccination.patient.fullName)
        },
        {
          header: __("record.nhsn.label"),
          html: vaccination.patient.formatted.nhsn or "Not provided"
        },
        {
          header: __("record.dob.label"),
          html: vaccination.patient.formatted.dob or "Not provided"
        },
        {
          header: __("record.postalCode.label"),
          html: vaccination.patient.postalCode or "Not provided"
        },
        {
          header: __("vaccination.created.label"),
          html: vaccination.formatted.created_date
        }
      ]) %}
    {% endfor %}

    {{ actionTable({
      classes: "nhsuk-u-margin-bottom-6",
      id: "vaccinations",
      sort: "name",
      heading: __n("vaccination.count", programme.vaccinations.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("record.fullName.label") },
        { text: __("record.nhsn.label") },
        { text: __("record.dob.label") },
        { text: __("record.postalCode.label") },
        { text: __("vaccination.created.label") }
      ],
      rows: resultRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __("vaccination.results", { results: results }) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
