{% from "programme/_navigation.njk" import programmeNavigation with context %}

{% extends "_layouts/default.njk" %}

{% set title = programme.name + " – " + __("programme.vaccinations.title") %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("programme.list.title"),
      href: "/programmes"
    }],
    text: programme.name,
    href: programme.uri
  }) }}
{% endblock %}

{% block content %}
  {{ super() }}

  {{ programmeNavigation({
    programme: programme,
    view: "vaccinations"
  }) }}

  {{ button({
    classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-0",
    text: __("vaccination.upload.label"),
    href: programme.uri + "/uploads/new?type=" + UploadType.Report
  }) }}

  {% set hasMissingNhsNumber = programme.vaccinations | where("patient.hasMissingNhsNumber", true) %}

  {{ insetText({
    classes: "nhsuk-u-margin-top-6",
    html: __n("patient.hasMissingNhsNumber.count", hasMissingNhsNumber | length) | nhsukMarkdown
  }) if hasMissingNhsNumber.length }}

  {% if programme.vaccinations.length %}
    {% set resultRows = [] %}
    {% for vaccination in results.page %}
      {% set resultRows = resultRows | push([
        {
          header: __("patient.fullNameAndNhsn.label"),
          html: vaccination.link.fullNameAndNhsn
        },
        {
          header: __("patient.dob.label"),
          html: vaccination.patient.formatted.dob or "Not provided"
        },
        {
          header: __("patient.postalCode.label"),
          html: vaccination.patient.postalCode or "Not provided"
        },
        {
          header: __("vaccination.createdAt.label"),
          html: vaccination.formatted.createdAt_date
        }
      ]) %}
    {% endfor %}

    {{ table({
      classes: "nhsuk-u-margin-bottom-6",
      id: "vaccinations",
      heading: __n("vaccination.count", programme.vaccinations.length),
      panel: true,
      responsive: true,
      head: [
        { text: __("patient.fullNameAndNhsn.label") },
        { text: __("patient.dob.label") },
        { text: __("patient.postalCode.label") },
        { text: __("vaccination.createdAt.label") }
      ],
      rows: resultRows
    }) }}

    {{ govukPagination(pages) }}

    {{ __mf("vaccination.results", {
      from: results.from,
      to: results.to,
      count: results.count
    }) | nhsukMarkdown }}
  {% endif %}
{% endblock %}
