{% extends "_layouts/form.njk" %}

{% if reply.relationship | arrayOrStringIncludes("Child") %}
  {% set title = __("reply.decision.title.Child", { programme: programme }) %}
{% else %}
  {% set title = __("reply.decision.title.Parent", { programme: programme, patient: patient }) %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: patient.record.fullName,
          title: title
        })
      }
    },
    items: [{
      text: "Yes",
      value: ReplyDecision.Given
    }, {
      text: "No",
      value: ReplyDecision.Refused
    }, {
      divider: "or"
    }, {
      text: "No response",
      value: ReplyDecision.NoResponse
    }],
    decorate: "reply.decision"
  }) }}
{% endblock %}
