{% extends "_layouts/form.njk" %}

{% set title = __("reply.healthAnswers.title") %}

{% macro questions(healthQuestions) %}
  {% for key, value in healthQuestions %}
    {{ radios({
      fieldset: {
        legend: { text: __("healthQuestions." + key + ".label") }
      },
      items: [
        {
          text: __("reply.healthAnswers.yes"),
          conditional: {
            html: textarea({
              label: { text: __("reply.healthAnswers.details") },
              decorate: ["reply", "healthAnswers", key, "details"]
            })
          } if not programme.vaccine.healthQuestions[key].conditional else {
            html: questions(programme.vaccine.healthQuestions[key].conditional)
          }
        },
        {
          text: __("reply.healthAnswers.no")
        }
      ],
      decorate: ["reply", "healthAnswers", key, "answer"]
    }) }}
  {% endfor %}
{% endmacro %}

{% block form %}
  {{ heading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ questions(programme.vaccine.healthQuestions) }}
{% endblock %}
