{% extends "_layouts/form.njk" %}

{% set title = __("reply.healthAnswers.title") %}

{% block form %}
  {{ heading({
    caption: patient.fullName,
    title: title
  }) }}

  {% for key, healthQuestion in healthQuestions(programme) %}
    {{ radios({
      classes: "nhsuk-radios--inline",
      fieldset: {
        legend: { text: healthQuestion }
      },
      items: [
        {
          text: "Yes",
          conditional: {
            html: textarea({
              label: { text: __("reply.healthAnswers.details") },
              decorate: ["reply", "healthAnswers", key]
            })
          }
        },
        {
          text: "No"
        }
      ],
      decorate: ["healthAnswers", key]
    }) }}
  {% endfor %}
{% endblock %}
