{% extends "_layouts/form.njk" %}

{% set title = __("parent.notify.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: booleanItems,
    decorate: "reply.parent.notify"
  }) }}
{% endblock %}
