{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("reply.outcome.title") %}

{% block form %}
  {{ heading({
    caption: __("reply.show.title", reply.fullName),
    title: title
  }) }}

  {{ textarea({
    label: { text: __("reply.note.label") },
    decorate: "reply.note"
  }) }}

  {{ radios({
    classes: "nhsuk-radios--inline",
    fieldset: {
      legend: { text: __("reply.confirmed.label") }
    },
    items: booleanItems,
    decorate: "reply.confirmed"
  }) }}
{% endblock %}
