{% extends "_layouts/form.njk" %}

{% set title = __("reply.refusalReasonDetails.title." + reply.refusalReason) %}

{% block form %}
  {{ textarea({
    label: {
      html: heading({
        caption: patient.fullName,
        title: title
      })
    },
    decorate: "reply.refusalReasonDetails"
  }) }}
{% endblock %}
