{% extends "_layouts/form.njk" %}

{% set title = __("triage.label", { patient: patient }) %}

{% block form %}
  {{ heading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ radios({
    fieldset: {
      legend: { text: __("triage.outcome.label") }
    },
    items: triageOutcomeItems(patientSession),
    decorate: "triage.outcome"
  }) }}

  {{ textarea({
    label: {
      classes: "nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-6",
      text: __("triage.note.label") + " (optional)"
    },
    rows: 5,
    decorate: "triage.note"
  }) }}
{% endblock %}
