{% extends "_layouts/default.njk" %}

{% set title = serviceName + " (Mavis)" %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  {{ warningCallout({
    heading: __("notice.list.title"),
    HTML: link("/uploads/notices", __n("notice.warning", notices.length), {
      classes: "nhsuk-link--no-visited-state"
    }) | nhsukMarkdown
  }) if notices.length }}

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("programme.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/programmes",
        descriptionHtml: __("programme.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("session.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/sessions",
        descriptionHtml: __("session.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("patient.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/patients",
        descriptionHtml: __("patient.list.description") | nhsukMarkdown
      }) }}
    </li>
  </ul>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("consent.list.title"),
        headingClasses: "nhsuk-heading-s",
        href: "/consents",
        descriptionHtml: __("consent.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("move.list.title"),
        headingClasses: "nhsuk-heading-s",
        href: "/moves",
        descriptionHtml: __("move.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("upload.list.title"),
        headingClasses: "nhsuk-heading-s",
        href: "/uploads",
        descriptionHtml: __("upload.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("vaccine.list.title"),
        headingClasses: "nhsuk-heading-s",
        href: "/vaccines",
        descriptionHtml: __("vaccine.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("organisation.show.title"),
        headingClasses: "nhsuk-heading-s",
        href: "/organisations/" + data.organisation.code,
        descriptionHtml: __("organisation.show.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        secondary: true,
        heading: __("manual.show.title"),
        headingClasses: "nhsuk-heading-s",
        href: "https://guide.manage-vaccinations-in-schools.nhs.uk",
        descriptionHtml: __("manual.show.description") | nhsukMarkdown
      }) }}
    </li>
  </ul>
{% endblock %}
