{% extends "_layouts/default.njk" %}

{% set title = serviceName + " (Mavis)" %}

{% block content %}
  {{ super() }}

  {{ heading({
    size: "xl",
    title: title
  }) }}

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("programme.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/programmes",
        descriptionHtml: __("programme.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("cohort.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/cohorts",
        descriptionHtml: __("cohort.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("session.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/sessions",
        descriptionHtml: __("session.list.description") | nhsukMarkdown
      }) }}
    </li>
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      {{ card({
        clickable: true,
        heading: __("vaccine.list.title"),
        headingClasses: "nhsuk-heading-m",
        href: "/vaccines",
        descriptionHtml: __("vaccine.list.description") | nhsukMarkdown
      }) }}
    </li>
  </ul>
{% endblock %}
