{% extends "_layouts/default.njk" %}

{% set assetsName = "prototype" %}
{% set environment = false %}
{% set title = serviceName + " (Mavis)" %}
{% set headerOptions = {
  service: {
    text: serviceName
  }
} %}

{% block main %}
  {{ hero({
    heading: serviceName + " prototype",
    text: "Manage vaccinations in schools (Mavis) is a digital tool designed to help school age immunisation service (SAIS) teams manage their vaccination programmes end to end."
  }) }}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      {{ appHeading({
        level: 2,
        title: serviceName,
        size: "m"
      }) }}

      {{ actionLink({
        text: "Start page for nurses and administrators",
        href: "/start"
      }) }}

      {% set roleItems = [] %}
      {% for role in enumItems(UserRole) %}
        {% set roleItems = roleItems | push({
          href: "/account/sign-in?role=" + role.value,
          text: role.text
        }) %}
      {% endfor %}

      {{ "Log in to the service with the following role:" | nhsukMarkdown }}

      {{ contentsList({
        classes: "nhsuk-u-margin-left-1",
        items: roleItems
      }) }}

      <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

      {{ appHeading({
        level: 2,
        title: "Give or refuse consent for vaccinations",
        size: "m"
      }) }}

      {% for programmePreset, preset in ProgrammePreset %}
        {% if preset.active %}
          {{ actionLink({
            classes: "nhsuk-u-margin-bottom-2",
            text: "Start page for parents to give or refuse consent for " + preset.name | replace("Flu", "flu"),
            href: navigation.consentUrl[programmePreset] + "/start"
          }) }}

          {{ contentsList({
            classes: "nhsuk-u-margin-left-1",
            items: [{
              href: navigation.consentUrl[programmePreset] + "/emails",
              text: preset.name + " consent emails"
            }, {
              href: navigation.consentUrl[programmePreset] + "/texts",
              text: preset.name + " consent text messages"
            }]
          }) }}
        {% endif %}
      {% endfor %}
    </main>
  </div>
{% endblock %}
