{% extends "_layouts/default.njk" %}

{% set public = true %}

{% block main %}
  {{ hero({
    heading: serviceName + " prototype"
  }) }}

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      {{ heading({
        level: 2,
        title: serviceName,
        size: "l"
      }) }}

      {{ contentsList({
        items: [{
          text: "Start page for nurses and administrators",
          href: "/start"
        }]
      }) }}

      {{ heading({
        level: 2,
        title: "Give or refuse consent for vaccinations",
        size: "l"
      }) }}

      {% for id, programme in data.programmes %}
        {% if id != "menacwy" and id != "td-ipv" %}
          {{ heading({
            level: 3,
            title: programme.name,
            size: "m"
          }) }}

          {{ contentsList({
            items: [{
              text: "Give or refuse consent for " + programme.name,
              href: navigation.consentUrl[programme.type]
            }, {
              href: navigation.consentUrl[programme.type] + "/emails",
              text: programme.name + " consent emails"
            }, {
              href: navigation.consentUrl[programme.type] + "/texts",
              text: programme.name + " consent text messages"
            }]
          }) }}
        {% endif %}
      {% endfor %}
      {{ heading({
        level: 3,
        title: "MenACWY and Td/IPV (doubles)",
        size: "m"
      }) }}

      {{ contentsList({
        items: [{
          text: "Give or refuse consent for MenACWY and Td/IPV",
          href: navigation.consentUrl[ProgrammeType.MenACWY]
        }, {
          href: navigation.consentUrl[ProgrammeType.MenACWY] + "/emails",
          text: "MenACWY and Td/IPV consent emails"
        }, {
          href: navigation.consentUrl[ProgrammeType.MenACWY] + "/texts",
          text: "MenACWY and Td/IPV  consent text messages"
        }]
      }) }}
    </main>
  </div>
{% endblock %}
