{% extends "_layouts/default.njk" %}

{% block header %}
  {{ serviceheader({
    homeHref: "/research"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      {{ heading({
        level: 2,
        title: "Participant consent forms",
        size: "l"
      }) }}

      {{ contentsList({
        items: [{
          href: "https://feedback.digital.nhs.uk/jfe/form/SV_eu5Gg75T4Ye1d5Q",
          text: "Young person consent form"
        }, {
          href: "https://feedback.digital.nhs.uk/jfe/form/SV_3xAALF2xrc8j1jM",
          text: "Parent consent form"
        }]
      }) }}

      {{ heading({
        level: 2,
        title: "Card sort",
        size: "l"
      }) }}

      {{ contentsList({
        items: [{
          href: "https://ows.io/os/usl1comf",
          text: "School vaccinations card sort"
        }]
      }) }}

      {{ heading({
        level: 2,
        title: "Vaccination guides",
        size: "l"
      }) }}

      {% set menacwy = data.programmes["menacwy"] %}
      {% set tdIpv = data.programmes["td-ipv"] %}
      {{ contentsList({
        items: [{
          href: menacwy.leaflet.html,
          text: "Guide to the MenACWY vaccine (HTML)"
        }, {
          href: menacwy.leaflet.pdf,
          text: "Guide to the MenACWY vaccine (PDF)"
        }, {
          href: tdIpv.leaflet.html,
          text: "Guide to the Td/IPV vaccine (HTML)"
        }, {
          href: tdIpv.leaflet.pdf,
          text: "Guide to the Td/IPV vaccine (PDF)"
        }]
      }) }}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ footer() }}
{% endblock %}
