{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("upload.new.check-answers.confirm") %}
{% set gridColumns = "full" %}
{% set title = __("upload.new.check-answers.title") %}

{% block form %}
  {{ heading({
    caption: campaign.name,
    title: title
  }) }}

{% set warningCalloutMarkdown %}
{% if invalid.length %}- {{ __n("upload.invalid.count", invalid.length) }}{% endif %}
{% if exact.length %}- {{ __n("upload.exact.count", exact.length) }}{% endif %}
{% if incomplete.length %}- {{ __n("upload.incomplete.count", incomplete.length) }}{% endif %}
{% endset %}

  {{ warningCallout({
    heading: __("upload.new.check-answers.warning"),
    HTML: warningCalloutMarkdown | nhsukMarkdown
  }) if exact.length or inexact.length or invalid.length or incomplete.length }}

  {{ button({
    text: confirmButtonText
  }) }}

  {% set inexactRecordRows = [] %}
  {% for vaccination in inexact %}
    {% set inexactRecordRows = inexactRecordRows | push([
      {
        header: __("record.fullName.label"),
        html: vaccination.record.fullName
      },
      {
        header: __("vaccination.review.issue.label"),
        html: __("vaccination.review.issue.text")
      },
      {
        header: __("vaccination.review.actions.label"),
        html: actionList({
          items: [{
            text: "Review",
            href: upload.uri + "/vaccinations/" + vaccination.uuid + "/review?referrer=" + upload.uri + "/new/check-answers"
          }]
        })
      }
    ]) %}
  {% endfor %}

  {{ actionTable({
    id: "inexact-records",
    sort: "name",
    panel: true,
    heading: __n("upload.inexact.count", inexact.length),
    responsive: true,
    head: [
      {
        text: __("record.label"),
        attributes: { "no-sort": "no-sort" }
      },
      {
        text: __("vaccination.review.issue.label"),
        attributes: { "no-sort": "no-sort" }
      },
      {
        text: __("vaccination.review.actions.label"),
        attributes: { "no-sort": "no-sort" }
      }
    ],
    rows: inexactRecordRows
  }) if inexact.length }}

  {% set newRecordRows = [] %}
  {% for vaccination in vaccinations %}
    {% set newRecordRows = newRecordRows | push([
      {
        header: __("record.fullName.label"),
        text: vaccination.record.fullName
      },
      {
        header: __("record.nhsn.label"),
        html: vaccination.record.formatted.nhsn or "Not provided"
      },
      {
        header: __("record.dob.label"),
        html: vaccination.record.formatted.dob
      },
      {
        header: __("vaccination.created.label"),
        html: vaccination.formatted.created_date
      },
      {
        header: __("vaccination.actions.label"),
        html: actionList({
          items: [{
            text: "Edit",
            href: upload.uri + "/vaccinations/" + vaccination.uuid + "/edit?referrer=" + upload.uri + "/new/check-answers"
          }]
        })
      }
    ]) %}
  {% endfor %}

  {{ actionTable({
    id: "new-records",
    sort: "name",
    panel: true,
    heading: __n("upload.new.count", vaccinations.length),
    responsive: true,
    head: [
      { text: __("record.fullName.label") },
      { text: __("record.nhsn.label") },
      { text: __("record.dob.label") },
      { text: __("vaccination.created.label") },
      {
        text: __("vaccination.actions.label"),
        attributes: {
          "no-sort": "no-sort"
        }
      }
    ],
    rows: newRecordRows
  }) }}
{% endblock %}
