{% extends "_layouts/default.njk" %}

{% set title = __("upload.devoid.title") %}
{% set paths = {
  back: programme.uri + "/uploads/new"
} %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ heading({
      caption: programme.name,
      title: title
    }) }}

    {{ __("upload.devoid.description") | nhsukMarkdown }}

    {{ link(programme.uri + "/uploads/new", __("upload.new.label")) | nhsukMarkdown }}
  </div>
{% endblock %}
