{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "_layouts/form.njk" %}

{% set programme = data.programmes[upload.programme_id] %}
{% set title = __("upload.file.title", { type: upload.type | lower }) %}

{% set templateFormat %}
  {% if upload.type == UploadType.Cohort %}
    {% include "upload/_template-format-cohort.njk" %}
  {% elif upload.type == UploadType.School %}
    {% include "upload/_template-format-school.njk" %}
  {% elif upload.type == UploadType.Report %}
    {% include "upload/_template-format-report.njk" %}
  {% endif %}
{% endset %}

{% block form %}
  {{ errorSummary({
    titleText: __("error.title"),
    errorList: errorList(errors)
  }) if errors }}

  {{ heading({
    title: title
  }) }}

  {% if upload.type == UploadType.Report %}
    {{ __("upload.file.description.report") | nhsukMarkdown }}
  {% else %}
    {{ __("upload.file.description.other", { type: upload.type | lower }) | nhsukMarkdown }}
  {% endif %}

  {{ details({
    summaryText: __("upload.file.format", { type: upload.type | lower }),
    html: templateFormat
  }) }}

  {{ govukFileUpload({
    id: "upload",
    name: "upload",
    formGroup: {
      classes: "nhsuk-u-margin-bottom-4"
    },
    label: {
      classes: "govuk-label--m",
      text: __("upload.file.label")
    },
    errorMessage: {
      text: errors.upload
    } if errors.upload
  }) }}
{% endblock %}
