{% extends "_layouts/form.njk" %}

{% set title = __("upload.school.title") %}

{% block form %}
  {{ appAutocomplete({
    label: {
      html: appHeading({
        title: title
      })
    },
    items: schoolItems(data.schools, upload.school_urn),
    decorate: "upload.school_urn"
  }) }}
{% endblock %}
