{% extends "_layouts/form.njk" %}

{% set title = __("upload.summary.title", {
  type: upload.type | lower
}) %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ __("upload.summary.description", {
    type: upload.type | lower, size: 320
  }) | nhsukMarkdown }}

  {% if upload.type == UploadType.School %}
  {% filter nhsukMarkdown %}
  Importing these class lists will:

  - move 28 children out of {{ upload.schoolName }}
  - move 17 children in to {{ upload.schoolName }}
  {% endfilter %}
  {% endif %}
{% endblock %}

{% block afterForm %}
  {{ buttonGroup({
    buttons: [{
      text: __("upload.summary.confirm", {
        type: upload.type | lower
      })
    }],
    links: [{
      text: __("upload.summary.cancel"),
      href: "/uploads"
    }]
  }) }}
{% endblock %}
