{% extends "_layouts/form.njk" %}

{% set title = __("upload.summary.title", {
  type: upload.type | lower
}) %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ __("upload.summary.description", {
    type: upload.type | lower, size: 320
  }) | nhsukMarkdown }}

  {% if upload.type == UploadType.School %}
  {% filter nhsukMarkdown %}
  Importing these class lists will:

  - Move 28 children out of {{ upload.schoolName }}
  - Move 17 children in to {{ upload.schoolName }}
  {% endfilter %}
  {% endif %}
{% endblock %}

{% block afterForm %}
  <div class="app-button-group">
    {{ button({
      text: __("upload.summary.confirm", {
        type: upload.type | lower
      })
    }) }}
    <a class="nhsuk-link" href="{{ batch.uri }}">
      {{ __("upload.summary.cancel") }}
    </a>
  </div>
{% endblock %}
