{% extends "_layouts/form.njk" %}

{% set title = __("upload.type.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        html: heading({
          caption: programme.name,
          title: title
        })
      }
    },
    items: typeItems,
    decorate: "upload.type"
  }) }}
{% endblock %}
