{% extends "_layouts/form.njk" %}

{% set title = __("upload.yearGroups.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: heading({
          title: title
        })
      }
    },
    items: yearGroupItems,
    decorate: "upload.yearGroups"
  }) | replace("govuk-", "nhsuk-") }}
{% endblock %}
