{% extends "_layouts/form.njk" %}

{% set title = __("record.address.title") %}

{% block form %}
  {% call fieldset({
    legend: {
      html: heading({
        classes: "nhsuk-fieldset__legend--l",
        caption: patient.fullName,
        title: title
      })
    }
  }) %}
    {{ input({
      label: { text: __("address.addressLine1.label") },
      autocomplete: "address-line1",
      decorate: "patient.address.addressLine1"
    }) }}

    {{ input({
      label: { text: __("address.addressLine2.label") },
      autocomplete: "address-line2",
      decorate: "patient.address.addressLine2"
    }) }}

    {{ input({
      classes: "nhsuk-u-width-two-thirds",
      label: { text: __("address.addressLevel1.label") },
      autocomplete: "address-level1",
      decorate: "patient.address.addressLevel1"
    }) }}

    {{ input({
      classes: "nhsuk-input--width-10",
      label: { text: __("address.postalCode.label") },
      autocomplete: "postal-code",
      decorate: "patient.address.postalCode"
    }) }}
  {% endcall %}
{% endblock %}
