{% extends "_layouts/form.njk" %}

{% set title = __("patient.gender.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        html: appHeading({
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: enumItems(Gender),
    decorate: "patient.gender"
  }) }}
{% endblock %}
