{% extends "_layouts/form.njk" %}

{% set title = __("record.gpSurgery.title") %}

{% block form %}
  {{ input ({
    label: {
      html: heading({
        caption: patient.fullName,
        title: title
      })
    },
    decorate: "patient.gpSurgery"
  }) }}
{% endblock %}
