{% extends "_layouts/form.njk" %}

{% set title = __("patient.fullName.title") %}

{% block form %}
  {{ heading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ input ({
    label: { text: __("patient.firstName.label") },
    decorate: "patient.firstName"
  }) }}

  {{ input ({
    label: { text: __("patient.lastName.label") },
    decorate: "patient.lastName"
  }) }}
{% endblock %}
