{% extends "_layouts/form.njk" %}

{% set title = __("patient.nhsn.title") %}

{% block form %}
  {{ input ({
    classes: "nhsuk-input--width-10 app-u-monospace",
    label: {
      html: appHeading({
        caption: patient.fullName,
        title: title
      })
    },
    value: "" if patient.hasMissingNhsNumber else patient.nhsn,
    decorate: "patient.nhsn"
  }) }}
{% endblock %}
