{% extends "_layouts/form.njk" %}

{% set parent = "parent" + parentId %}
{% set title = __("patient." + parent + ".title") %}

{% block form %}
  {{ heading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ input({
    label: { text: __("patient.parent.fullName.label") },
    decorate: "patient." + parent + ".fullName"
  }) }}

  {{ radios({
    fieldset: {
      legend: { text: __("patient.parent.relationship.label") }
    },
    items: [{
      text: ParentalRelationship.Mum
    }, {
      text: ParentalRelationship.Dad
    }, {
      text: ParentalRelationship.Guardian
    }, {
      text: ParentalRelationship.Other,
      conditional: {
        html: input({
          label: { text: __("patient.parent.relationshipOther.label") },
          decorate: "patient." + parent + ".relationshipOther"
        })
      }
    }],
    decorate: "patient." + parent + ".relationship"
  }) }}

  {{ input({
    label: { text: __("patient.parent.email.label") },
    decorate: "patient." + parent + ".email"
  }) }}

  {{ input({
    label: { text: __("patient.parent.tel.label") },
    decorate: "patient." + parent + ".tel"
  }) }}
{% endblock %}
