{% extends "_layouts/form.njk" %}

{% set title = __("patient.school.title") %}

{% block form %}
  {{ appAutocomplete({
    label: {
      classes: "nhsuk-label--l",
      html: appHeading({
        caption: patient.fullName,
        title: title
      })
    },
    items: schoolItems(data.schools, patient.school_urn),
    decorate: "patient.school_urn"
  }) }}
{% endblock %}
