{% extends "_layouts/form.njk" %}

{% set title = __("patient.school.title") %}

{% block form %}
  {{ xGovukAutocomplete({
    id: "school-urn",
    name: "[patient][school_urn]",
    value: patient.school_urn,
    allowEmpty: false,
    label: {
      classes: "nhsuk-label--l",
      html: heading({
        caption: patient.fullName,
        title: title
      })
    },
    items: urnItems
  }) | replace("govuk-", "nhsuk-") }}
{% endblock %}
