{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("campaign.new.check-answers.confirm") %}
{% set title = __("campaign.new.check-answers.title") %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ card({
    heading: __("campaign.new.check-answers.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(campaign, {
        name: {
          href: campaign.uri + "/new/details"
        },
        year: {
          href: campaign.uri + "/new/details"
        },
        formattedStart: {
          href: campaign.uri + "/new/period"
        },
        formattedEnd: {
          href: campaign.uri + "/new/period"
        },
        vaccines: {
          value: campaign.formattedVaccines | join("\n") | nl2br,
          href: campaign.uri + "/new/vaccines"
        }
      })
    })
  }) }}
{% endblock %}
