{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("campaign.new.check-answers.confirm") %}
{% set title = __("campaign.new.check-answers.title") %}

{% block form %}
  {{ heading({
    title: title
  }) }}

  {{ card({
    heading: __("campaign.new.check-answers.summary"),
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: summaryRows(campaign, {
        type: {
          href: campaign.uri + "/new/type"
        },
        vaccines: {
          href: campaign.uri + "/new/vaccines"
        }
      })
    })
  }) }}
{% endblock %}
