{% extends "_layouts/form.njk" %}

{% set title = __("campaign.type.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        html: heading({
          title: title
        })
      }
    },
    items: enumItems(CampaignType),
    decorate: "campaign.type"
  }) }}
{% endblock %}
