{% extends "_layouts/form.njk" %}

{% set title = __("campaign.vaccines.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    items: vaccineItems,
    decorate: "campaign.vaccines"
  }) }}
{% endblock %}
